<div class="st-bloc st-bloc-infos-complementaires st-wrapper st--has-margin">
    
<div class="st-component st-component-type-3">
                <div class="st-component-container">
                    <p class="st-title-small"  data-lfr-editable-id="titleLink" data-lfr-editable-type="text">Morbi quis est gravida</p>
                    <ul class="st-liens">
                        <li class="st-lien-container">
                            <a href="tel:+33 (0)3 68 98 65 60" class="st-btn st--btn-secondary st--btn-small-padding"  data-lfr-editable-id="linkTel" data-lfr-editable-type="link">
                                +33 (0)3 68 98 65 60
                            </a>
                            <a href="mailto:contact@strasbourg.eu" class="st-btn st--btn-secondary st--btn-small-padding" data-lfr-editable-id="linkMail" data-lfr-editable-type="link">
                                Contacter par mail
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
</div>