#pro-footer {
	@include addTopSlope(30px, #3a3a3a);
	background-color: $c_grey;
	padding: 40px 0 0;
	//margin-top: 20px;
	h3 {
		@include ft($f_hx, 1.3m, 700, $c_white, 1.412em);
		margin-bottom: 0;
	}
	h2.portlet-title-text {
		display: none;
	}

	p {
		color: $c_white;
		a {
			color: $c_white;
		}
	}

	.pro-logo {
		display: block;
		padding: 15px 0;
		border-top: 1px solid $c_grey50;
		a {
			display: inline-block;
			margin-bottom: 10px;
			&:focus {
				outline: 1px dashed $c_main;
			}
			svg {
				width: 225px;
				height: 58px;
			}
		}
	}

	.pro-contact {
		display: flex;
		flex-direction: column;
		gap: 10px;
		vertical-align: top;
		padding: 0 40px;

		h4 {
			@include ft($f_hx, 0.938em, 700, $c_main, normal);
			display: block;
			margin-bottom: 10px;
		}
		p, a {
			@include ft($f_txt, 0.875em, 400, $c_white, 1.714em);
			margin-bottom: 0;
		}
		a {
			font-weight: 700;
			&:hover, &:focus {
				color: #3a3a3a;
			}
		}

		@include tablet_portrait {
			padding: 0 20px;
			margin-bottom: 15px;
			div {
				display: grid;
				grid-template-rows: 1fr 1fr;
				gap: 10px;
				a {
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					line-height: normal;
				}
			}
		}
	}
	.pro-copyright {
		@include ft($f_txt, 0.8em, 700, #CCC, 1em);
		display: block;
		margin-top: 15px;
		margin-bottom: 35px;
	}

	ul {
		margin-bottom: 15px;
		@include mobile {
			margin-bottom: 30px;
		}
		li {
			display: inline-block;
			font-size: 1em;
			a {
				@include ft($f_txt, $s_p, 400, #cccccc, 1em);
				width: 100%;
				display: block;
				padding: 7px 0;
				@include addTransition();
				&:hover, &:focus {
					color: $c_main;
				}
			}
		}
	}

	.pro-footer-bottom {
		background: #2d2d2d;
		color: $c_white;
		height: 50px;
		@include tablet_portrait {
			height: auto;
		}
		.container {
			ul {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 0;
				@include tablet_portrait {
					flex-direction: column;
				}
				li {
					font-size: 1em;
					a {
						@include ft($f_txt, 0.9em, 400, $c_white, 3.5em);
						text-decoration: none;
						position: relative;
						padding: 0 20px;
						@include addTransition();
						&:hover, &:focus {
							color: $c_main;
						}
					}
				}
			}
		}
	}
}