// ==============================================

//        MIXINS / FUNCTIONS INDEX

// ==============================================

@import "mixins/colors";
@import "mixins/layout";
@import "mixins/typography";
@import "mixins/quantity-queries";
@import "mixins/others";
@import "mixins/debug";


//  Mixins theme specifics
// -----------------------------------------------


// Card au format portrait
// ==========================================================================
@mixin card-verticale() {
	flex-direction: column-reverse;
	justify-content: flex-end;

	.st-image {
		margin-bottom: 15px;
		flex-shrink: 0;
	}
}

// Card à l'Horizontale
// ==========================================================================
@mixin card-horizontale() {
	min-height: 100px;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: flex-start;
	@include btn-favorite-card();

	@include mobile {
		min-height: 80px;
		padding: 0;
	}

	.st-image {
		width: var(--image-size);
		margin-right: 10px;

		figure {
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				background: radial-gradient(circle at 100% 100%, #0F0F0F 0%, transparent 100%);
				pointer-events: none;
				border-radius: $border-radius;
				@include addTransition();

				@include mobile {
					opacity: 0.6;
				}
			}
		}
	}

	.st-caption {
		.st-surtitre-cat {
			margin-bottom: 5px;
		}
	}

	@include can-hover {
		.st-image {
			figure {
				&:after {
					opacity: 0.8;
				}
			}
		}
	}
}

// Card avec effet de box-shadow au hover
// ==========================================================================
@mixin card-shadow() {
	min-height: auto;
	padding: 10px 10px 10px 0;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: -10px;
		right: 0;
		bottom: 0;
		z-index: -1;
		display: block;
		opacity: 0;
		background-color: $c_white;
		@include shadow();
		@include addTransition();
	}

	@include can-hover {
		&:after {
			opacity: 1;
		}
	}
}


@mixin shadow() {
	box-shadow: 0 30px 60px rgba($c_dark, 0.10);
}

// Étend un bouton dans son container en version mobile
@mixin btn-full-width-mobile {
	@include mobile {
		width: 100%;
	}
}


@mixin reset-styles {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
}

@mixin reset-button {
	@include create-outline();
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;

	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background: none;
	border-radius: 0;
	text-decoration: none;
	@include addTransition();

	&:not([disabled]) {
		cursor: pointer;
	}

	&:hover {
		text-decoration: none;
	}
}


@mixin reset-select {
	@include create-outline();
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;

	background: none;
	border-radius: 0;
	appearance: none;

	&:not([disabled]) {
		cursor: pointer;
	}
}
