// Système de grille en 12 colonnes (utilisé pour le bloc colonne)
// On définit la largeur d'une colonne en ajoutant les classes sur les enfants
// -----------------------------------------------

.st-grid-12 {
	$col-max: 12; // Grille générée jusqu'à 12 colonnes
	--column-gap: var(--grid-gap); // espacement horizontal / vertical par défaut entre les enfants de la grille
	--row-gap: var(--grid-gap);
	display: grid;
	grid-template-columns: repeat($col-max, minmax(3px, 1fr));
	column-gap: var(--column-gap);
	row-gap: var(--row-gap);

	// par défaut, colonnes "stackées" en 1 colonne
	> * {
		grid-column: span $col-max;
	}

	// Génére les classes de colonnes sans suffixe : col-2, col-3...
	@for $col from 1 through $col-max {
		.st-col-#{$col} {
			grid-column: span $col;
		}
	}

	// Génére les classes de colonnes pour chaque breakpoint : col-2@mobile, col-3@mobile...
	@each $breakpoint-name in map-keys($breakpoints) {
		@include bp-up($breakpoint-name) {
			$prefix: get-breakpoint-prefix($breakpoint-name);

			@for $col from 1 through $col-max {
				.st-col-#{$col}\@#{$prefix} {
					grid-column: span $col;
				}
			}
		}
	}
}