// Le header petit décoratif avec une hauteur limité et juste le texte header
.st-small-header {
	margin-bottom: 50px;

	@include min-tablet-portrait {
		padding-top: 40px;
	}

	@include mobile {
		margin-bottom: 20px;
	}
}