// Le header petit décoratif avec une hauteur limité et juste le texte header
.st-small-header {
	margin-bottom: 50px;

	@include min-tablet-portrait {
		padding-top: 40px;
	}

	@include mobile {
		margin-bottom: 16px;
	}

	// --modifiers
	&.st--two-columns {
		row-gap: 16px;

		@include mobile {
			row-gap: 12px;
			margin-bottom: 26px;
		}
	}
}



