
.st-page-welcome {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	padding: 100px 0;
	background-color: $c_main;

	@include mobile {
		padding: 40px 0;
	}

	.st-wrapper {
		flex: 1;
	}

	.st-container {
		@include reset-styles;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding-left: 40px;
		padding-right: 40px;
		border: 1px solid rgba($c_white, 0.25);
		border-radius: $border-radius;

		@include mobile {
			padding-left: 20px;
			padding-right: 20px;
		}

		li {
			display: block;
			width: 100%;
			max-width: 100%;
			text-transform: uppercase;
			border-bottom: 1px dashed rgba($c_white, 0.25);

			a {
				@include reset-button;
				@include ft($f_txt, $s_p, 300, $c_sub, 1.5);
				display: block;
				padding: 36px 0px;

				@include mobile {
					padding: 20px 0;
				}
				@include can-hover {
					color: $c_white;
				}
			}

			&:last-of-type {
				border-bottom: none;
			}
		}
	}
}