
.st-listing-cards {
	// Grille de 2 colonnes de card horizontales
	.st-cards-wrapper.st--has-cards-horizontal {
		column-gap: 40px;
		row-gap: 20px;

		@include tablet-small {
			column-gap: 20px;
		}

		@include mobile {
			row-gap: 10px;
		}

		.st-card-container {
			height: auto;
		}
	}

	// Grille de 4 colonnes de card verticales
	.st-cards-wrapper.st--has-cards-vertical {
		column-gap: 20px;
		row-gap: 40px;

		@include mobile {
			row-gap: 10px;

			// Passage des cards en vue horizontale sur mobile
			.st-card-container {
				height: auto;
			}
			.st-card {
				@include card-horizontal();
			}
		}
	}
}
