.pro-wrapper-aside {
	background-color: #20272f;
}

aside {
	@include mobile {
		margin-bottom: 40px;
	}
	> * {
		background: #F37021;
	}
	.maps {
		width: 100%;
		height: 200px;
	}


	.pro-coup-de-coeur{
		background: $c_main;
		height: 60px;
		position: absolute;
		top: -60px;
		left: 15px;
		right: 15px;
		z-index: 100;
		width: calc(100% - 30px);
		text-align: center;
		@include mobile{
			position: relative;
			top: 0;
			width: 100%;
			left: 0;
			right: 0;
		}
		p{
			@include ft($f_txt, 0.875em, 700, $c_txt, 60px);
			display: inline-block;
			vertical-align: middle;
			&:after{
				content: "\e932";
				@include font();
				float: right;
				line-height: 60px;
				margin-left: 8px;
			}
		}
	}


	.pro-progress-bar{
		padding: 5px 0;
		.pro-progress-container{
			position: relative;
			width: 100%;
			height: 10px;
			border-radius: 6px;
			border: 1px solid $c_dark;
			background: #504f47;
			box-shadow: inset 4px 4px 5px 0px rgba(0,0,0,0.35);
			margin-bottom: 5px;
			> div{
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				background: $c_main;
				border-radius: 6px;
			}
		}
		p.pro-txt-progress{
			@include ft($f_txt, 0.75em, 700, $c_white, normal);
			margin-bottom: 15px;
			text-align: left;
			span{
				color: $c_rouge;

			}
		}
	}


	.pro-wrapper-links-petition{
		> * {
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 15px;
			}
		}
	}


	.pro-compteur {
		padding: 25px 40px;
		@include tablet_landscape {
			padding: 25px 20px;
		}

		.pro-compt {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			gap: 10px;
			span {
				text-align: center;
				padding: 25px 5px;
				background-color: white;
				border-radius: 10px;
				@include ft($f_hx, 1.875em, 700, $c_txt);
			}
		}
		p {
			margin-top:10px;
			@include ft($f_hx, 0.938em, 400, $c_white, normal);
			text-align: left;
		}
		.pro-btn-action {
			color: $c_white !important;
			background-color: #20272f;
			width: 100%;
			&:hover, &.active {
				color: $c_txt !important;
				background-color: $c_white;
			}
			&.active {
				&:after {
					@include tablet_portrait {
						right: 25px;
					}
					@include mobile {
						right: 40px;
					}
				}
			}
			&.pro-btn-disabled{
				background: #ececec;
				color: rgba($c_dark, 0.5) !important;
				border-color: #ececec;
				&:hover, &:focus {
					cursor: default;
				}
			}
		}
	}
	.pro-btn-black {
		@include ft($f_hx, 0.9em, 700, $c_white);
		align-self: stretch;
		padding: 20px;
		background-color: #20272f;
		text-align: center;
		margin-bottom: 20px;
		@include addTransitionCurve();
		&:hover {
			background-color: $c_white;
			color: #20272f;
		}
	}


	.pro-wrapper-aside-budget{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		padding: 30px 40px 45px 40px;
		p {
			@include ft($f_hx, 1em, 400, $c_white);
			margin: 0;
		}
		span {
			@include ft($f_hx, 0.8em, 400, $c_txt);
			text-transform: uppercase;
			padding: 10px;
			background-color: $c_white;
			border: solid 1px #d9d9d9;

		}


		.pro-comment-count {
			padding-top: 20px;
			border-top: solid 1px #f69459;
			width: 100%;
		}

	}


	.pro-event-comming {

		@include tablet_landscape {
			padding: 15px 20px;
		}
		p, a {
			border-bottom: solid 1px #f69459;
			&:not(:last-child) {
				border-bottom: dashed 1px #f69459;
				border-top: solid 1px #f69459;
			}
			@include ft($f_hx, 0.875em, 400, $c_white, 1.714em);
			padding: 10px 0;
			margin: 0 40px;
			display: block;
			&:after {
				content: "\23F5";
				float: right;
			}
		}
	}
	.pro-contact {
		padding: 40px;
		h4, p, a {
			color: $c_white;
			@include ft($f_hx);
		}
	}

	.pro-ticket {
		position: relative;
		padding: 20px 40px;
		background: $c_main;
		border-top: 1px solid $c_white;
		&:before {
			content: '';
			position: absolute;
			top: -5px;
			left: 0;
			right: 0;
			border-top: 10px dotted $c_white;
			display: block;
			z-index: 100;
		}
		@include tablet_landscape {
			padding: 20px;
		}
		p {
			@include ft($f_txt, $s_small, 400, $c_txt, 1.385em);
		}
	}
}