.pro-bloc-commentaires {
	h2 {
		font-size: 2.5em;
		line-height: 2em;
		margin-bottom: 25px;
		@include mobile {
			font-size: 1.500em;
			line-height: 1.5em;
			padding-bottom: 10px;
			margin: 0;
			margin-top: 20px;

		}
	}

	&::before {
		content: '';
		display: block;
		height: 40px;
		width: 100%;
		position: absolute;
		z-index: 99;
		top: 0;
		left: 0;
		background: white;
		-webkit-transform: skew(0, -1deg);
		transform: skew(0, -1deg);
		-webkit-transform-origin: top left;
		transform-origin: top left;
	}
	.row {
		.col-lg-3 {
			padding-top: 3rem !important;
			background-color: #20272F;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: -9999px;
				bottom: 0;
				width: 9999px;
				background-color: #20272F;
			}
		}
		.col-lg-9 {
			padding-top: 3rem;
			padding-left: 3rem;
			padding-bottom: 3rem;
			@include tablet_portrait {
				padding-left: 1rem;
				padding-top: 1rem;
				padding-bottom: 3rem;
			}
	        background-color: #E7E7E8;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: -9999px; /* A large value to ensure it extends beyond col-4 */
				bottom: 0;
				width: 9999px; /* A large width to fill the remaining space */
				background-color:  #E7E7E8; /* Same as the background color of col-4 */
			}
		}

	}
	.comment-main-block {
		margin-right: 5em;
		@include tablet_portrait {
			margin-right: 0;
		}
		.comment-header {
			@include tablet_portrait {
				grid-template-columns: auto 1fr;
				grid-template-rows: repeat(2, auto);

				> figure {
					grid-area: 1 / 1 / 2 / 2;
				}
				.comment-header-author {
					grid-area: 1 / 2 / 2 / 3;
				}
				.pro-interactions {
					grid-area: 2 / 1 / 3 / 3;
				}
				.pro-fonction {
					margin-left: 0;
				}
			}
		}
	}
	.pro-comment-response {
		margin-left: 5em;
		@include tablet_portrait {
			margin-left: 2em;
		}
	}
	.comment-main-block, .pro-comment-response {
		border: solid 1px grey;
		background: white;
		margin-bottom: 10px;
		p {
			margin:0;
			white-space: pre-wrap;
		}

		& .reply-author {
			text-align: right;
		span {

		}
		}

		.pro-label-edition, .pro-fonction {
			font-size: 14px;
			font-style: italic;
			margin-bottom: 0;
			margin-left: 10px;
			white-space: nowrap;
		}

		.pro-comment-time {

		}

		.pro-name {
			font-weight: 700;
		}

		.comment-header {
			figure {
				border-radius: 50%;
			}
			padding: 15px;
			display: grid;
			grid-template-columns: auto 1fr auto;
			gap: 12px;
			align-items: center;
			border-bottom: dashed 1px grey;

			.comment-header-author {
				flex: 1;
				display: flex;
				flex-direction: column;
				gap: 5px;
				div{

				}
			}
			.pro-interactions {
				text-align: right;

				> * {
					display: inline-block;
					vertical-align: middle;
				}

				> span, > a.pro-like, > a.pro-dislike {
					border: solid 1px grey;
					padding: 5px 10px;
					border-radius: 20px;
					position: relative;
					@include ft($f_txt, 0.813em, 700, $c_txt, 1.462em);
					margin: 0 8px;
					transition: none;

					&:hover, &:focus, &:active {
						cursor: pointer;
						color: $c_grey;
						text-decoration: underline;

						&:before {
							color: $c_grey;
						}
					}

					&:before {
						content: "\e913";
						@include font();
						float: left;
						margin-right: 5px;
						line-height: 1.5em;
						position: relative;
						top: -2px;
					}

					&.pro-dislike {
						@include mobile {
							margin-right: 0;
						}

						&:before {
							transform: rotate(-180deg);
							top: 2px;
						}
					}
				}
			}
		}

		.pro-comment {
			padding: 15px;
		}

	}





	.pro-reagir {
		> div {
			position: relative;
			padding: 50px 30px;
			margin-top: 20px;
			@include tablet_landscape {
				padding: 50px 10px 50px 30px;
			}
			@include tablet_portrait {
				padding: 50px 50px 30px 50px;
				margin-top: 40px;
			}
			@include mobile {
				padding: 30px;
			}
			@include mobile_small {
				padding: 30px 15px;
			}
			&:before {
				content: '';
				background: url(../../assets/images/background/small-rec-black.png);
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 120%;
				bottom: 0;
				z-index: -1;
				transform: rotate(-4.6deg);
				overflow: hidden;
				-webkit-backface-visibility: hidden;
				@include tablet_portrait {
					width: 100%;
					background: none;
					background-color: $c_dark;
					transform: none;
				}
			}
			h3 {
				@include ft($f_hx, 0.938em, 700, $c_main, 1.571em);

			}
			p {
				@include ft($f_txt, 0.875em, 400, $c_white, 1.571em);
			}

			.pro-or {
				@include ft($f_txt, $s_small, 700, $c_white, 1.571em);
				display: block;
				text-align: center;
				margin: 20px 0;

			}

			.pro-no-account {
				@include ft($f_txt, $s_small, 400, $c_white, 1.571em);
				display: block;
				text-align: center;
				text-decoration: underline;
				margin: 20px 0;
				&:hover, &:focus {
					color: $c_main;
				}
			}

			form {
				margin-top: 50px;

				&.pro-user-connected {
					margin-top: 0;
				}

				label {
					display: none;
				}
				input {
					@include ft($f_txt, 0.875em, 400, $c_txt, 20px);
					@extend %appearance;
					border-radius: 2px;
					display: block;
					width: 100%;
					padding: 15px 17px;
					margin-bottom: 10px;
					&::placeholder {
						color: $c_txt;
					}

					&.pro-btn-yellow {
						@include btn(transparent, $c_white, 0, $f_hx, $s_p);
						font-weight: 700;
						line-height: 22px;
						border: 1px solid $c_main;
						padding: 12px 15px;
						position: relative;
						@include addTransition();
						&:hover, &:focus {
							background: $c_main;
							color: black;
						}
					}
				}

				.pro-textearea {
					label {
						display: block;
						@include ft($f_hx, 1.2em, 700, $c_white, 1.571em);
						margin-bottom: 15px;
					}
					textarea {
						width: 100%;
						height: 280px;
						padding: 15px;
						margin-bottom: 10px;
						border-radius: 2px;
						resize: none;
					}
				}
			}
		}
	}
}