// =============================================
// Share button
// =============================================

// Share Button Wrapper
.social-share {
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 140;
	opacity: 0;
	@include addTransition();

	@include mobile {
		right: 20px;
		bottom: 20px;
	}

	.sub-menu-open & {
		opacity: 0 !important;
	}

	&.fadein {
		opacity: 1;
	}
}

// Toggle Button
.toggle {
	position: relative;
	height: 50px;
	display: block;
	z-index: 130;
	background-color: $c_commune;
	border-radius: 50%;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
	@include addTransition();

	// Share Icon
	&:after {
		content: "\e912";
		@include font();
		font-size: 24px;
		padding: 0;
		text-align: center;
		position: relative;
		width: 50px;
		height: 50px;
		line-height: 50px;
		left: -1px;
		color: $c_dark;
		@include addTransition();
	}

	&:hover, &:focus {
		cursor: pointer;
		background: $c_dark;
		&:after {
			color: $c_white;
		}
	}

	// Hidden input to toggle state
	&-input {
		@extend %center;
		opacity: 0;
		display: block;
		width: 100%;
		height: 100%;
		&:focus {
			color: red;
			& + label {
				cursor: pointer;
				background: $c_dark;
				&:after {
					color: $c_white;
				}
			}
		}
	}

	span {
		display: none;
	}

}

// =============================================
// Network List and social shares
// =============================================

.twitter {
	a:before {
		@include font();
		content: "\e901";
		color: $c_white;
	}
}
.social-footer {
	ul {
		li {
			display: inline-block;
			padding: 10px;
			margin-right: 0;
			@include addTransitionCurve();
			&:hover {
				background-color: #8dba49;
				a:before {
					color: #000;
				}
			}
		 a:before {
			 font-size: 25px;
		 }
			a:hover {
				@include addDynamicTextColor();
			}
		}
	}
	.link-pacte {
		&:hover {
			@include addDynamicTextColor();
		}
	}

	@include mobile {
		padding: 20px;
	}

}
// Facebook
.facebook {
	a:before {
		@include font();
		content: "\e904";
		color: $c_white;
	}
}

// Linkedin
.linkedin {
	a:before {
		@include font();
		content: "\e910";
		color: $c_white;
	}
}

// Googleplus
.googleplus {
	a:before {
		@include font();
		content: "\e90f";
		color: $c_white;
	}
}

// Mail
.mail {
	a:before {
		@include font();
		content: "\e911";
		color: $c_white;
	}
}

// dailymotion
.dailymotion {
	a:before {
		@include font();
		content: "\e701";
		color: $c_white;
	}
}

// tumblr
.tumblr {
	a:before {
		@include font();
		content: "\e703";
		color: $c_white;
	}
}

// Snapchat
.snapchat {
	a:before {
		@include font();
		content: "\e704";
		color: $c_white;
	}
}

// Soundloud
.soundloud {
	a:before {
		@include font();
		content: "\e705";
		color: $c_white;
	}
}

// Instagram
.instagram {
	a:before {
		@include font();
		content: "\e905";
		color: $c_white;
	}
}

.network-list {
	// List Item
	position: absolute;
	bottom: 30px;
	li {
		position: absolute;
		top: 0;
		left: 4px;
		display: block;
		width: 40px;
		height: 40px;
		margin: 0;
		padding: 0;
		list-style-type: none;
		opacity: 0;
		transition: all 0.25s cubic-bezier(0.43, 1.17, 0.69, 1.24);
	}

	// Link
	a {
		position: relative;
		display: block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 50%;
		background: $c_txt;
		overflow: hidden;
		text-indent: 120%;
		text-decoration: none;
		@include addTransition();
		&:hover, &:focus {
			@include addDynamicBackground();
			&:before {
				color: $c_dark !important;
			}
		}
	}

	// Network Icon
	a:before {
		@include font();
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		position: absolute;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 50%;
		font-size: 0.875em;
		-webkit-font-smoothing: antialiased;
		text-align: center;
		text-indent: 0;
		@include addTransition();
		// box-shadow: inset 0 0 0 1px $toggle;
	}


}

// =============================================
// Open Network List

input:checked ~ .network-list {
	li {
		opacity: 1;
	}
	li:nth-child(1) {
		top: -70px;
	}
	li:nth-child(2) {
		top: -120px;
	}
	li:nth-child(3) {
		top: -170px;
	}
	li:nth-child(4) {
		top: -220px;
	}
	li:nth-child(5) {
		top: -270px;
	}
	li:nth-child(6) {
		top: -320px;
	}
}