<div class="st-bloc-accordeon">
	<div class="st-accordion st-js-accordion">
            <h3 class="st-accordion__header st-h2">
                <button type="button" class="st-accordion__trigger" id="accordion-header-${fragmentEntryLinkNamespace}" aria-controls="accordion-panel-${fragmentEntryLinkNamespace}" aria-expanded="false">
                    
									<span class="accordion-title"><lfr-editable id="accordeon-title" type="text">Etiam facilisis</lfr-editable></span>
                    <span class="st-accordion__icon st-icon-arrow-up"></span>
                </button>
            </h3>
		

            <div class="[#if layoutMode != "edit"]st-accordion__panel[/#if]" id="accordion-panel-${fragmentEntryLinkNamespace}" aria-labelledby="accordion-header-${fragmentEntryLinkNamespace}" role="region" aria-hidden="true" inert="">
                <div class="st-accordion__content st-text-styles">
                   <lfr-drop-zone></lfr-drop-zone>
                </div>
            </div>
        </div>
</div>