// Styles pour l'affichage des cards en format horizontale
// ==========================================================================
.st-cards-horizontales {
	.st-card {
		@include card-horizontale();

		.st-image {
			.st-info-desktop {
				bottom: auto;
				top: 10px;
				display: none;
			}

			.st-info-mobile {
				display: block;
			}
		}
	}

	// On fait un exception pour le bloc agenda :
	// dans ce bloc vu que les cards ont des images plus grandes on peut se permettre d'avoir un font-size plus grand
	// et aussi d'afficher les metas à côté. Dans le reste du site les cards sont trop petites, donc il faut cacher les metas
	// et réduire le font size des dates

	&:not(.st-bloc-agenda) {
		.st-meta-wrapper {
			display: none;
		}

		.st-date-event {
			.st-day, .st-month {
				font-size: 14px;
				line-height: 1;
			}
		}
	}
}

// Container qui englobe chaque card
.st-card-container {
	position: relative;
}

// Card - Default Styles
// ==========================================================================
.st-card {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	@include create-outline();
	@include btn-favoris-card(210px);
	@include can-hover {
		.st-title-card {
			color: $c_sub;
		}
	}

	.st-image {
		--aspect-ratio: 1/1;
		position: relative;
		margin-bottom: 15px;
		flex-shrink: 0;
		@include aspect-ratio(var(--aspect-ratio));
		@include addTransition();


		figure {
			figcaption {
				display: none;
			}
		}


		.st-btn-favorite {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 0;
		}

		[class^="st-icon-"]:not(.st-btn-favorite), [class*=" st-icon-"]:not(.st-btn-favorite) {
			width: 24px;
			height: 24px;
			background-color: $c_main;
			font-size: 12px;
			color: $c_white;
			position: absolute;
			top: 0;
			left: 0;

			&:before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	.st-badge-price {
		position: absolute;
		z-index: 5;
		color: $c_white;
		background-color: $c_main;

		&.st--desktop {
			bottom: 10px;
			left: 10px;
			padding: 4px 10px;
			font-size: 12px;
			line-height: 1.25;
			font-weight: 300;
		}

		&.st--mobile {
			top: 0;
			left: 0;
			padding: 3px 5px;
			font-size: 10px;
			line-height: 1.3;
			font-weight: 700;
		}
	}

	.st-container {
		display: flex;
		flex-wrap: wrap;
		@include ft($f_txt, 12px, 300, $c_txt, 1.25);

		.st-classement {
			display: inline-block;
			vertical-align: top;
			margin-right: 5px;

			&:first-of-type {
				margin-left: 4px;
			}

			span {
				font-size: 12px;
				line-height: 1;

				@include mobile {
					font-size: 10px;
				}

				&.st-icon-cle, &.st-icon-epis {
					position: relative;
					top: 1px;
				}

				&.st-icon-stars {
					& + .st-icon-epis, & + .st-icon-cle {
						margin-left: 5px;
					}
				}

				&.st-icon-epis {
					@include mobile {
						top: 0;
						margin-left: -3px;
					}
				}
			}

			&.st-classement-epis {
				@include mobile {
					margin-left: 2px;
				}
			}
		}
	}

	.st-caption {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		& > * {
			&:last-child {
				margin-bottom: 0;
			}
		}

		.st-title-card {
			@include ft($f_txt, 15px, 700, $c_white, 1);
			display: block;
			order: 2;
			@include addTransition();

			@include mobile {
				font-size: 14px;
				margin: 0 0 6px 0;
			}
		}

		.st-surtitre-cat {
			margin-top: 0;
			margin-bottom: 10px;
			order: 1;
		}

		.st-text {
			@include ft($f_txt, 12px, 400, $c_txt, 1.16);
			order: 3;
			margin-top: 7px;
		}

		.st-location {
			margin-top: 5px;
			order: 4;
		}
	}

	.st-meta-wrapper {
		&.st-meta-heure {
			background-color: $c_main;
			font-weight: 700;
		}

		&.st-meta-itineraire {
			@include mobile {
				margin-bottom: 6px;
			}
			@include min-mobile {
				display: none;
			}

			li {
				padding: 0 6px;
				border-right: 1px solid $c_sub;

				&:first-of-type {
					padding-left: 0;
				}

				&:last-of-type {
					border-right: none;
				}

				&.st-difficulte {
					@include mobile {
						padding-left: 18px;
					}
				}

				&.st-iti-difficile {
					position: relative;

					&:before {
						content: "";
						display: block;
						width: 8px;
						height: 8px;
						border-radius: 50%;
						background-color: $c_dark;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 7px;
					}
				}
			}
		}

		& + .st-location {
			@include min-mobile {
				margin-top: 10px;
			}
		}

		&:not(.st-meta-itineraire) {
			@include mobile {
				display: none;
			}
		}
	}

	.st-ouverture {
		@include ft($f_txt, 12px, 500, $c_main, 1);
		@include letter-spacing(150);
		text-transform: uppercase;
		display: inline-block;
		padding: 6px 8px;
		background-color: $c_sub;
		position: absolute;
		left: -8px;
		top: 6px;
		@include mobile {
			font-size: 10px;
		}

		&.st--closed {
			background-color: $c_rose;
		}
	}

	// Card sur le listing agenda au format horizontal
	&.st-card-agenda {
		@include card-horizontale();
		@include btn-favoris-card();

		.st-image {
			@include min-mobile {
				width: 100px;
				height: 100px;
			}

			.st-date-event {
				display: none;
			}

		}

		.st-caption {
			display: flex;
			flex-direction: column;

			.st-date {
				@include ft($f_txt, $s_link_small, 600, $c_white, 1);
				@include letter-spacing(25);
				text-transform: uppercase;
				order: 1;
			}

			.st-surtitre-cat {
				text-transform: uppercase;
				margin-top: 4px;
				margin-bottom: 8px;
				order: 2;
				@include mobile {
					font-size: 10px;
				}
			}

			.st-title-card {
				margin-bottom: 8px;
				order: 3;
			}

			.st-location {
				order: 4;
			}
		}
	}

	// Card au format horizontal
	&.st-card-horizontal {
		@include card-horizontale();
	}

	// Card avec effet de box-shadow au hover
	&.st-card-shadow {
		// pas de shadow pour les cards dans un leaflet
		:not(.leaflet-popup-content) > & {
			@include card-shadow();
		}
	}
}
