// Container qui englobe chaque card
// ==========================================================================
.st-card-container {
	position: relative;
	display: flex;
	height: 100%;
}

// Card - Default Styles
// ==========================================================================
// Cards en format portrait par défaut : image en haut et contenu en-dessous
.st-card {
	--image-size: 100px;
	--aspect-ratio: 1/1;
	@include create-outline;
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	width: 100%;

	&:not(.st-card-contact) {
		@include can-hover {
			.st-title-card {
				color: $c_sub;
			}
			.st-location {
				color: $c_white;

				&:before {
					color: $c_white;
				}
			}
			.st-date,
			.st-text,
			.st-role {
				color: $c_white;
			}

			.st-image:after {
				opacity: 0.8
			}
		}
	}

	.st-image {
		@include aspect-ratio(var(--aspect-ratio), '.st-figure');
		flex-shrink: 0;
		margin-bottom: 15px;
		background-color: $c_white;
		border-radius: $border-radius-small;
		@include transition(background-color);

		img {
			border-radius: $border-radius-small;
		}
	}

	.st-caption {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@include letter-spacing(25);

		& > * {
			&:last-child {
				margin-bottom: 0;
			}
		}

		.st-date,
		.st-role {
			order: 1;
			@include ft($f_txt, 12px, 400, $c_txt, 1.16);
			text-transform: uppercase;
			margin-bottom: 1px;
			@include transition(color);

			@include mobile {
				font-size: 10px;
			}
		}

		.st-surtitre-cat {
			order: 2;
			margin-bottom: 4px;

			@include mobile {
				font-size: 10px;
			}
		}

		.st-title-card {
			order: 3;
			@include ft($f_txt, 15px, 700, $c_white, 1);
			letter-spacing: inherit;
			display: block;
			margin-bottom: 6px;
			@include transition(color);

			@include mobile {
				font-size: 14px;
			}
		}

		.st-text {
			order: 4;
			@include ft($f_txt, 12px, 400, $c_txt, 1.16);
			@include transition(color);

			@include mobile {
				font-size: 11px;
			}
		}

		.st-location {
			order: 5;
			@include transition(color);

			&:before {
				@include transition(color);
			}
		}
	}

	.st-badge-ouverture {
		position: absolute;
		bottom: 6px;
		left: -8px;
		z-index: 5;
		display: inline-block;
		padding: 6px 8px;
		@include ft('', 12px, 500, $c_main, 1);
		@include letter-spacing(150);
		text-transform: uppercase;
		background-color: $c_sub;
		border-radius: $border-radius-small;

		@include mobile {
			bottom: 4px;
			left: -4px;
			font-size: 10px;
			@include letter-spacing(100);
		}

		&.st--closed {
			background-color: $c_pink;
		}
	}

	& + .st-btn-favorite-card {
		--btn-favorite-size: 36px;
		--image-size: 100%;
		position: absolute;
		top: 0;
		left: calc(var(--image-size) - var(--btn-favorite-size));
		z-index: 10;
		margin-top: calc(var(--image-size) - var(--btn-favorite-size));
		width: var(--btn-favorite-size);
		height: var(--btn-favorite-size);
	}


	// Bouton invisible, étiré et en absolute sur la card quand la card doit avoir un comportement de bouton
	.st-btn-stretch {
		@include absolute-stretch();
		z-index: 10;
	}



	// --modifiers
	// gradient sur l'image pour mettre en avant le bouton de favoris
	&.st--with-gradient {
		.st-image:after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			width: var(--image-size);
			height: var(--image-size);
			background-image: radial-gradient(circle farthest-side at 100% 100%, $c_gradient 0%, transparent 100%);
			//background-image: radial-gradient(circle farthest-side at 100% 100%, red 0%, green 99%, transparent 100%);
			pointer-events: none;
			border-radius: $border-radius-small;
			@include transition(opacity);
		}
	}

	// card avec une icone à la place de l'image
	&.st--with-icon {
		@include can-hover {
			.st-image {
				background-color: $c_greydark;
			}
			.st-icon {
				color: $c_white;
			}
		}

		.st-image {
			@include flex-center;
			background-color: $c_greydark;
		}
		.st-icon {
			font-size: 60px;
			color: $c_sub;

			@include mobile {
				font-size: 30px;
			}
		}
	}

	// Format paysage : image en taille fixe à gauche et contenu à droite
	&.st--card-horizontal {
		@include card-horizontal();
	}



	&.st-card-actu {
		.st-caption {
			.st-date {
				font-weight: 400;
				color: $c_txt;
			}
		}

		// Image au format paysage sur les 2 premières cards du bloc actu home
		&.st--is-featured {
			@include min-tablet-portrait {
				--aspect-ratio: 550/320;
				padding-bottom: 16px;

				.st-caption .st-title-card {
					margin-top: 4px;
					font-size: 18px;
				}
			}
		}
	}


	// Card sur le listing agenda au format horizontal
	&.st-card-agenda {
		 .st-caption {
			 .st-date {
				 font-weight: 600;
				 color: $c_white;
			 }
			.st-surtitre-cat {
				order: 2;
			}
			.st-title-card {
				order: 3;
			}
			.st-location {
				order: 4;
			}
		}

		// Card sans image sur le bloc agenda sur la home
		&.st--text-only {
			background-color: $c_greydark;
			border-radius: $border-radius-small;
			padding: 16px 40px 16px 20px;

			@include can-hover {
				background-color: $c_greydark;
			}

			& + .st-btn-favorite-card {
				top: initial;
				left: initial;
				right: 5px;
				bottom: 5px;
			}
		}
	}

	&.st-card-person {
		.st-caption {
			.st-title-card {
				order: 1;
			}
			.st-role {
				order: 2;
			}
			.st-surtitre-cat {
				order: 3;
			}
			.st-text {
				font-style: italic;
			}
		}
	}

	&.st-card-lost-and-found {
		.st-caption {
			.st-title-card {
				order: 1;
			}

			.st-date {
				order: 3;

				span {
					color: $c_sub;
				}
			}
		}
	}

	&.st-card-contact,
	&.st-card-magazine {
		cursor: initial;

		.st-caption {
			.st-title-card {
				order: 1;
			}
			.st-surtitre-cat {
				order: 2;
			}
		}

		.st-btns-wrapper {
			order: 3;
			align-self: stretch;
			display: flex;
			flex-wrap: wrap;
			--col-gap: 10px;
			--row-gap: 10px;
			margin-left: calc(var(--col-gap) * -1);
			margin-top: calc(var(--row-gap) * -1 + 4px);

			> * {
				margin-left: var(--col-gap);
				margin-top: var(--row-gap);
			}

			.st-btn {
				flex-grow: 1;
				min-height: 44px;

				@include mobile {
					min-height: initial;
				}
			}
		}
	}
}
