// Styles pour l'affichage des cards en format horizontale
// ==========================================================================
.zst-cards-horizontales {
	.st-card {
		@include card-horizontale();

		.st-image {
			.st-info-desktop {
				bottom: auto;
				top: 10px;
				display: none;
			}

			.st-info-mobile {
				display: block;
			}
		}
	}

	// On fait un exception pour le bloc agenda :
	// dans ce bloc vu que les cards ont des images plus grandes on peut se permettre d'avoir un font-size plus grand
	// et aussi d'afficher les metas à côté. Dans le reste du site les cards sont trop petites, donc il faut cacher les metas
	// et réduire le font size des dates

	&:not(.st-bloc-agenda) {
		.st-meta-wrapper {
			display: none;
		}

		.st-date-event {
			.st-day, .st-month {
				font-size: 14px;
				line-height: 1;
			}
		}
	}
}

// Container qui englobe chaque card
.st-card-container {
	position: relative;
	display: flex;
	height: 100%;
}

// Card - Default Styles
// ==========================================================================
.st-card {
	--image-size: 100px;
	--aspect-ratio: 1/1;
	@include reset-button;
	position: relative;
	display: flex;
	width: 100%;
	@include btn-favorite-card(210px);

	@include can-hover {
		.st-title-card {
			color: $c_sub;
		}
	}

	.st-image {
		@include aspect-ratio(var(--aspect-ratio));
		flex-shrink: 0;
		@include addTransition();

		img {
			border-radius: $border-radius-small;
		}
	}

	.st-container {
		display: flex;
		flex-wrap: wrap;
		@include ft($f_txt, 12px, 300, $c_txt, 1.25);

		.st-classement {
			display: inline-block;
			vertical-align: top;
			margin-right: 5px;

			&:first-of-type {
				margin-left: 4px;
			}

			span {
				font-size: 12px;
				line-height: 1;

				@include mobile {
					font-size: 10px;
				}

				&.st-icon-cle, &.st-icon-epis {
					position: relative;
					top: 1px;
				}

				&.st-icon-stars {
					& + .st-icon-epis, & + .st-icon-cle {
						margin-left: 5px;
					}
				}

				&.st-icon-epis {
					@include mobile {
						top: 0;
						margin-left: -3px;
					}
				}
			}

			&.st-classement-epis {
				@include mobile {
					margin-left: 2px;
				}
			}
		}
	}

	.st-caption {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		& > * {
			&:last-child {
				margin-bottom: 0;
			}
		}

		.st-surtitre-cat {
			order: 1;
			margin-top: 0;
			margin-bottom: 10px;
		}

		.st-title-card {
			order: 2;
			@include ft('', 15px, 700, $c_white, 1);
			display: block;
			@include addTransition();

			@include mobile {
				font-size: 14px;
				margin-bottom: 6px;
			}
		}

		.st-text {
			order: 3;
			margin-top: 7px;
			@include ft($f_txt, 12px, 400, $c_txt, 1.16);
		}

		.st-location {
			order: 4;
			margin-top: 5px;
		}
	}

	.st-meta-wrapper {
		&.st-meta-heure {
			background-color: $c_main;
			font-weight: 700;
		}

		& + .st-location {
			@include min-mobile {
				margin-top: 10px;
			}
		}
	}

	.st-ouverture {
		position: absolute;
		left: -8px;
		top: 6px;
		display: inline-block;
		padding: 6px 8px;
		@include ft($f_txt, 12px, 500, $c_main, 1);
		@include letter-spacing(150);
		text-transform: uppercase;
		background-color: $c_sub;
		border-radius: $border-radius-small;

		@include mobile {
			font-size: 10px;
		}

		&.st--closed {
			background-color: $c_rose;
		}
	}


	// --modifiers
	&.st-card-actu {
		@include card-verticale();

		.st-caption {
			.st-title-card {
				@include min-tablet-portrait {
					font-size: 18px;
				}
			}

			.st-date {
				@include ft('', $s_link_small, '', $c_txt, 1);
				@include letter-spacing(25);
				text-transform: uppercase;
				margin-bottom: 2px;

				@include mobile {
					font-size: 11px;
				}
			}
		}

		// Image au format paysage sur les 2 premières cards du bloc actu home
		&.st--is-featured {
			@include min-tablet-portrait {
				--aspect-ratio: 550/320;
				padding-bottom: 16px;
			}
		}
	}

	&.st-card-dossier {
		@include card-verticale();
	}

	// Card sur le listing agenda au format horizontal
	&.st-card-agenda {
		--image-size: 100px;
		@include card-horizontale();

		@include mobile {
			--image-size: 80px;
		}

		.st-caption {
			display: flex;
			flex-direction: column;
			margin-top: auto;
			margin-bottom: auto;

			.st-date {
				order: 1;
				@include ft($f_txt, $s_link_small, 600, $c_white, 1);
				@include letter-spacing(25);
				text-transform: uppercase;
			}

			.st-surtitre-cat {
				order: 2;
				text-transform: uppercase;
				margin-top: 4px;
				margin-bottom: 8px;

				@include mobile {
					font-size: 10px;
				}
			}

			.st-title-card {
				order: 3;
				margin-bottom: 0;
			}

			.st-location {
				order: 4;
			}
		}

		// Card sans image sur le bloc agenda sur la home
		&.st--text-only {
			background-color: $c_greydark;
			border-radius: $border-radius-small;
			padding: 16px 40px 16px 20px;

			@include can-hover {
				background-color: $c_main;

				.st-surtitre-cat {
					color: $c_grey;
				}
			}

			& + .st-btn-favorite-card {
				--taille-image: calc(100% - 5px);
			}
		}
	}

	// Card au format horizontal
	&.st-card-horizontal {
		@include card-horizontale();
	}

	// Card avec effet de box-shadow au hover
	&.st-card-shadow {
		// pas de shadow pour les cards dans un leaflet
		:not(.leaflet-popup-content) > & {
			@include card-shadow();
		}
	}
}
