// Les styles des facettes sont appliqués singulièrement au niveau de chaque facette,
// afin de pouvoir les avoir bien affichés dans l'overlay filtres mais aussi dehors


// Classe utilisée pour mettre en forme les select fields gérés par la librairie Selectric
.st-group-select {
	.st-selectric-wrapper {
		max-width: 280px;

		.selectric-items {
			.selectric-scroll {
				ul {
					li {
						max-width: none;
					}
				}
			}
		}

		.selectric {
			min-height: 60px;
			border: 1px solid rgba($c_dark, 0.25);
			width: 100%;
			display: flex;
			align-items: center;
			padding: 20px;

			.label {
				font-size: 16px;
				line-height: 1.25;
				height: auto;
				padding: 0;

				&:after {
					right: 20px;
				}
			}
		}
	}
}

// Styles appliqués aux labels et des fois à la balise legend dans les fieldset
.st-title-facette {
	@include ft($f_hx, 20px, 700, $c_txt, 1.2);
	display: block;

	& + * {
		margin-top: 20px;
	}
}


// Styles avec les labels actif / inactif
// label / titre pour la facette switch
.st-facette-switch {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;

	// div qui englobe le switch
	.frm_switch_block {
		display: inline-grid;
		grid-template-columns: auto auto;
		grid-template-areas: "label switch";
		align-items: center;
		//@include bd(red,1);
	}

	// Labels actifs / inactifs
	.frm_switch_opt {
		grid-area: label;
		@include ft('', 14px, 300, rgba($c_txt, 0.7));
		display: block;
		padding: 0 10px;
		white-space: normal;

		&.frm_on_label {
			color: $c_txt;
			display: none;
		}
	}

	.frm_switch_block input {
		position: absolute;
		opacity: 0;
	}

	// Toggle
	.st-frm_switch {
		grid-area: switch;
		position: relative;
		display: block;
		width: 50px;
		height: 24px;
	}

	.st-frm_slider {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $c_sub;
		border-radius: 50px;
		transition: .25s;
	}

	.st-frm_slider:before {
		content: '';
		position: absolute;
		left: 2px;
		top: 2px;
		width: 20px;
		height: 20px;
		background-color: $c_white;
		border-radius: 50%;
		box-shadow: initial;
		transition: .25s;
	}

	input:checked + .st-frm_switch .st-frm_slider {
		background-color: $c_txt;

		&:before {
			transform: translateX(26px);
		}
	}

	.st-frm_switch_block.st-is-checked {
		.frm_off_label {
			display: none;
		}

		.frm_on_label {
			display: block;
		}
	}
}


// Facette classement
.st-wrapper-facettes-classement {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 20px;
}

.st-facette-classement {
	display: flex;
	flex-direction: column;

	.st-title-group {
		display: block;
		margin-bottom: 5px;
	}

	// @todo : à supprimer si plus besoin d'indiquer le nombre sélectionné
	.st-total {
		@include ft('', 13px, '', $c_white);
		margin-left: 10px;
		padding: 4px 10px 5px 10px;
		background-color: $c_sub;
		display: none;
	}

	.classement-chk {
	}

	.st-classement-row {
		display: grid;
		grid-template-columns: 20px auto;
		gap: 10px;

		& + .st-classement-row {
			margin-top: 5px;
		}
	}

	.st-custom-checkbox { // faux radio input stylisable à souhait
		grid-column: 1;
		grid-row: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		box-shadow: inset 0 0 0 1px $c_sub; // box-shadow plutôt que border pour avoir le :after aux mêmes dimensions que le parent
		pointer-events: none;
		@include addTransition();

		&:after {
			content: '';
			position: relative;
			width: 10px;
			height: 10px;
			background-color: $c_main;
			opacity: 0;
			@include addTransition();
		}
	}

	label {
		grid-column: 1 / 3;
		grid-row: 1;
		display: inline-flex;
		align-items: center;
		width: max-content;
		padding-left: 30px;
		padding-right: 10px;
		font-size: 14px;
		cursor: pointer;

		span {
			color: rgba($c_txt, 0.2);

			&:first-child {
				margin-left: 5px;
			}

			& + span {
				margin-left: 4px;
			}
		}
	}

	label:hover ~ .st-custom-checkbox {
		box-shadow: inset 0 0 0 1px $c_main;
	}


	input:checked ~ .st-custom-checkbox {
		box-shadow: inset 0 0 0 1px $c_main !important;

		&:after {
			opacity: 1;
		}
	}

	input:checked + label span {
		&.st-icon-etoile {
			color: $c_txt;
		}

		&.st-icon-epis {
			color: $c_txt;
		}

		&.st-icon-cle {
			color: $c_txt;
		}

		&.st-icon-toque {
			color: $c_txt;
		}
	}

	input:not(:checked):hover + label span {
		&.st-icon-etoile {
			color: rgba($c_txt, 0.4);
		}

		&.st-icon-epis {
			color: rgba($c_txt, 0.4);
		}

		&.st-icon-cle {
			color: rgba($c_txt, 0.4);
		}

		&.st-icon-toque {
			color: rgba($c_txt, 0.4);
		}
	}

	input.st-visuallyhidden {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		height: auto;
	}
}


.st-group-date {
	position: relative;
	display: flex;
	border: 1px solid $c_sub;
	height: 60px;

	/*&:before {
		@include icomoon($st-icon-agenda);
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 20px;
		color: $c_white;
	}*/

	@include mobile {
		flex-direction: column;
	}

	.st-wrapper-date {
		position: relative;
		display: flex;
		flex-shrink: 0;
		padding: 0 30px 0 30px;

		&:first-of-type {
			border-right: 1px dotted $c_sub;
		}

		.st-icon-agenda {
			align-self: center;
			margin-right: 8px;
			font-size: 20px;
		}
	}

	.st-date-label {
		align-self: center;
		padding-right: 4px;
		@include ft('', 16px, 300, '', 1.25);
	}

	input {
		@include reset-appearance;
		@include ft('', 16px, 500, '', 1.25);
		padding: 0;
		width: 10ch;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		@include mobile {
			width: 100%;
			min-height: 56px;
		}

		&::-webkit-date-and-time-value {
			text-align: left;
		}
	}
}


.st-barre-sticky .st-date-picker-wrapper {
	top: initial !important;
	bottom: 0 !important;
	left: 45% !important;

	.st-month-wrapper {
		display: flex;

		table {
			width: calc(20%);
			float: left;
		}

		.st-gap {
			visibility: hidden !important;
		}
	}
}

