.st-page-wrapper .st-meta-wrapper {
	display: flex;
	flex-wrap: wrap;
	--gap: 10px;
	margin-left: calc(var(--gap) * -1);
	margin-top: calc(var(--gap) * -1);

	> * {
		margin-left: var(--gap);
		margin-top: var(--gap);
	}

	> li {
		display: inline-flex;
		align-items: center;
		height: auto; // hauteur fixe constante plutôt que padding pour éviter les décalages quand on a un icône ou non
		padding: 10px 15px;
		@include ft($f_txt, 14px, 400, $c_white, 1);
		@include letter-spacing(25);
		background-color: $c_greydark;
		border-radius: $border-radius;

		[class^="st-icon-"], [class*=" st-icon-"] {
			display: block;
			margin-right: 15px;
			font-size: 18px;
			color: $c_sub;
		}

		// -- modifiers

		&.st--icon-only {
			padding: 0 7px;
		}

		&.st--small {
			height: 24px;
			font-weight: 300;

			[class^="st-icon-"], [class*=" st-icon-"] {
				font-size: 12px;
			}

			&.st--icon-left {
				[class^="st-icon-"] + span, [class*=" st-icon-"] + span {
					margin-left: 5px;
				}
			}

			&.st--icon-only {
				padding: 0 5px;
			}
		}

		&.st--has-tooltip {
			position: relative;

			@include can-hover {
				.st-tooltip {
					opacity: 1;
					visibility: visible;
					transform: translate(-50%);
				}
			}
		}
	}
}