// Tooltip : utilisé lorsqu'on est obligé d'imbriquer le texte dans un lien, parce que
// ==========================================================================
.st-tooltip {
	position: absolute;
	left: 50%;
	bottom: calc(100% + 4px);
	z-index: 20;
	padding: 4px 6px;
	@include ft('', 12px, 300, $c_white, 1.25);
	text-align: center;
	white-space: nowrap;
	background-color: $c_black;
	border-radius: 2px;
	box-shadow: 0 0 20px rgba($c_black, 0.15);
	transform: translate(-50%, 6px);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	@include transition(opacity, visibility, transform);

	.st-no-hover & {
		display: none;
	}

	// Flèche de l'infobulle
	&:after {
		//@include triangle('down', $c_black, 12px, 6px);
		content: '';
		position: absolute;
		left: 50%;
		top: 100%;
		transform: translateX(-50%);
	}
}