// ==============================================

//        IMPORT DES FONTS

// ==============================================

// Version bold
@font-face {
	font-family: 'TTFors';
	src: url('../fonts/TTFors/TT_Fors_Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

// Version demibold
@font-face {
	font-family: 'TTFors';
	src: url('../fonts/TTFors/TT_Fors_DemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

// Version medium
@font-face {
	font-family: 'TTFors';
	src: url('../fonts/TTFors/TT_Fors_Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

// Version regular
@font-face {
	font-family: 'TTFors';
	src: url('../fonts/TTFors/TT_Fors_Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

// Version light
@font-face {
	font-family: 'TTFors';
	src: url('../fonts/TTFors/TT_Fors_Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

// Version italic
@font-face {
	font-family: 'TTFors';
	src: url('../fonts/TTFors/TT_Fors_Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}