.st-page-wrapper {
	box-sizing: border-box;

	*, *:before, *:after {
		box-sizing: inherit;
	}

	// Reset
	// ==========================================================================

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after,
	q:before, q:after {
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}


	// Reset additionnel
	// ==========================================================================

	label,
	p{
		@include reset-styles;
	}

	b, strong {
		font-weight: 600;
	}

	li {
		list-style-type: none;
	}

	input,
	select,
	optgroup,
	textarea {
		margin: 0; // Remove the margin in Firefox and Safari
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		color: inherit;
		outline: none;
	}

	input[type="date"]::-webkit-inner-spin-button,
	input[type="date"]::-webkit-calendar-picker-indicator {
		appearance: none;
		display: none;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}

}