.st-page-wrapper {
	box-sizing: border-box;

	*, *:before, *:after {
		box-sizing: inherit;
	}

	// Reset
	// ==========================================================================

	object, iframe,
	h1, h2, h3, h4, h5, h6, p,
	blockquote, img, ol, ul, li,
	fieldset, legend, label, figure {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		vertical-align: baseline;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after,
	q:before, q:after {
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}


	// Reset additionnel
	// ==========================================================================

	a {
		text-decoration: none;

		&:hover {
			text-decoration: none;		// surcharge de clay
		}
	}

	b, strong {
		font-weight: 600;
	}

	li {
		list-style-type: none;
	}

	input,
	button,
	select,
	optgroup,
	textarea {
		margin: 0; // Remove the margin in Firefox and Safari
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		color: inherit;
		border: 0;
	}

	option {
		color: initial;
		background-color: initial;
	}

	input[type="date"]::-webkit-inner-spin-button,
	input[type="date"]::-webkit-calendar-picker-indicator {
		filter: invert(1);
		opacity: 0;
	}
	/* clears the ‘X’ from Chrome */
	input[type="search"]::-webkit-search-decoration,
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-results-button,
	input[type="search"]::-webkit-search-results-decoration { display: none; }

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}

	// Styles généraux pour les boutons de base
	button {
		padding: 0;
		border: none;
		background: none;
		border-radius: 0;
		align-items: normal;

		&:not([disabled]) {
			cursor: pointer;
		}
	}

	sup {
		font-size: 0.6em;
		top: -0.5em;
	}

	:focus-visible {
		outline: $c_sub auto 1px;
	}
}