.portlet {
  margin-bottom: 0;
}

.portlet-topper {
  height: 30px;
  .dropdown-menu {
    display: none !important;
  }
}

.has-control-menu #mns-global {
  margin-top: 56px;
  
  @include tablet_portrait {
    margin-top: 48px;
}
}

.has-control-menu #mns-global .mns-nav.mns-nav-scroll {
  margin-top: 56px;
}

#mns-global h2.portlet-title-text {
  display: none;
}

#mns-global .page-header {
  border-bottom: none;
  padding-bottom: 0;
  margin: 0;
}

#mns-global .alert-success {
  display: none;
}

.portlet-asset-publisher .portlet-body > div > .h2 {
  display: none;
}

header.cadmin.portlet-topper {
  z-index: 100;
}

// affichage des menus des portlets
.portlet:hover > .portlet-topper{
  width: calc(100% - 35px);
  height: auto;
}
.portlet-journal-content .portlet .portlet-header{
  
  transform: translateY(-112%);
  .visible-interaction {
    
    display: inline;
    .lfr-icon-menu{
      background-color: transparent;
      display: inline;

      > a{
        height: 32px;
        line-height: 32px;
        width: 32px;

        .lexicon-icon{
          height: 32px;
          width: 32px;
          padding: 8px;
        }
      }
    }
  }
}

.portlet-layout .portlet-header {
  margin-bottom: 0;
}

.radio label, .checkbox label {
    padding-left: 20px !important;
}

.radio input[type='radio'], .radio-inline input[type='radio'], .checkbox input[type='checkbox'], .checkbox-inline input[type='checkbox'] {
    margin-left: -20px !important;
}