.st-bloc-sit-onglets {
	overflow: hidden;

	.st-container {
		padding: 0 40px 40px;
		border: 1px solid $c_border;
		border-radius: $border-radius;
		overflow: hidden;

		@include mobile {
			padding: 0 20px 20px;
		}
	}

	.st-bottom-part {
		margin-top: 40px;
	}

	.st-slider-thumb {
		position: relative;
		padding-right: 70px;
		border-bottom: 1px solid $c_border;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: -40px;
			z-index: 1;
			width: 40px;
			height: 100%;
			background: linear-gradient(to left, rgba($c_main, 1), rgba($c_main, 0));
			pointer-events: none;

			@include mobile {
				right: -20px;
			}
		}

		.splide__track {
			overflow: visible;
			z-index: 1;
		}

		.splide__slide {
			position: relative;
			display: flex;
			flex-direction: column-reverse;
			margin-right: 40px;
			padding: 40px 0;
			cursor: pointer;

			@include mobile {
				padding: 25px 0;
				margin-right: 20px;
			}

			&:after {
				@include icomoon($st-icon-empty-circle);
				font-size: 13px;
				color: $c_sub;
				position: absolute;
				bottom: -7px;
				left: 50%;
				transform: translateX(-50%) scale(0);
				opacity: 0;
				pointer-events: none;
				@include addTransition();
			}

			&.is-active {
				&:after {
					transform: translateX(-50%) scale(1);
					opacity: 1;
				}

				.st-title {
					color: $c_white;
				}
			}

			@include can-hover {
				.st-title {
					color: $c_white;
				}
			}
		}

		.st-nav-arrows {
			position: absolute;
			bottom: -15px;
			right: 0;
			z-index: 10;
			display: inline-block;
			margin-top: -15px;
			background-color: $c_main;

			@include mobile {
				bottom: auto;
				top: 50%;
				transform: translateY(-50%);
				margin-top: 0;
			}

			.st-btn-arrow {
				@include mobile {
					width: 20px;
					height: 20px;

					&:before {
						font-size: 7px;
					}
				}
			}
		}

		.st-surtitre-cat {
			@include mobile {
				font-size: 10px;
			}
		}

		.st-title {
			@include ft($f_txt, 16px, 700, rgba($c_white, 0.60), 1);
			margin-top: 5px;
			@include addTransition();

			@include mobile {
				font-size: 12px;
			}
		}
	}

	.st-title-medium {
		@include addTransition();
	}

	.st-slider-content {
		margin-top: 20px;

		@include mobile {
			margin-top: 10px;
		}

		.splide__slide {
			width: 100%;
		}

		.st-single-slide-container {
			@include reset-styles;
			width: 100%;

			li {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 20px 0;
				@include ft($f_txt, 14px, 300, $c_white, 1);
				@include letter-spacing(25);

				&:after {
					content: "";
					display: block;
					width: 100%;
					height: 1px;
					background-image: url("../images/deco/dotted-line.svg");
					position: absolute;
					left: 0;
					bottom: 0;
				}

				&:last-of-type {
					padding-bottom: 0px;

					&:after {
						display: none;
					}
				}
			}

			.st-title {
				margin-right: 20px;
				white-space: nowrap;
			}

			.st-info {
				text-align: right;
			}

			.st-info p {
				line-height: 20px;
			}

			.st-ouverture {
				color: $c_sub;

				&.st--closed {
					color: $c_rose;
				}
			}

			.st-symbol {
				color: $c_sub;
			}

			.st-note {
				@include ft($f_txt, 12px, 300, $c_txt, 1);
				font-style: italic;
				@include letter-spacing(25);
			}

		}
	}

	.st-info {
		.st-title {
			@include ft('', 18px, 700, $c_white, 1);
			@include letter-spacing(25);

			@include mobile {
				font-size: 14px;
			}
		}
	}

	.st-detail-lien {
		display: flex;
		align-items: center;
		margin-top: 20px;

		@include mobile {
			justify-content: space-between;
		}

		.st-title-medium {
			margin-right: 15px;
		}
	}
}