.st-bloc-agenda-presse {
	.st-title-day {
		@include ft('', 18px, 400, $c_white, 1);
		@include letter-spacing(25);
		margin-bottom: 14px;

		span {
			font-weight: 700;
		}
	}

	.st-liste {
		border: 1px solid color-mix(in srgb, $c_white 25%, transparent);
		border-radius: $border-radius;
	}

	.st-item-container {
		position: relative;
		display: flex;
		align-items: center;
		--item-padding-top: 36px;		// Premier lien si plusieurs dans la liste
		--item-padding-bottom: 24px;

		&:only-child {
			--item-padding-top: 36px;		// Un seul lien dans la liste
			--item-padding-bottom: 36px;
		}

		& + .st-item-container {
			--item-padding-top: 24px;		// Liens entre le premier et le dernier
			--item-padding-bottom: 24px;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 40px;
				right: 40px;
				height: 1px;
				background-image: url("../images/deco/dotted-line.svg");
				pointer-events: none;

				@include mobile {
					left: 20px;
					right: 20px;
				}
			}
		}

		& + .st-item-container:last-child {
			--item-padding-top: 24px;		// Dernier lien si plusieurs dans la liste
			--item-padding-bottom: 36px;
		}

		.st-item {
			padding: var(--item-padding-top) 40px var(--item-padding-bottom);

			@include mobile {
				--item-padding-top: 16px;
				--item-padding-bottom: 16px;
				padding: var(--item-padding-top) 20px var(--item-padding-bottom);
			}
		}
	}

	.st-item {
		position: relative;
		width: 100%;

		@include tablet-portrait {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	.st-item__hour-location {
		display: flex;
		flex-wrap: wrap;
		--col-gap: 20px;
		--row-gap: 8px;
		margin-left: calc(var(--col-gap) * -1);
		margin-top: calc(var(--row-gap) * -1);

		@include mobile {
			flex-direction: column;
			--row-gap: 4px;
		}

		> *  {
			margin-left: var(--col-gap);
			margin-top: var(--row-gap);
		}

		.st-item__hour {
			@include ft('', 13px, 500, $c_white, 1);
			@include letter-spacing(25);
		}

		& + * {
			margin-top: 20px;

			@include mobile {
				margin-top: 12px;
			}
		}
	}

	.st-item__title {
		@include ft('', 15px, 700, $c_white, 1);
		@include letter-spacing(25);

		@include mobile {
			font-size: 13px;
		}

		& + * {
			margin-top: 12px;
		}
		& + .st-item__text {
			margin-top: 4px;
		}
	}

	.st-item__text {
		@include ft('', 12px, '', $c_txt, 1.16);
		@include letter-spacing(25);

		& + * {
			margin-top: 12px;
		}
	}


	.st-item__surtitre {
		& + * {
			margin-top: 2px;
		}
	}

	.st-item__info {
		@include ft('', 12px, '', $c_txt, 1.16);

		a {
			font-style: italic;
			color: inherit;
			text-decoration: underline;

			@include can-hover {
				color: $c_white;
			}
		}
	}
}