.st-bloc-resume {
	.st-container {
		display: flex;
		flex-direction: column;
		padding: 30px;
		background-color: $c_greydark;
		border-radius: $border-radius;

		@include mobile {
			padding: 20px;
		}
	}

	.st-title {
		& + * {
			margin-top: 30px;

			@include tablet-portrait {
				margin-top: 20px;
			}
			@include mobile {
				margin-top: 10px;
			}
		}
	}

	.st-bloc-resume__list {
		li {
			@include ft('', 15px, 700, $c_white, '');
			@include letter-spacing(25);

			@include mobile {
				font-size: 14px;
			}
		}

		& + * {
			margin-top: 20px;
		}
	}

	.st-btn {
		@include min-mobile {
			align-self: flex-end;
		}
	}
}