.st-bloc-sit-onglets {
	overflow: hidden;

	.st-container {
		padding: 0 40px 40px;
		border: 1px solid $c_border;
		border-radius: $border-radius;
		overflow: hidden;

		@include mobile {
			padding: 0 20px 20px;
		}
	}

	// zone fixe hors du slider
	.st-bottom-part {
		margin-top: 40px;

		@include mobile {
			margin-top: 20px;
		}

		.st-btn {
			margin-bottom: 20px;
		}

		li {
			@include mobile {
				font-size: 12px;
			}
		}
	}


	// Slider de navigation
	// ==========================================================================

	.st-slider-thumb {
		position: relative;
		border-bottom: 1px solid $c_border;

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 0;
			z-index: 2;
			width: 40px;
			height: calc(100% + 20px);
			pointer-events: none;
		}

		&:before {
			left: -40px;
			background: linear-gradient(to right, rgba($c_main, 1), rgba($c_main, 0));

			@include mobile {
				width: 20px;
				left: -20px;
			}
		}
		&:after {
			right: -40px;
			background: linear-gradient(to left, rgba($c_main, 1), rgba($c_main, 0));

			@include mobile {
				width: 20px;
				right: -20px;
			}
		}


		.splide__track {
			overflow: visible;
			z-index: 1;
		}

		.splide__slide {
			position: relative;
			display: flex;
			flex-direction: column-reverse;
			margin-right: 40px;
			padding: 40px 0;
			cursor: pointer;

			@include mobile {
				padding: 25px 0;
				margin-right: 20px;
			}

			@include can-hover {
				.st-title {
					color: $c_white;
				}
			}

			&:after {
				@include icomoon($st-icon-empty-circle);
				font-size: 13px;
				color: $c_sub;
				position: absolute;
				bottom: -7px;
				left: 50%;
				transform: translateX(-50%) scale(0);
				opacity: 0;
				pointer-events: none;
				@include transition(opacity, transform);
			}

			&.is-active {
				&:after {
					transform: translateX(-50%) scale(1);
					opacity: 1;
				}

				.st-title {
					color: $c_white;
				}
			}

			.st-surtitre-cat {
				@include mobile {
					font-size: 10px;
				}
			}

			.st-title {
				@include ft('', 16px, 700, rgba($c_white, 0.6), 1);
				@include transition(color);

				@include mobile {
					font-size: 12px;
				}

				& + * {
					margin-bottom: 2px;
				}
			}
		}

		.st-nav-arrows {
			position: absolute;
			bottom: -15px;
			right: 0;
			z-index: 10;
			display: inline-block;
			margin-top: -15px;
			background-color: $c_main;

			@include mobile {
				bottom: auto;
				top: 50%;
				transform: translateY(-50%);
				margin-top: 0;
			}

			.st-btn-arrow {
				@include mobile {
					width: 20px;
					height: 20px;

					&:before {
						font-size: 7px;
					}
				}
			}
		}
	}




	// Slider de contenu principal
	// ==========================================================================

	.st-slider-content {
		margin-top: 20px;

		@include mobile {
			margin-top: 10px;
		}

		.splide__slide {
			width: 100%;
		}

		.st-list-rows {
			column-gap: 40px;
			row-gap: 0;
		}

		.st-item-row {
			padding: 16px 0;
			@include ft('', 14px, 400, $c_white, 1.42);
			@include letter-spacing(25);
			background-image: url("../images/deco/dotted-line.svg");
			background-position: bottom;
			background-repeat: repeat-x;

			@include tablet-small {
				display: grid;
				grid-template-columns: auto auto;
				justify-content: space-between;
				align-items: center;
				column-gap: 20px;
			}

			@include mobile {
				font-size: 12px;
				line-height: 1.33;
			}
		}

		.st-info {
			display: flex;

			@include min-tablet-small {
				flex-wrap: wrap;
				--col-gap: 30px;
				--row-gap: 0px;
				margin-left: calc(var(--col-gap) * -1);
				margin-top: calc(var(--row-gap) * -1);

				> * {
					margin-left: var(--col-gap);
					margin-top: var(--row-gap);
				}
			}

			@include tablet-small {
				flex-direction: column;
				text-align: right;
				font-size: 12px;
			}
		}

		.st-note {
			@include ft('', 12px, 300, $c_txt, 1);
			font-style: italic;
			@include letter-spacing(25);

			@include tablet-small {
				grid-row: 2;
				grid-column: 1 / -1;
			}
		}


		// Dans les single association
		.st-item-row.st--with-location {
			padding: 32px 0;

			@include tablet-small {
				display: block;

			}

			@include mobile {
				padding: 20px 0;
			}

			.st-info {
				@include min-tablet-small {
					--col-gap: 10px;
					--row-gap: 4px;
					margin-top: calc(var(--row-gap) * -1 + 6px);
				}

				@include tablet-small {
					flex-direction: column;
					text-align: initial;
					--row-gap: 4px;
					margin-top: calc(var(--row-gap) * -1 + 6px);

					> * {
						margin-top: var(--row-gap);
					}
				}
			}

			.st-location {
				transform: translateY(-2px);
			}

			.st-surtitre + .st-text-small {
				margin-top: 4px;

				@include mobile {
					margin-top: 2px;
				}
			}

			.st-surtitre {
				@include mobile {
					font-size: 14px;
				}
			}
		}
	}



	.st-info {
		.st-title {
			@include ft('', 18px, 700, $c_white, 1);
			@include letter-spacing(25);

			@include mobile {
				font-size: 14px;
			}
		}
	}

	.st-detail-lien {
		display: flex;
		align-items: center;
		margin-top: 20px;

		@include mobile {
			justify-content: space-between;
		}

		.st-title-medium {
			margin-right: 15px;
		}

		.st-btn {
			flex-shrink: 0;
		}
	}


	// --modifiers
	&.st--in-overlay {
		.st-container {
			padding: 0 20px 20px;
		}

		// zone fixe hors du slider
		.st-bottom-part {
			margin-top: 20px;

			li {
				font-size: 12px;
			}
		}

		.st-slider-thumb {
			&:before {
				width: 20px;
				left: -20px;
				background: linear-gradient(to right, rgba($c_greydark, 1), rgba($c_greydark, 0));
			}
			&:after {
				width: 20px;
				right: -20px;
				background: linear-gradient(to left, rgba($c_greydark, 1), rgba($c_greydark, 0));
			}

			.splide__slide {
				padding: 25px 0;
				margin-right: 20px;

				.st-surtitre-cat {
					font-size: 10px;
				}

				.st-title {
					font-size: 12px;
				}
			}

			.st-nav-arrows {
				bottom: auto;
				top: 50%;
				transform: translateY(-50%);
				margin-top: 0;

				.st-btn-arrow {
					width: 20px;
					height: 20px;

					&:before {
						font-size: 7px;
					}
				}
			}
		}

		// Slider de contenu principal
		// ==========================================================================

		.st-slider-content {
			margin-top: 10px;

			.st-list-rows {
				.st-item-row {
					display: grid;
					grid-template-columns: auto auto;
					justify-content: space-between;
					align-items: center;
					column-gap: 20px;
					font-size: 12px;
					line-height: 1.33;
				}

				.st-info {
					flex-direction: column;
					text-align: right;
					font-size: 12px;
				}

				.st-note {
					grid-row: 2;
					grid-column: 1 / -1;
				}
			}
		}

		.st-detail-lien {
			justify-content: space-between;

			.st-title-medium {
				font-size: 14px;
			}
		}
	}
}