.st-bloc-focus {

	.st-container {
		display: flex;
		padding: 20px;
		background-color: $c_greydark;
		border-radius: $border-radius;
	}

	.st-col-left {
		display: flex;
		width: 100%;

		.st-visual-container {
			position: relative;
			flex-shrink: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 200px;
			height: 200px;
			margin-right: 20px;

			@include tablet-portrait {
				width: 100px;
				height: 100px;
				margin-right: initial;
			}

			[class^="st-icon-"], [class*=" st-icon-"] {
				flex-shrink: 0;
				font-size: 120px;
				color: $c_sub;

				@include tablet-portrait {
					font-size: 80px;
				}
			}

			img {
				border-radius: $border-radius-small;
			}
		}

		.st-content {
			.st-surtitre-cat {
				margin-top: 8px;
			}

			p:not([class]) {
				font-size: 12px;
				line-height: 1.16;
				margin-top: 8px;
			}
		}
	}

	.st-col-right {
		display: flex;

		.st-btn {
			@include mobile {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}

	// --modifiers
	&.st--with-icon,
	&.st--with-image {
		@include tablet-portrait {
			padding-top: 50px;
		}

		.st-container {
			align-items: center;

			@include tablet-portrait {
				flex-direction: column;
			}
		}

		.st-col-left {
			align-items: center;
			width: 100%;

			@include tablet-portrait {
				flex-direction: column;
				margin-top: -70px;
			}

			.st-content {
				margin-right: 80px;

				@include desktop {
					margin-right: 60px;
				}

				@include tablet-portrait {
					margin-right: initial;
					margin-bottom: 20px;
					margin-top: 20px;
				}

				@include mobile {
					margin-top: 5px;
				}
			}
		}

		.st-col-right {
			flex-shrink: 0;
			flex-direction: column;
			padding-right: 60px;

			@include desktop {
				padding-right: 20px;
			}

			@include tablet-portrait {
				width: 100%;
				flex-direction: row;
				padding-right: initial;
			}

			.st-btn {
				@include tablet-portrait {
					flex: 1;
				}

				& + .st-btn {
					margin-top: 10px;

					@include tablet-portrait {
						margin-top: initial;
						margin-left: 10px;
					}
				}
			}
		}
	}


	&.st--with-image {
		@include tablet-portrait {
			.st-visual-container {
				margin-bottom: 10px;
			}
		}
	}

	&.st--two-elements {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-gap: 30px;

		@include tablet-portrait {
			grid-template-columns: minmax(0, 1fr);
		}

		.st-container {
			flex-direction: column;
		}

		.st-col-left {
			align-items: flex-start;

			.st-content {
				margin: auto 0;
			}

			.st-visual-container {
				width: 120px;
				height: 120px;
				
				@include tablet-portrait {
					margin-right: 20px;
				}
				
				@include mobile {
					width: 100px;
					height: 100px;
				}
			}
		}

		.st-col-right {
			flex-direction: row;
			margin-top: 20px;

			.st-btn {
				flex: 1;

				& + .st-btn {
					margin-left: 10px;
					margin-top: initial;
				}
			}
		}
	}

	&.st--has-line {
		padding-top: 40px;
		padding-bottom: 40px;
		border-bottom: 1px solid $c_border;

		&.st--with-icon,
		&.st--with-image {
			@include tablet-portrait {
				padding-top: 90px;
			}
		}
	}
}