// BLOC VIDEO
// ==========================================================================
.st-bloc-video {
	z-index: 1;

	.st-container {
		position: relative;
		cursor: pointer;

		.st-mask-video {
			@include absolute-stretch();
			z-index: 1;
			opacity: 1;

			& ~ .st-embed-container {
				opacity: 1;
			}

			&.st-hide-mask {
				figure {
					opacity: 0;

					@media screen and (max-width: 750px) {
						opacity: 1;
					}
				}

				& + .st-embed-container {
					opacity: 1;
					z-index: 100;
					pointer-events: auto;
				}
			}

			figure {
				position: relative;
				height: auto;
				opacity: 1;
				@include transition(opacity 0.7s ease-in-out);

				img {
					height: 100%;
					border-radius: $border-radius-small;
				}

				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 100%;
					height: 100%;
					background: linear-gradient(-90deg, rgba($c_main, 0), rgba($c_main, 1));
					opacity: 0.75;
					pointer-events: none;
					@include transition(opacity);
				}

				@include can-hover {
					&:after {
						opacity: 0.9;
					}
				}
			}

			.st-caption {
				position: absolute;
				top: 50%;
				left: 40px;
				max-width: 388px;
				transform: translateY(-50%);
				display: flex;
				align-items: center;

				@include mobile {
					top: auto;
					bottom: 15px;
					left: 20px;
					right: 20px;
					transform: none;
				}

				.st-btn-play {
					flex-shrink: 0;
				}

				.st-surtitre {
					margin-top: 0;
					margin-left: 20px;

					@include mobile {
						font-size: 15px;
						line-height: 1;
						margin-left: 10px;
					}
				}
			}
		}


		.st-embed-container {
			--aspect-ratio: 16/9;
			@include aspect-ratio(var(--aspect-ratio));
			height: 100%;
		}

		video {
			width: 100%;
			height: auto;
			display: none;
		}

		.st-embed-container,
		video {
			& + .st-caption {
				margin-top: 40px;
			}
		}

		.st-local-video {
			&.st-show-video {
				.st-cover-video {
					display: none;
				}

				video {
					display: block;
				}
			}
		}

		.st-cover-video {
			position: relative;
		}
	}

	.st-btn-container {
		display: flex;
		justify-content: flex-end;
		margin-top: 20px;
	}
}