.st-bloc-chiffres-cles {
	.st-chiffres-container {
		@include reset-styles;
		// Déclaration des variables contenant la largeur du gap entre les éléments
		--col-gap: 40px;
		--row-gap: 20px;
		--col-number: 4;

		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-left: calc(var(--col-gap) * -1 / 2);
		margin-right: calc(var(--col-gap) * -1 / 2);
		margin-top: calc(var(--row-gap) * -1);

		@include desktop {
			--col-gap: 20px;
		}

		@include mobile {
			--row-gap: 10px;
			flex-direction: column;
			margin-left: initial;
			margin-right: initial;
		}

		> * {
			width: calc(100% / var(--col-number) - var(--col-gap));		// 4 colonnes -> (25% - 40px)
			margin-left: calc(var(--col-gap) / 2);
			margin-right: calc(var(--col-gap) / 2);
			margin-top: var(--row-gap);

			@include tablet-portrait {
				--col-number: 3;
			}
			@include tablet-small {
				--col-number: 2;
			}
			@include mobile {
				width: 100%;
				margin-left: initial;
				margin-right: initial;
			}
		}
	}

	.st-container {
		@include flex-center;
		aspect-ratio: 1 / 1;
		padding: 20px;
		text-align: center;
		background-color: $c_greydark;
		border-radius: $border-radius;

		@include mobile {
			aspect-ratio: 320 / 135;
		}
	}

	.st-inner-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.number {
		@include ft('', 30px, 600, $c_white, 1);
		max-width: 140px;

		@include mobile {
			max-width: 260px;
		}

		& + .text {
			margin-top: 8px;
		}
	}

	.text {
		@include ft('', 12px, 400, $c_sub, 1.2);
		@include letter-spacing(25);
		text-transform: uppercase;
		max-width: 140px;
	}
}