

#wi-aroundme{
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#wi-aroundme {

    #aroundme{
        
        .add-favorites{
            color: $c_main !important;
            font-size: 1.3rem !important;
        }

        $panel_trigger_size: 35;


        /* ------------------------------- UI */

        .side__trigger{
            &--pull{         
                &:before{
                    background-image: url( svg-bg-uri($svg-arrow1, $c_main) );
                }
            }
            &--close{
                background-image: url( svg-bg-uri($svg-filled-close, $c_sub) );
            }
        }
        .top__trigger{

            &:before{
                background-image: url( svg-bg-uri($svg-filters, $c_sub) );
            }

            &--pull{
                background-color: $c_main;
            }

            &--close{
                background-image: url( svg-bg-uri($svg-filled-close, $c_sub) );
            }
        }

        .aroundme__ui{
            
            &--fullscreen{background-image: url( svg-bg-uri($svg-fullscreen, #FFFFFF) );}
            &--zoomin{background-image: url( svg-bg-uri($svg-zoomin, #FFFFFF) );}
            &--zoomout{background-image: url( svg-bg-uri($svg-zoomout, #FFFFFF) );}
            &--locate{background-image: url( svg-bg-uri($svg-locate, #FFFFFF) );}
            &--home{background-image: url( svg-bg-uri($svg-home, #FFFFFF) );}

        }


        /* ------------------------------------ FILTERS */
        .filtres{
            &__list{
                .grid-item{
                    padding-bottom: 15px;
                    min-height: 32px;
                    margin: auto;
                }
            }
            &__item{
                @extend %tram-destination;

                a {
                    color: #505050;
                }

                [type="checkbox"]{

                    & + label{
                        position: relative;

                        img{
                            top: 50%;
                            transform: translateY(-50%);
                            position: absolute;
                        }
                    }
                }
            }
            &__btn{
                .btn-text{
                    text-transform: uppercase;
                }
                .btn-arrow{
                    content: '';
                    display: inline-block;
                    width: 21px;
                    height: 20px;
                    flex-shrink: 0;
                    background-size: 20px 20px;
                    background-position: center;
                    background-repeat: no-repeat;
                    margin-right: 7px;
                }
                &--reset{
                    .btn-arrow{
                        background-image: url( svg-bg-uri($svg-delete, #b3b3b3) );
                    }
                }
                &--save{
                    .btn-text{
                        color: $c_sub;
                    }
                    .btn-arrow{
                        background-image: url( svg-bg-uri($svg-success, $c_sub) );
                    }
                }

            }


            // Panneau filtres categories
            &--category{
                background-color: $c_main;

                .filtres{
                    &__title{

                        .icon{
                            background-image: url( svg-bg-uri($svg-filters, $c_sub) );
                        }
                    }
                    &__list{
                        @include RWD(desktop){
                            @include grid-distribution(3, 30, grid-item);
                        }
                        @include RWD(tablet_only){
                            @include grid-distribution(3, 30, grid-item);
                        }
                        @include RWD(mobile){
                            @include grid-distribution(1, 0, grid-item);
                        }
                    }
                    &__item{
                        [type="checkbox"]{
            
                            & + label{
                                &:after{
                                    background-color: $c_sub;
                                }
                            }
                            &:checked{
                                & + label{
                                    color: $c_sub;
                                    &:before{
                                        border-color: $c_sub;
                                    }
                                }
                            }
                        }
                    }
                }

            }

            // Panneau filtres liste de pois
            &--poi{
                .filtres{
                    &__title{
                        color: $c_main;
                        .icon{
                            background-image: url( svg-bg-uri($svg-poi-list, $c_main) );
                        }
                        @include RWD(desktop){
                            display: none;
                        }
                    }
                    &__item{
                        [type="checkbox"]{
            
                            & + label{
                                &:before{
                                    border: solid 1px $c_main;
                                }
                                &:after{
                                    background-color: $c_main;
                                }
                            }
                            &:checked{
                                & + label{
                                    &:before{
                                        border-color: $c_main;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }


        /* -------------------------- MARKER */
        .aroundme__marker{
            cursor: pointer;
            &-amount{
                white-space: nowrap;

                &.red{
                    background-color: $crowded-red;
                }
                &.orange{
                    background-color: $crowded-orange;
                }
                &.green{
                    background-color: $crowded-green;
                }
                &.black{
                    background-color: $crowded-black;
                }
                &.grey,&.white{
                    background-color: $crowded-grey;
                }
                /*
                &.white{
                    background-color: $crowded-white;
                }
                */
            }
            &-alert{
                background-image: url( svg-bg-uri($svg-alert, red) );
            }
        }


        /* ------------------------------- Infowindow */
        .leaflet-popup-tip {
            background: $c_main;
        }
        .infowindow{
            &__close{
                background-image: url( svg-bg-uri($svg-filled-close, $c_main) );
            }
            &__name{
                font-family: $fancy-font;
                text-transform: uppercase;
            }
            &__like{
                a{
                    &:not(.liked){
                        background-image: url( svg-bg-uri($svg-favoris, $c_main) );
                    }
                    &.liked{
                        background-image: url( svg-bg-uri($svg-heart-filled, $c_main) );
                    }
        
                }
            }
            &__address{
                font-family: $main-font;
            }
            &__middle{

                .infowindow__contenu:not(:empty){
    
                    @extend %tram-destination;       
                }
            }
            &__opened{
                font-family: $main-font;
            }
            &__schedules{
                font-family: $fancy-font;
            }
            &__amount{
                .infowindow__frequentation{
                    white-space: nowrap;

                    &.orange{
                        background-color: $crowded-orange;
                    }
                    &.green{
                        background-color: $crowded-green;
                    }
                    &.grey, &.white{
                        background-color: $crowded-grey;
                    }
                    /*
                    &.white{
                        background-color: $crowded-white;
                    }
                    */
                    &.red{
                        background-color: $crowded-red;
                    }
                    &.black{
                        background-color: $crowded-black;
                    }
                }
                .crowded-label{
                    color: $c_main;
                    font-family: $main-font;
                }
            }
            &__url {
                a{
                    text-decoration: none;
                    position: relative;
                    transition: all, 0.5s;
                    overflow: hidden;          
                    border-color: $c_main;
                    background-color: $c_main;

                    &.alert-arret span.flexbox:before {
                        background-image: url( svg-bg-uri($svg-alert, $error) );
                    }

                    .flexbox{    
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .btn-text{
                            font-family: $montserrat;
                            font-size: 1.4rem;
                            text-transform: uppercase;
                            font-weight: 400;
                            transition: all, 0.3s;
                            margin-right: 20px;
                            color: #FFFFFF;
                        }

                        .btn-arrow{
                            content: '';
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            background-size: 14px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-image: url( svg-bg-uri($svg-arrow1, #FFFFFF) );
                        }
                    }
                    &:before{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0%;
                        height: 0%;
                        width: 100%;
                        z-index: 1;
                        transition: all, 0.3s;
                        background-color: #FFFFFF;
                    }
                    & > * {
                        position: relative;
                        z-index: 2;
                    }
                    &:hover, &:focus{
                        .btn-text{
                            color: $c_main;
                        }
                        .btn-arrow{
                            background-image: url( svg-bg-uri($svg-arrow1, $c_main) );
                        }
                        &:before{
                            height: 103%;
                        }
                    }
                }
            }
        }

        /* ------------------------------- Etat et ouverture des panels */
        // Ouverture du panneau latéral
        &.side-opened{
            // En desktop/tablet on change le picto par une flèche pour replier le panel
            .side__trigger--pull{
                &:before{
                    background-image: url( svg-bg-uri($svg-arrow1, $c_main) );
                }     
            }
        }
    }

    /* ------------------------------ Etat full screen */

    #aroundme .aroundme--fullscreen{
        #aroundme{
            .aroundme__ui--fullscreen{
                background-image: url( svg-bg-uri($svg-smallscreen, #FFFFFF) );
            }
        }
    }
}