.st-page-boutons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	background-color: $c_main;

	.st-grille-container {
		padding: 100px 0;
	}

	.st-wrapper {
		& + .st-wrapper {
			padding: 10px;
			margin-top: calc($small-margin * 2);
			border: 1px dashed $c_guidelines;
		}
	}

	.container-buttons {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		--gap: 10px;
		margin-left: calc(var(--gap)*-1);
		margin-top: calc(var(--gap)*-1);

		> * {
			margin-left: var(--gap);
			margin-top: var(--gap);
		}
	}
}