.st-page-boutons {
	.st-grille-container {
		padding: 100px 0;
	}

	.st-wrapper-exemple {
		& + * {
			margin-top: calc($small-margin * 2);
		}
	}

	h2 {
		& + .st-wrapper-exemple {
			margin-top: 10px;
		}
	}

	.st-container-buttons {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		--gap: 10px;
		margin-left: calc(var(--gap)*-1);
		margin-top: calc(var(--gap)*-1);

		> * {
			margin-left: var(--gap);
			margin-top: var(--gap);
		}
	}
}