<div class="st-wrapper st-bloc st-bloc-resume st--with-image st--has-margin">
  <div class="st-container">

    <h2 class="st-h2 st-title" data-lfr-editable-id="title-resume" data-lfr-editable-type="text">En Résumé</h2>

    <div class="st-bloc-resume__list st-text-styles">
      <div data-lfr-editable-id="htmlResume" data-lfr-editable-type="rich-text">
        <ul>
          <li>Cras molestie at sapien vitae finibus. Donec pharetra consequat pharetra.</li>
          <li>Nulla maximus, justo quis molestie mattis, felis elit placerat nibh, lobortis molestie mi turpis et nisl. Cras molestie at sapien vitae finibus.</li>
          <li>Sed at sapien porta, imperdiet tortor vitae, interdum augue.</li>
          <li>Vivamus in condimentum velit. Suspendisse potenti. Nullam in ultrices eros, a varius tortor.</li>
        </ul>
      </div>
    </div>

    [#if configuration.showButton]
      <a  data-lfr-editable-id="link" data-lfr-editable-type="link" class="st-btn st--btn-secondary st--btn-secondary-ghost st--btn-small-padding st--btn-full-width-mobile">En savoir plus</a>
    [/#if]
  </div>
</div>
