<div class="st-bloc st-bloc-chiffres-cles st-wrapper st--has-margin">
        <ul class="st-chiffres-container">
					[#if configuration.numberOfBlock > 0]
																													[#list 1..configuration.numberOfBlock as i]
					 <li class="st-container st-single-chiffre">
                <div class="st-inner-container">
                    <p class="number" data-lfr-editable-id="chiffre${i+1}" data-lfr-editable-type="text">200</p>
                    <p class="text" data-lfr-editable-id="precision${i+1}" data-lfr-editable-type="text">mesures instruites par an</p>
                </div>
            </li>
                    [/#list]
									[/#if]
           
        </ul>
</div>