<li class="st-lien-container">
	
	<a href="${configuration.urlLink}" class="st-lien">
                    <p class="st-title-lien" data-lfr-editable-id="titleLink" data-lfr-editable-type="text">Formulaire en ligne</p>
		[#if configuration.displayStyle == "complete"]
		<div class="st-lien-content">
				[/#if]
                        <p class="st-text" data-lfr-editable-id="websiteLink" data-lfr-editable-type="text">Accéder à la page</p>
    [#if configuration.displayStyle == "complete"]                
		</div>                      
		[/#if]
	</a>
																 </li>