.asset-types .asset-type-configuration .input-select-wrapper label,
	.asset-types .input-text-wrapper label, .vocabulary-configuration .input-select-wrapper label
	{
	display: none;
	float: right;
}

.asset-types .input-select-wrapper, .vocabulary-configuration .input-select-wrapper
	{
	width: 250px;
}
html:not(#__):not(#___) .cadmin .vocabulary-configuration .input-select-wrapper2
 	{
 	width: 500px;
 }

.asset-types .input-text-wrapper {
	margin-bottom: 10px;
	margin-left: 50px;
	width: 250px;
}

.asset-types .asset-type-configuration select
	{
	margin-left: 20px;
	min-width: 150px;
	margin-bottom: -5px;
}

.vocabulary-configuration select
	{
	margin-bbottom: -17px;
}

.asset-types .input-checkbox-wrapper, .vocabulary-configuration .input-checkbox-wrapper
	{
	width: 250px;
}
p {
	max-width: 800px;
}
html:not(#__):not(#___) .cadmin p.date {
	margin-top: 20px;
}

.date-range {
	width: 100px;
}

#_com_liferay_portlet_configuration_web_portlet_PortletConfigurationPortlet_fmConfig #container .sheet .icon{
	font-family: 'fontawesome-alloy';
}

html:not(#__):not(#___) .cadmin .panel-group-flush .panel-unstyled{
	margin-bottom: 0;
}

html:not(#__):not(#___) .cadmin .sheet .panel-group .panel-body,
html:not(#__):not(#___) .cadmin .sheet .panel-group .panel:last-child .panel-body{
	padding-top:0;
	margin-bottom: 0;
}

html:not(#__):not(#___) .cadmin .sheet + .sheet{
	margin-top: 25px;
}

html:not(#__):not(#___) .cadmin .sheet{
	margin-bottom: 25px;
}

html:not(#__):not(#___) .cadmin .tag-selector .form-group .sheet-subtitle{
	display: none;
}