.important{
    color: red;
    font-weight: 700;
}

fieldset a{
  font-weight: 700;
  text-transform: uppercase;
}

fieldset .panel-collapse .panel-body > div{
    margin-top: 25px;
}

fieldset .panel-collapse .panel-body > div.margin-less{
    margin-top: 10px;
}

fieldset .panel-collapse .panel-body > div:first-child{
    margin-top: 10px;
}

.margin{
    margin-top: 25px;
}

fieldset .panel-collapse .panel-body > div label{
    font-weight: 500;
}

.zoom{
    width: 100px;
}

.cadrage{
    display: inline-block;
}

fieldset .panel-collapse .panel-body > div p{
    font-size: 0.875rem;
    font-style: italic;
}

html:not(#__):not(#___) .cadmin .panel-group-flush .panel-unstyled{
    margin-bottom: 0;
}

html:not(#__):not(#___) .cadmin .sheet .panel-group .panel-body,
html:not(#__):not(#___) .cadmin .sheet .panel-group .panel:last-child .panel-body{
    padding-top:0;
    margin-bottom: 0;
}

html:not(#__):not(#___) .cadmin .tag-selector .form-group .sheet-subtitle{
    display: none;
}

html:not(#__):not(#___) .cadmin .radio{
    margin-left: 20px;
}

html:not(#__):not(#___) .cadmin .radio input{
    margin-left: -20px;
}