.st-sit-info-acces {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	@include mobile {
		grid-template-columns: 1fr;
		grid-gap: 20px;
	}

	.st-indication {
		font-style: italic;
	}

	.st-acces {
		ul {
			margin-bottom: 0px;
		}
	}
}