.st-sit-onglet {
	overflow: hidden;

	.st-h2 {
		margin-bottom: 40px;
		@include mobile {
			margin-bottom: 20px;
		}
	}

	.st-container {
		padding: 0 40px 40px;
		border: 1px solid $c_border;
		overflow: hidden;
		@include mobile {
			padding: 0 20px 20px;

		}
	}

	.st-bottom-part {
		margin-top: 40px;
	}

	.st-slider-thumb {
		position: relative;
		padding-right: 70px;
		border-bottom: 1px solid $c_border;

		&:after {
			content: "";
			display: block;
			width: 50px;
			height: 100%;
			background: linear-gradient(90deg, rgba($c_main, 0), rgba($c_main, 1));
			position: absolute;
			right: -40px;
			top: 0;
			pointer-events: none;
			z-index: 1;
			@include mobile {
				right: -20px;
			}
		}

		.splide__track {
			overflow: visible;
			z-index: 1;

		}

		.splide__slide {
			position: relative;
			margin-right: 40px;
			padding: 40px 0;
			display: flex;
			flex-direction: column-reverse;
			cursor: pointer;
			@include mobile {
				padding: 25px 0;
				margin-right: 20px;
			}

			&:after {
				@include icomoon($st-icon-empty-circle);
				font-size: 13px;
				color: $c_sub;
				position: absolute;
				bottom: -7px;
				left: 50%;
				transform: translateX(-50%) scale(0);
				opacity: 0;
				pointer-events: none;
				@include addTransition();
			}

			&.is-active {
				&:after {
					transform: translateX(-50%) scale(1);
					opacity: 1;
				}

				.st-title {
					color: $c_white;
				}
			}

			@include can-hover {
				.st-title {
					color: $c_white;
				}
			}
		}

		.st-nav-arrows {
			display: inline-block;
			margin-top: -15px;
			background-color: $c_main;
			z-index: 1;
			position: absolute;
			bottom: -15px;
			right: 0;
			z-index: 2;
			@include mobile {
				bottom: auto;
				transform: translateY(-50%);
				top: 50%;
				margin-top: 0;
			}

			.st--prev {
				margin-right: 5px;
				@include mobile {
					margin-right: 0px;
				}
			}

			.st-btn-arrow {
				@include mobile {
					width: 20px;
					height: 20px;

					&:before {
						font-size: 7px;
					}
				}
			}
		}

		.st-date {
			@include ft($f_txt, 12px, 400, $c_sub, 1);
			@include letter-spacing(25);
			text-transform: uppercase;
			@include mobile {
				font-size: 10px;
			}
		}

		.st-title {
			@include ft($f_txt, 16px, 700, rgba($c_white, 0.60), 1);
			margin-top: 5px;
			@include addTransition();
			@include mobile {
				font-size: 12px;
			}
		}


	}

	.st-small-title {
		@include ft($f_txt, 16px, 700, $c_white, 1);
		@include addTransition();
		@include mobile {
			font-size: 14px;
		}
	}

	.st-slider-content {
		margin-top: 20px;
		@include mobile {
			margin-top: 10px;
		}

		.splide__slide {
			width: 100%;
		}

		.st-single-slide-container {
			width: 100%;

			li {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 20px 0;
				@include ft($f_txt, 14px, 300, $c_white, 1);
				@include letter-spacing(25);

				&:after {
					content: "";
					display: block;
					width: 100%;
					height: 1px;
					background-image: url("../images/deco/dotted-line.svg");
					position: absolute;
					left: 0;
					bottom: 0;
				}

				&:last-of-type {
					padding-bottom: 0px;

					&:after {
						display: none;
					}
				}
			}

			.st-title {
				margin-right: 20px;
				white-space: nowrap;
			}

			.st-info {
				text-align: right;
			}

			.st-info p {
				line-height: 20px;
			}

			.st-ouverture {
				color: $c_sub;

				&.st--closed {
					color: $c_rose;
				}
			}

			.st-symbol {
				color: $c_sub;
			}

			.st-note {
				@include ft($f_txt, 12px, 300, $c_txt, 1);
				font-style: italic;
				@include letter-spacing(25);
			}

		}

	}

	.st-info {
		.st-title {
			@include ft($f_txt, 18px, 700, $c_white, 1);
			@include letter-spacing(25);
			@include mobile {
				font-size: 14px;
			}
		}
	}

	.st-detail-lien {
		display: flex;
		align-items: center;
		margin-top: 20px;
		@include mobile {
			justify-content: space-between;
		}

		.st-small-title {
			margin-right: 15px;
		}

	}


}