.st-bloc-autour-de-moi {
	.st-barre-position {
		display: flex;
		align-items: center;
		padding: 30px;
		background-color: $c_greydark;
		@include mobile {
			flex-direction: column;
			padding: 20px;
		}
	}

	.st-title {
		@include ft($f_hx, 25px, 600, $c_white, 1);
		margin-right: auto;
		@include mobile {
			font-size: 20px;
			margin-bottom: 20px;
			width: 100%;
		}
	}

	.st-right-side {
		display: flex;
		align-items: center;
		@include mobile {
			flex-direction: column;
			align-items: stretch;
			width: 100%;
		}
	}

	.st--btn-position {
		margin-right: 10px;
		@include mobile {
			margin-right: 0px;
		}

		&:before {
			@include mobile {
				margin-right: auto;
			}
		}
	}

	.maps {
		height: 520px;
		z-index: 1;
		@include mobile {
			height: 320px;
		}
	}
}