.st-bloc-editions-dossiers {
	display: flex;
	@include tablet-portrait {
		flex-direction: column;
	}

	.st-col-left {
		padding: 40px 40px 40px 0;
		width: 400px;
		flex-shrink: 0;
		border: 1px solid $c_border;
		border-left: none;
		@include tablet-portrait {
			width: 100%;
			padding: 40px 0;
			border-right: none;
		}

		.st-h2 {
			margin-bottom: 25px;
		}
	}

	.st-editions-container {
		& + .st-btn {
			width: 100%;
		}
	}

	.st-edition {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		.st-image {
			margin-right: 20px;
			flex-shrink: 0;
		}

		.st-content {
			display: flex;
			flex-direction: column;
		}

		.st-h3 {
			margin-bottom: 20px;
		}

		.st-btn + .st-btn {
			margin-top: 10px;
		}
	}

	.st-col-right {
		padding: 40px 0px 40px 40px;
		flex: 1;
		overflow: hidden;
		border: 1px solid $c_border;
		border-left: none;
		border-right: none;
		@include tablet-portrait {
			padding: 40px 0;
			border-top: none;
		}

		.splide__slide {
			width: 193px;
			margin-right: var(--slide-gap);
		}

		.splide__track {
			&:after {
				content: "";
				display: block;
				width: 60px;
				height: 100%;
				background: linear-gradient(90deg, rgba($c_main, 0), rgba($c_main, 1));
				position: absolute;
				top: 0;
				right: 0;
				pointer-events: none;
			}
		}
	}

	.st-top-bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	.st-bottom-bar {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
		@include mobile {
			flex-direction: column;
		}

		.st-btn {
			@include mobile {
				margin-top: 15px;
			}
		}

	}

	.st-nav-dots {
		@include mobile {
			justify-content: flex-end;
		}
	}


}