<header id="st-barre-navigation" class="st-barre-navigation" role="banner">
  <div>
    <div class="pre-header">
      <div class="st-wrapper st-barre-inner-container">
        <div>
          <a href="${strasbourg.homeURL()}" class="st-logo">
            <figure class="st-figure st-fit-cover">
              <picture>
                <img width="154" height="30" alt="Strasbourg.eu eurométropole"
                     src="/o/strasbourg-theme/images/medias/logo.png"
                     srcset="/o/strasbourg-theme/images/medias/logo.png 1x, /o/strasbourg-theme/images/medias/logo@2x.png 2x">
              </picture>
            </figure>
          </a>
        </div>

        <nav class="st-nav-primary" role="navigation">
          <ul class="st-nav-primary__menu">
            <li class="st-nav-primary__item">
              <a href="/contact" class="st-nav-primary__link">[@liferay_ui.message key="eu.ops.contact" /]</a>
            </li>

          </ul>

        </nav>
      </div>
    </div>

    <lfr-drop-zone></lfr-drop-zone>
  </div>
</header>
<header class="st-toolbar-navigation" role="banner">
  <div class="st-wrapper">
    <ul class="st-toolbar-inner">
      <li class="st-has-logo">
        <a href="${strasbourg.homeURL()}" class="st-logo">
          <figure class="st-figure st-fit-cover" role="group">
            <picture>
              <img
                alt="Strasbourg.eu eurométropole"
                src="/o/strasbourg-theme/images/medias/logo.png"
                srcset="/o/strasbourg-theme/images/medias/logo.png 1x,/o/strasbourg-theme/images/medias/logo@2x.png 2x">
            </picture>
          </figure>

        </a>
      </li>
      <li>
        <nav class="st-btn-menu__wrapper" role="navigation" aria-label="Menu principal">
          <button class="st-btn-menu" aria-haspopup="dialog" data-overlay-open="st-overlay-menu">
                       <span class="st-btn-menu__icon" aria-hidden="true">
                           <span class="st-btn-menu__line"></span>
                            <span class="st-btn-menu__line"></span>
                            <span class="st-btn-menu__line"></span>
                       </span>
            <span class="st-sr-only">Menu</span>
          </button>
        </nav>
      </li>
    </ul>
  </div>
</header>
