<div class="st-bloc st-bloc-galerie st-js-slider-galerie splide st-u-overflow-x-hidden st--direction-ltr" role="group">
  <div class="st-wrapper st-bloc-galerie__inner">
    <div class="st-slider-container">
      <div class="splide__arrows st-nav-arrows">
        <button class="splide__arrow splide__arrow--prev st-btn-arrow st--prev"></button>
        <button class="splide__arrow splide__arrow--next st-btn-arrow st--next"></button>
      </div>

      <div class="splide__track st-u-overflow-visible">
        <ul class="splide__list">
          [#if configuration.numberOfImages > 0]
          [#list 1..configuration.numberOfImages as i]
          <li class="splide__slide">

            <figure class="st-figure st-fit-cover ">
              <picture>
                <img alt data-lfr-editable-id="img${i+1}" data-lfr-editable-type="image" src="https://placehold.co/800x450?text=Image%20#${i+1}" >
              </picture>
              <figcaption>
                <span data-lfr-editable-id="legend${i+1}" data-lfr-editable-type="text">Lorem ipsum dolorem </span>
                <button type="button" class="st-credits st-js-credits" aria-expanded="false" aria-label="© (copyright de l'image)">©</button>
                  <span class="[#if layoutMode != "edit"]st-credits-content[/#if]" [#if layoutMode == "edit"]style='display: block;'[/#if] aria-hidden="true" data-lfr-editable-id="copyright${i+1}" data-lfr-editable-type="text">© Abraham Lebowski</span>
              </figcaption>
            </figure>
          </li>
          [/#list]
          [/#if]
        </ul>
      </div>
    </div>

    <ul class="splide__pagination st-nav-dots"></ul>
  </div>
</div>
