.st-bloc-sit-focus {
	display: flex;
	justify-content: center;
	background-color: $c_greydark;
	border-radius: $border-radius;

	.st-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: $wrapper-small-width;
		min-height: 170px;
		padding: 40px;

		@include tablet-small {
			flex-direction: column;
			align-items: initial;
		}

		@include mobile {
			padding: 20px
		}
	}

	.st-col-left {
		margin-right: 80px;

		@include tablet-portrait {
			margin-right: 40px;
		}

		@include tablet-small {
			margin-right: initial;
			margin-bottom: 20px;
		}
	}

	.st-col-right {
		display: flex;
		flex-shrink: 0;

		@include tablet-portrait {
			flex-direction: column;
		}

		.st-btn + .st-btn {
			margin-left: 10px;

			@include tablet-portrait {
				margin-left: initial;
				margin-top: 10px;
			}
		}
	}

	.st-text {
		@include ft('', 12px, 400, $c_txt, 1.16);
		@include letter-spacing(25);
		margin-top: 10px;
	}

	&.st--with-icon {
		@include tablet-small {
			margin-top: 110px;
		}

		@include mobile {
			margin-top: 90px;
		}

		.st-col-left {
			display: flex;
			align-items: center;

			@include tablet-small {
				flex-direction: column;
				margin-top: -80px;
			}

			@include mobile {
				margin-top: -60px;
			}
		}

		[class^="st-icon-"], [class*=" st-icon-"] {
			display: block;
			font-size: 80px;
			color: $c_sub;

			& + .st-content {
				margin-left: 30px;

				@include tablet-portrait {
					margin-left: 20px;
				}

				@include tablet-small {
					align-self: stretch;
					margin-left: initial;
					margin-top: 20px;
				}
			}
		}
	}
}