<div class="st-card st-card-contact">
    <div class="st-caption">
                    <p class="st-title-card" data-lfr-editable-id="fullName" data-lfr-editable-type="text">Sophie Cambra</p>
                            <p class="st-surtitre-cat" data-lfr-editable-id="jobName" data-lfr-editable-type="text">Responsable du service</p>

                    <div class="st-btns-wrapper">
                                    <a href="mailto:${configuration.mail}" class="st-btn-icon st-btn-icon--bg-sub">
                        <span class="st-icon-email" aria-hidden="true"></span>
																			<span class="st-sr-only">E-mail</span>
                    </a>
                                                    <a href="tel:${configuration.phone}" class="st-btn st--btn-secondary st--btn-xs st--btn-small-padding">${configuration.phone}</a>
                            </div>
            </div>

    <div class="st-image">

    <figure class="st-figure st-fit-cover" role="group">
        <picture>
            <img alt="" data-lfr-editable-id="imagePersonne"
  data-lfr-editable-type="image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAABECAYAAABK3PEEAAAACXBIWXMAAC4jAAAuIwF4pT92AAABBUlEQVR4Xu3VAQkAIBDFUO0fRLCD2RSM8dg12Mbn5trnjo41MAvMtv1gBbb7FhjvW+AC6wZwvn5wgXEDOF4LLjBuAMdrwQXGDeB4LbjAuAEcrwUXGDeA47XgAuMGcLwWXGDcAI7XgguMG8DxWnCBcQM4XgsuMG4Ax2vBBcYN4HgtuMC4ARyvBRcYN4DjteAC4wZwvBZcYNwAjteCC4wbwPFacIFxAzheCy4wbgDHa8EFxg3geC24wLgBHK8FFxg3gOO14ALjBnC8Flxg3ACO14ILjBvA8VpwgXEDOF4LLjBuAMdrwQXGDeB4LbjAuAEcrwUXGDeA47XgAuMGcLwWXGDcAI73ADVez7kdh2y/AAAAAElFTkSuQmCC">
        </picture>
    </figure>

            </div>

</div>
