additionalConfigurations=""
additionalIndexConfigurations="\{\n\ \ \ \ \"index.mapping.total_fields.limit\":\ 90000,\n\ \ \ \ \"analysis\":\ \{\n\ \ \ \ \ \ \ \ \"filter\":\ \{\n\ \ \ \ \ \ \ \ \ \ \ \ \"strasbourg_synonyms_filter\":\ \{\n\ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \"type\":\ \"synonym\",\n\ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \"synonyms_path\":\ \"analysis/synonyms.txt\"\n\ \ \ \ \ \ \ \ \ \ \ \ \}\n\ \ \ \ \ \ \ \ \},\n\ \ \ \ \ \ \ \ \"analyzer\":\ \{\n\ \ \ \ \ \ \ \ \ \ \ \ \"strasbourg_analyzer\":\ \{\n\ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \"tokenizer\":\ \"standard\",\n\ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \"filter\":\ [\n\ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \"lowercase\",\n\ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \"strasbourg_synonyms_filter\"\n\ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ ]\n\ \ \ \ \ \ \ \ \ \ \ \ \}\n\ \ \ \ \ \ \ \ \}\n\ \ \ \ \}\n\}"
additionalTypeMappings="\{\n\t\"properties\":\ \{\n\t\t\"datesISO\":\ \{\n\t\t\t\"store\":\ true,\n\t\t\t\"type\":\ \"date\"\n\t\t\}\n\t\}\n\}"
authenticationEnabled=B"false"
bootstrapMlockAll=B"false"
clusterName="LiferayElasticsearchCluster"
discoveryZenPingUnicastHostsPort="9300-9400"
embeddedHttpPort=I"9201"
httpCORSAllowOrigin="/https?:\\/\\/localhost(:[0-9]+)?/"
httpCORSConfigurations=""
httpCORSEnabled=B"true"
httpSSLEnabled=B"false"
indexMaxResultWindow=I"10000"
indexNamePrefix="liferay-"
indexNumberOfReplicas=""
indexNumberOfShards=""
logExceptionsOnly=B"true"
maxConnections=I"75"
maxConnectionsPerRoute=I"75"
minimumRequiredNodeVersion="0.0.0"
networkBindHost=""
networkHost=""
networkHostAddresses=[ \
  "http://elasticsearch:9200", \
  ]
networkPublishHost=""
nodeName=""
operationMode="REMOTE"
overrideTypeMappings=""
productionModeEnabled=B"false"
proxyHost=""
proxyPort=I"0"
proxyUserName=""
remoteClusterConnectionId=""
restClientLoggerLevel="ERROR"