.pro-page-detail.pro-page-detail-projet {

	header.pro-project-header {
		display: flex;
		flex-direction: column;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.8) 100%);
		}

		background-size: cover;
		background-position: center;
		height: 500px;
		@include mobile {
			height: 500px;
		}

		.caption-project-title {
			h1, p, span {
				color: white;
			}
		}


	}

	.pro-wrapper-content {
		padding-bottom: 80px;
		@include mobile {
			padding-bottom: 40px;
		}

		.col-lg-12 {
			.row {
				@include mobile {
					display: flex;
					justify-content: center;
					align-items: center;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
				}

				> * {
					@include mobile {
						width: 100%;
					}
				}
			}
		}
	}

	section.col-sm-8 {
		position: relative;
		display: flex;
		@include mobile {
			order: 2;
		}

		&:before {
			content: '';
			clear: both;
			display: block;
		}

		.pro-timeline {
			margin-right: 20px;

			:nth-child(n) > .pro-jalon {
				position: relative;
				overflow: visible;
				&.pro-first {
					background: #20272F;
					color: white;
					border-radius: 50%;
					div {
						.pro-date {
							box-shadow: none !important;
						}
					}
				}
				&.pro-past:first-child:before {
					border: solid 2px #20272F;
					top:-20px;
				}
				&.pro-past {
					border-radius: 50%;

					&:before {
						content: '';
						height: 20px;
						width: 2px;
						border: dashed 1px #20272F;
						position: absolute;
						left: 50%;
						top:0;
						&:first-child {
							border: solid 2px #20272F;
						}
					}
				}
				div {
					margin-top: 20px;
					cursor: pointer;
					position: relative;

					.pro-date {
						display: flex;
						flex-direction: column;
						align-items: center;
						align-content: center;
						justify-content: center;
						height: 100%;
						width: 100px;
						height: 100px;
						border-radius: 50%;
						box-shadow: 0 0 0 5px rgba(#FCE1D0, 0.8), 0 0 0 10px rgba(#FCE1D0, 0.6), 0 0 0 15px rgba(#FCE1D0, 0.4);


					}

					.pro-titre {
						display: none;
						position: absolute;
						left: 120px;
						width: auto;
						height: 100px;
						top: 0;

						flex-direction: column;
						align-items: center;
						align-content: center;
						justify-content: center;
					}

					.pro-date:hover + .pro-titre {
						display: flex; // Show the element when hovering .pro-date
						@include addTransitionCurve()
					}


				}
			}


		}


	> .pro-wrapper {
		flex: 1;

		> * {
			margin: 0;
			padding: 15px 0;
		}

		#breadcrumb {
			span, a {
				color: black;
				&:after {
					background: black;
				}
			}

			@include mobile {
				display: none;
			}
		}

		.pro-bloc-texte {
			h2 {
				&:before {
					width: 48px;
					left: -60px;
					@include mobile {
						position: relative;
						left: 0;
						margin-bottom: 10px;
						width: 72px;
					}
				}
			}
		}

		.pro-bloc-bref {
			h3 {
				@include ft($f_hx, 1.250em, 700, $c_txt, 1.3em);
				margin-bottom: 10px;
				text-transform: uppercase;
			}

			ul {
				li {
					padding: 10px 0;
					padding-left: 35px;
					border-bottom: 1px solid #ccd2d6;
					@include ft($f_txt, 0.875em, 400, $c_txt, 1.714em);

					.pro-euros {
						@include ft($f_hx, 1.375em, 700, $c_txt, 1.091em);
					}

					> span {
						position: absolute;
						left: 0;
						width: 35px;
						text-align: left;
						line-height: 23px;
						padding: 0 4px;
					}
				}
			}
		}

		.container {
			width: 100%;
		}

		.pro-bloc-txt-img {
			h2 {
				&:before {
					content: none;
				}
			}
		}

		.pro-bloc-image-slider {
			.owl-carousel {
				.owl-item {
					.item {
						.caption {
							bottom: 55px;
							transform: none;
							top: auto;
							width: 100%;

							&.pro-captionright {
								p {
									width: 90%;
									max-width: 90%;
									margin-left: 10%;
								}
							}

							&.pro-captioncenter {
								p {
									margin: auto;
								}
							}

							> * {
								padding: 0 35px;
								@include mobile {
									padding: 0;
								}
							}

							p {
								width: 90%;
								max-width: 90%;
								@include mobile {
									width: 100%;
									max-width: 100%;
								}
							}
						}

						figure {
							img {
								height: 460px;
							}

							figcaption {
								margin: 0;
							}
						}
					}
				}

				.owl-nav {
					.owl-prev, .owl-next {
						height: 15px;
						width: 15px;
					}

					.owl-prev {
						left: 30px;
						border-top: 3px solid #fff;
						border-left: 3px solid #fff;
						@include addTransition();

						&:hover {
							border-color: $c_main;
						}
					}

					.owl-next {
						right: 30px;
						border-top: 3px solid #fff;
						border-right: 3px solid #fff;
						@include addTransition();

						&:hover {
							border-color: $c_main;
						}
					}
				}

				.owl-dots {
					position: relative;
					right: 0;
					bottom: 0px;
					margin-top: 5px;
					width: 100%;
					left: 0;
				}
			}
		}

		.pro-slider-event {
			h2 {
				line-height: 1.5em;
				display: block;
				color: white;
			}

			.pro-btn {
				position: relative;
				top: 0;
				left: 0;
				margin-bottom: 15px;
			}

			.owl-carousel {
				.owl-dots {
					margin-top: 10px;
					bottom: 0;
				}

				.owl-item {
					opacity: 1;

					&.active {
						opacity: 1 !important;
					}

					&.active ~ .opacify {
						opacity: 0.4 !important;
					}
				}

				.owl-item {
					&.opacify {
						opacity: 0;
					}
				}

			}
		}

		.pro-bloc-wrapper-video {
			margin-bottom: 20px;
		}

		.pro-slider-participation {
			padding: 30px 0 35px;
			margin-bottom: 15px;
			margin-top: 5px;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: -100%;
				width: 9999px;
				background: #edf0f2;
				display: block;
				z-index: -1;
			}

			h2 {
				line-height: 1.5em;
				display: block;
			}

			.pro-btn {
				position: relative;
				top: 0;
				left: 0;
				margin-bottom: 15px;
			}

			.owl-carousel {
				.owl-dots {
					margin-top: 10px;
					bottom: 0;
				}

				.owl-item {
					opacity: 1;

					&.active {
						opacity: 1 !important;
					}

					&.active ~ .opacify {
						opacity: 0.4 !important;
					}
				}

				.owl-item {
					&.opacify {
						opacity: 0;
					}
				}
			}
		}

		.pro-bloc-image {
			padding-bottom: 30px;
		}

		.pro-tiers {
			text-align: right;

			figure {
				@include aspect-ratio(358, 467);

				img {
					@extend %center;
					width: 100%;
					height: 100%;
				}
			}

			> * {
				&:last-child {
					figure {
						margin-bottom: 5px;
					}
				}
			}

			span {
				@include ft($f_txt, $s_small, 400, $c_txt, 1.636em);
				text-align: right;
				display: inline-block;
				padding: 5px 0;
				white-space: nowrap;
				overflow: hidden;
				max-width: 100%;
				text-overflow: ellipsis;
				position: relative;
				padding-right: 20px;

				&:after {
					content: "\e90a";
					@include font();
					float: right;
					line-height: 1.7em;
					margin-left: 8px;
					position: absolute;
					right: 0;
				}

				img {
					margin-right: 10px;
					float: left;
					position: relative;
					top: 3px;
				}
			}
		}

		.pro-map {
			> div {
				position: relative;
			}

			.maps {
				height: 470px;
			}
		}

		.pro-sondages {
			h2 {
				@include ft($f_hx, 5em, 700, $c_txt, 1em);
				display: block;
				@include mobile {
					font-size: 4em;
				}
				@include mobile_small {
					font-size: 3em;
				}
			}

			> div {
				margin: 30px 0;
				@include clearfix();

				&:nth-child(odd) {
					.pro-number-sondage {
						float: right;
						margin-right: 0;
						margin-left: 30px;
						text-align: right;
					}
				}

				.pro-number-sondage {
					width: 52%;
					float: left;
					margin-right: 30px;
					@include mobile {
						width: 100%;
						margin-right: 0;
					}

					span {
						position: relative;
						display: block;
						@include ft($f_hx, 3.438em, 700, $c_txt, 1em);
						margin-bottom: 15px;

						&:after {
							content: '';
							display: block;
							position: absolute;
							bottom: -6px;
							left: 0;
							right: 0;
							width: 100%;
							height: 18px;
							background: $c_main;
							z-index: -1;
						}
					}
				}

				.pro-txt-sondage {
					width: calc(48% - 30px);
					float: left;
					@include mobile {
						width: 100%;
					}
				}
			}
		}

		.pro-bloc-telechargements {
			h3 {
				text-transform: uppercase;
			}
		}
	}
}
	aside {
		&.col-sm-4-to-move {
			@include addTransitionCurve();
			position: sticky;
			top: 200px;
			margin-top: -400px;
			.is-scrolled & {
				top: 128px;
			}

			.is-scrolled.scrolldir-top & {
				top: 208px;
			}
		}
		.pro-btn-yellow {
			background: none;
			color: $c_main;
			&:hover, &:focus, &.active {
				background: $c_main;
				color: $c_txt;
			}
			&.pro-btn-disabled{
				background: #ececec;
				color: rgba($c_dark, 0.5);
				border-color: #ececec;
				&:hover, &:focus {
					cursor: default;
				}
			}
		}
		.maps {
			@include tablet_portrait {
				height: 140px;
			}
		}
	}

}