.pro-jalon {
	position: relative;
	overflow: visible;
	&.pro-first {
		background: #20272F;
		color: black;
		border-radius: 50%;
		div {
			.pro-date {
				box-shadow: none !important;
			}
		}
		&:before {
			content: '';
			height: 40px;
			width: 2px;
			border: solid 2px #20272F;
			position: absolute;
			left: 50%;
			bottom: -40px;
			z-index: 10;

		}
	}
	&.pro-past:not(:last-child) {
		border-radius: 50%;
		&:before {
			content: '';
			height: 40px;
			width: 2px;
			border: dashed 1px #20272F;
			position: absolute;
			left: 50%;
			bottom: -40px;
			z-index: 10;
		}
	}
	div {
		margin-top: 40px;
		cursor: pointer;
		position: relative;

		.pro-date {

			display: flex;
			flex-direction: column;
			align-items: center;
			align-content: center;
			justify-content: center;
			height: 100%;
			width: 100px;
			height: 100px;
			font-size: 1.2em;
			border-radius: 50%;
			z-index: 5;
			box-shadow: 0 0 0 5px rgba($c_ville, 0.3), 0 0 0 10px rgba($c_ville, 0.2), 0 0 0 15px rgba($c_ville, 0.1);

			.couleur-ville & {
				box-shadow: 0 0 0 5px rgba($c_ville, 0.3), 0 0 0 10px rgba($c_ville, 0.2), 0 0 0 15px rgba($c_ville, 0.1);
			}
			.couleur-eurometropole & {
				box-shadow: 0 0 0 5px rgba($c_eurometropole, 0.3), 0 0 0 10px rgba($c_eurometropole, 0.2), 0 0 0 15px rgba($c_eurometropole, 0.1);
			}
			.couleur-commune & {
				box-shadow: 0 0 0 5px rgba($c_commune, 0.3), 0 0 0 10px rgba($c_commune, 0.2), 0 0 0 15px rgba($c_commune, 0.1);
			}
			background: white;
			.pro-day-more {
				font-weight: 700;
			}

		}

		.pro-titre {
			display: none;
			position: absolute;
			left: -10px;
			width: 350px;
			height: 120px;
			top: -50px;
			@include addDynamicBackground();
			flex-direction: column;
			align-items: flex-start;
			align-content: center;
			justify-content: center;
			padding-left: 120px;
			border-radius: 60px;
			z-index: 4;
			span, h4 {
				color: $c_white;
			}
		}

		.pro-date:hover + .pro-titre {
			display: flex; // Show the element when hovering .pro-date
		}
		.pro-date:hover {
			background-color: #20272f;
			box-shadow: none;
			span{
				color: $c_white;
			}

		}


	}
}



.pro-page-detail.pro-page-detail-projet {

	header.pro-project-header {
		display: flex;
		flex-direction: column;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.8) 100%);
		}

		background-size: cover;
		background-position: center;
		height: 500px;
		@include mobile {
			height: 500px;
		}

		.caption-project-title {
			h1, p, span {
				color: white;
			}
			.pro-bloc-meta {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 10px;
			}
			.pro-surtitre {
				text-transform: uppercase;
			}
		}


	}

	.pro-wrapper-content {
		padding-bottom: 80px;
		@include mobile {
			padding-bottom: 40px;
		}

		.col-lg-12 {
			.row {
				@include mobile {
					display: flex;
					justify-content: center;
					align-items: center;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
				}

				> * {
					@include mobile {
						width: 100%;
					}
				}
			}
		}
	}

	section.col-md-8 {
		position: relative;
		display: flex;
		@include mobile {
			order: 2;
		}

		&:before {
			content: '';
			clear: both;
			display: block;
		}

		.pro-timeline {
			margin-right: 20px;
			@include tablet_portrait {
				display: none;
			}
		}


	> .pro-wrapper {
		flex: 1;

		> * {
			margin: 0;
			padding: 15px 0;
		}

		#breadcrumb {
			span, a {
				color: black;
				&:after {
					background: black;
				}
			}

			@include mobile {
				display: none;
			}
		}

		.pro-bloc-texte {
			h2 {
				&:before {
					width: 48px;
					left: -60px;
					@include mobile {
						position: relative;
						left: 0;
						margin-bottom: 10px;
						width: 72px;
					}
				}
			}
		}

		.pro-bloc-bref {
			h3 {
				@include ft($f_hx, 1.4em, 700, $c_txt, 1em);
				margin-bottom: 10px;
				letter-spacing: -0.5px;
			}

			ul {
				li {
					padding: 10px 0;
					padding-left: 35px;
					border-bottom: 1px solid #ccd2d6;
					@include ft($f_txt, 0.875em, 400, $c_txt, 1.714em);

					.pro-euros {
						@include ft($f_hx, 1.375em, 700, $c_txt, 1.091em);
					}

					> span {
						position: absolute;
						left: 0;
						width: 35px;
						text-align: left;
						line-height: 23px;
						padding: 0 4px;
					}
				}
			}
		}

		.container {
			width: 100%;
		}

		.pro-bloc-txt-img {
			h2 {
				&:before {
					content: none;
				}
			}
		}

		.pro-bloc-image-slider {
			.owl-carousel {
				.owl-item {
					.item {
						.caption {
							bottom: 55px;
							transform: none;
							top: auto;
							width: 100%;

							&.pro-captionright {
								p {
									width: 90%;
									max-width: 90%;
									margin-left: 10%;
								}
							}

							&.pro-captioncenter {
								p {
									margin: auto;
								}
							}

							> * {
								padding: 0 35px;
								@include mobile {
									padding: 0;
								}
							}

							p {
								width: 90%;
								max-width: 90%;
								@include mobile {
									width: 100%;
									max-width: 100%;
								}
							}
						}

						figure {
							img {
								height: 460px;
							}

							figcaption {
								margin: 0;
							}
						}
					}
				}

				.owl-nav {
					.owl-prev, .owl-next {
						height: 15px;
						width: 15px;
					}

					.owl-prev {
						left: 30px;
						border-top: 3px solid #fff;
						border-left: 3px solid #fff;
						@include addTransition();

						&:hover {
							@include addDynamicBorderColor();
						}
					}

					.owl-next {
						right: 30px;
						border-top: 3px solid #fff;
						border-right: 3px solid #fff;
						@include addTransition();

						&:hover {
							@include addDynamicBorderColor();
						}
					}
				}

				.owl-dots {
					position: relative;
					right: 0;
					bottom: 0px;
					margin-top: 5px;
					width: 100%;
					left: 0;
				}
			}
		}

		.pro-slider-event {
			h2 {
				line-height: 1.5em;
				display: block;
				color: white;
			}

			.pro-btn {
				position: relative;
				top: 0;
				left: 0;
				margin-bottom: 15px;
			}

			.owl-carousel {
				.owl-dots {
					margin-top: 10px;
					bottom: 0;
				}

				.owl-item {
					opacity: 1;

					&.active {
						opacity: 1 !important;
					}

					&.active ~ .opacify {
						opacity: 0.4 !important;
					}
				}

				.owl-item {
					&.opacify {
						opacity: 0;
					}
				}

			}
		}

		.pro-bloc-wrapper-video {
			margin-bottom: 20px;
		}

		.pro-slider-participation {
			padding: 30px 0 35px;
			margin-bottom: 15px;
			margin-top: 5px;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: -100%;
				width: 9999px;
				background: #edf0f2;
				display: block;
				z-index: -1;
			}

			h2 {
				line-height: 1.5em;
				display: block;
			}

			.pro-btn {
				position: relative;
				top: 0;
				left: 0;
				margin-bottom: 15px;
			}

			.owl-carousel {
				.owl-dots {
					margin-top: 10px;
					bottom: 0;
				}

				.owl-item {
					opacity: 1;

					&.active {
						opacity: 1 !important;
					}

					&.active ~ .opacify {
						opacity: 0.4 !important;
					}
				}

				.owl-item {
					&.opacify {
						opacity: 0;
					}
				}
			}
		}

		.pro-bloc-image {
			padding-bottom: 30px;
		}

		.pro-tiers {
			text-align: right;

			figure {
				@include aspect-ratio(358, 467);

				img {
					@extend %center;
					width: 100%;
					height: 100%;
				}
			}

			> * {
				&:last-child {
					figure {
						margin-bottom: 5px;
					}
				}
			}

			span {
				@include ft($f_txt, $s_small, 400, $c_txt, 1.636em);
				text-align: right;
				display: inline-block;
				padding: 5px 0;
				white-space: nowrap;
				overflow: hidden;
				max-width: 100%;
				text-overflow: ellipsis;
				position: relative;
				padding-right: 20px;

				&:after {
					content: "\e90a";
					@include font();
					float: right;
					line-height: 1.7em;
					margin-left: 8px;
					position: absolute;
					right: 0;
				}

				img {
					margin-right: 10px;
					float: left;
					position: relative;
					top: 3px;
				}
			}
		}

		.pro-map {
			> div {
				position: relative;
			}

			.maps {
				height: 470px;
			}
		}

		.pro-sondages {
			h2 {
				@include ft($f_hx, 5em, 700, $c_txt, 1em);
				display: block;
				@include mobile {
					font-size: 4em;
				}
				@include mobile_small {
					font-size: 3em;
				}
			}

			> div {
				margin: 30px 0;
				@include clearfix();

				&:nth-child(odd) {
					.pro-number-sondage {
						float: right;
						margin-right: 0;
						margin-left: 30px;
						text-align: right;
					}
				}

				.pro-number-sondage {
					width: 52%;
					float: left;
					margin-right: 30px;
					@include mobile {
						width: 100%;
						margin-right: 0;
					}

					span {
						position: relative;
						display: block;
						@include ft($f_hx, 3.438em, 700, $c_txt, 1em);
						margin-bottom: 15px;

						&:after {
							content: '';
							display: block;
							position: absolute;
							bottom: -6px;
							left: 0;
							right: 0;
							width: 100%;
							height: 18px;
							@include addDynamicBackground();
							z-index: -1;
						}
					}
				}

				.pro-txt-sondage {
					width: calc(48% - 30px);
					float: left;
					@include mobile {
						width: 100%;
					}
				}
			}
		}

		.pro-bloc-telechargements {
			h3 {

			}
		}
	}
}
	.col-md-4-to-move {
		@include tablet_portrait {
			position: static;
			margin-top: 0;
			height:auto;
		}
		@include addTransitionCurve();
		position: sticky;
		top: 160px;
		margin-top: -500px;
		height: 100vh;
		.is-scrolled & {
			top: 80px;
		}

		.is-scrolled.scrolldir-top & {
			top: 152px;
		}
	}
	aside {
		&.col-md-4 {
			@include tablet_portrait {
				padding: 0;
			}
		}

		.pro-btn-yellow {
			background: none;
			@include addDynamicTextColor();
			&:hover, &:focus, &.active {
				@include addDynamicBackground();
				color: $c_txt;
			}
			&.pro-btn-disabled{
				background: #ececec;
				color: rgba($c_dark, 0.5);
				border-color: #ececec;
				&:hover, &:focus {
					cursor: default;
				}
			}
		}
		.maps {
			@include tablet_portrait {
				height: 140px;
			}
		}
	}

}