allowedDomains=[ \
  "localhost", \
  "*.strasbourg.eu", \
  "*.oeuvre-notre-dame.org", \
  "*.semaine-entrepreneur.eu", \
  "*.strasbourgaimesesetudiants.eu", \
  "*.strasbourg.cloud", \
  "*.sully-group.fr", \
  ]
allowedIPs=[ \
  "127.0.0.1", \
  "SERVER_IP", \
  ]
securityMode="domain"
