allowedClasses=[ \
  ]
asyncRenderThreadPoolMaxQueueSize=I"2147483647"
asyncRenderThreadPoolMaxSize=I"2147483647"
asyncRenderTimeout=L"0"
asyncRenderTimeoutThreshold=I"10"
includeNavItemsInTheContext=B"true"
localizedLookup=B"false"
logTemplateExceptions=B"true"
loopCountThreshold=I"0"
macroLibrary=[ \
  "FTL_liferay.ftl\ as\ liferay", \
  "FTL_strasbourg.ftl\ as\ strasbourg", \
  ]
resourceModificationCheck=I"60000"
restrictedClasses=[ \
  "com.ibm.*", \
  "com.liferay.portal.json.jabsorb.serializer.LiferayJSONDeserializationWhitelist", \
  "com.liferay.portal.spring.context.*", \
  "io.undertow.*", \
  "java.lang.Class", \
  "java.lang.ClassLoader", \
  "java.lang.Compiler", \
  "java.lang.Package", \
  "java.lang.Process", \
  "java.lang.Runtime", \
  "java.lang.RuntimePermission", \
  "java.lang.SecurityManager", \
  "java.lang.System", \
  "java.lang.Thread", \
  "java.lang.ThreadGroup", \
  "java.lang.ThreadLocal", \
  "org.glassfish.*", \
  "org.jboss.*", \
  "org.springframework.*", \
  "org.wildfly.*", \
  "weblogic.*", \
  ]
restrictedMethods=[ \
  "com.liferay.portal.model.impl.CompanyImpl#getKey", \
  ]
restrictedVariables=[ \
  "httpUtilUnsafe", \
  "objectUtil", \
  "staticFieldGetter", \
  ]
templateExceptionHandler="rethrow"
