.st-barre-navigation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-bottom: 46px;
	z-index: z-index('barre-navigation');
	@include tablet-portrait {
		display: none;
	}

	& ~ main {
		margin-top: 219px;
		@include tablet-portrait {
			margin-top: 0;
		}
	}

	& ~ .st-page-accueil {
		margin-top: 180px;
		@include tablet-portrait {
			margin-top: calc(var(--ancres-height-mobile) + 40px);
		}
		@include mobile {
			margin-top: calc(var(--ancres-height-mobile) + 20px);
		}
	}

	& ~ .st-page-edito {
		margin-top: 219px;
		@include tablet-portrait {
			margin-top: calc(var(--ancres-height-mobile) + 40px);
		}
		@include mobile {
			margin-top: calc(var(--ancres-height-mobile) + 20px);
		}
	}


	.st-is-scrolled & {
		.st-barre-menu {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			max-height: 0;
		}

		.st-barre-liens {
			&:after {
				height: 70px;
			}

		}
	}

	.st-barre-liens {
		position: relative;

		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 130px;
			position: absolute;
			top: 0;
			left: 0;
			background-color: $c_greydark;
			z-index: -1;
			pointer-events: none;
			@include addTransition();
		}
	}

	.st-barre-inner-container {
		display: flex;
	}

	.st-logo {
		@include reset-button;
		display: flex;
		align-items: center;
		margin-right: auto;
		height: 100%;

		@media screen and (max-width: 1200px) {
			width: 120px;
		}
	}

	.st-nav-primary {
		display: flex;
		align-items: center;
		margin-left: auto;

		.st-nav-primary__menu {
			@include reset-styles;
			display: flex;
			align-items: center;
			height: 100%;
		}

		.st-nav-primary__item {
			display: block;
			height: 100%;
		}

		.st-nav-primary__link {
			@include reset-button;
			display: flex;
			align-items: center;
			height: 100%;
			padding: 30px 20px;
			@include ft($f_txt, $s_p, 300, $c_white, 1);
			@include letter-spacing(25);

			@include can-hover {
				color: $c_sub;
			}
			@media screen and (max-width: 1200px) {
				padding: 30px 10px;
			}

			.st-is-scrolled & {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}

		.st-has-lang-dropdown {
			position: relative;
			display: block;
			height: 100%;

			&:after {
				position: absolute;
				right: 30px;
				top: 51%;
				display: block;
				@include icomoon($st-icon-arrow-down);
				font-size: 10px;
				color: rgba($c_white, 0.75);
				transform: translateY(-50%);
				pointer-events: none;

				@media screen and (max-width: 1200px) {
					right: 20px;
				}
			}
		}

		.select-lang {
			position: relative;
			display: flex;
			height: 100%;
			align-items: center;
			padding: 30px 40px 30px 20px;
			@include ft($f_txt, $s_p, 600, $c_white, 1);
			@include letter-spacing(25);
			cursor: pointer;
			@include addTransition();
			@include create-outline();

			@include can-hover {
				color: $c_sub;
			}

			@media screen and (max-width: 1200px) {
				padding-right: 30px;
			}

			.st-is-scrolled & {
				padding-top: 0;
				padding-bottom: 0;
			}
		}

		.st-has-btn-compte {
			display: flex;
			align-items: center;
			height: 100%;
		}

		.st-btn-compte {
			margin: 20px 0;

			.st-is-scrolled & {
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
	}

	.st-barre-dropdown {
		margin-right: 20px;
		height: 100%;
	}

	// Styles pour le dropdown RGAA
	.st-barre-dropdown button {
		@include reset-button;
		position: relative;
		height: 100%;
		padding: 30px 0;
		@include ft($f_txt, $s_p, 300, $c_white, 1);
		@include letter-spacing(25);

		.st-is-scrolled & {
			padding-top: 10px;
			padding-bottom: 10px;
		}

		strong {
			font-weight: 600;
		}

		&:after {
			@include icomoon($st-icon-arrow-down);
			font-size: 10px;
			color: rgba($c_white, 0.75);
			@include addTransition();
		}

		@include can-hover {
			color: $c_sub;
		}

		&[aria-expanded="true"] {
			color: $c_sub;
		}
	}

	.st-barre-dropdown [role="menu"] {
		@include reset-styles;
		display: none;
		position: absolute;
		background-color: $c_greydark;
		margin-top: -10px;
		z-index: 1;
	}

	.st-barre-dropdown [role="menuitem"] {
		@include reset-button;
		display: block;
		width: auto;
		padding: 10px;
		@include ft($f_txt, $s_p, 300, $c_white, 1);
		@include letter-spacing(25);
		outline: 1px solid transparent;
		white-space: nowrap;

		strong {
			font-weight: 600;
		}

		@include can-hover {
			background-color: $c_white;
			color: $c_dark_navy;
		}
	}

	.st-barre-dropdown button[aria-expanded="true"]:after {
		transform: rotate(180deg);
	}

	// Styles pour la barre du menu
	.st-barre-menu {
		position: relative;
		display: flex;
		align-items: center;
		@include addTransition();
	}

	.st-barre-menu-inner {
		display: flex;
		align-items: center;
		width: 100%;
	}

	.st-btn-search {
		@include reset-button;
		flex: 1;
		position: relative;
		height: 80px;
		padding-left: 78px;
		margin-right: 10px;
		@include ft($f_txt, 20px, 400, rgba($c_dim_grey, 0.75), 1);
		@include letter-spacing(25);
		text-align: left;
		background-color: $c_white;
		border-radius: $border-radius-small;

		&:before {
			@include icomoon($st-icon-search);
			position: absolute;
			left: 30px;
			top: 50%;
			font-size: 18px;
			color: $c_dark_navy;
			transform: translateY(-50%);
		}

		@include can-hover {
			color: $c_dark_navy;
		}
	}

	.st-btn-menu {
		@include reset-button;
		display: flex;
		align-items: center;
		height: 80px;
		padding: 30px;
		@include ft($f_txt, 14px, 600, $c_dark_navy, 1);
		@include letter-spacing(25);
		text-transform: uppercase;
		background-color: $c_sub;
		border-radius: $border-radius-small;

		@include can-hover {
			background-color: $c_white;

			.st-btn-menu__line {
				&:nth-of-type(2) {
					width: 100%;
				}
			}
		}

		.st-btn-menu__icon {
			display: block;
			width: 24px;
			height: 14px;
			margin-right: 32px;
		}

		.st-btn-menu__line {
			display: block;
			width: 100%;
			height: 2px;
			background-color: $c_dark_navy;
			margin-bottom: 4px;
			@include addTransition();

			&:nth-of-type(2) {
				width: calc(100% - 6px);
			}

			& + .st-btn-menu__line {
				margin-top: 4px;
			}
		}
	}

}