.st-barre-liens-en-avant {
	.st-slider-container {
		position: relative;
	}

	> .st-wrapper {
		border-bottom: 1px solid $c_border;
	}

	.splide__arrows {
		.st-btn-arrow {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			&.st--prev {
				left: -30px;
			}

			&.st--next {
				right: -30px;
			}
		}
	}

	.splide__track {
		position: relative;
		// Le padding est nécessaire pour ne pas couper le focus
		padding-top: 2px;
		padding-bottom: 2px;

		&:after {
			content: "";
			display: block;
			width: 80px;
			height: 100%;
			background: linear-gradient(90deg, rgba($c_main, 0), rgba($c_main, 1));
			position: absolute;
			top: 0;
			right: 0;
			z-index: 0;
			pointer-events: none;
		}
	}

	.splide__slide {
		position: relative;
		width: 240px;

		&:not(:last-of-type) {
			.st-container {
				&:after {
					content: "";
					position: absolute;
					right: 0;
					top: 20px;
					bottom: 20px;
					display: block;
					width: 1px;
					background-color: $c_border;
				}
			}
		}
	}

	.st-content {
		margin-right: 20px;
	}

	.st-title {
		@include ft($f_hx, 13px, 700, $c_white, 1);
		@include letter-spacing(25);
		@include addTransition();
	}

	.st-text {
		@include ft($f_hx, 12px, 400, $c_grey, 1);
		@include letter-spacing(25);
		@include addTransition();
	}

	.st-container {
		@include reset-button;
		position: relative;
		display: flex;
		align-items: center;
		padding: 20px;
		height: 100%;

		@include can-hover {
			.st-title, .st-content {
				color: $c_sub;
			}
			.st-btn-arrow {
				background-color: $c_sub;
				border-color: transparent;

				&:before {
					color: $c_dark_navy;
				}
			}
		}

		.st-btn-arrow {
			width: 20px;
			height: 20px;
			flex-shrink: 0;

			&:before {
				font-size: 7px;
				transform: translateX(1px);
			}
		}
	}

}