// Couverture dans les fiches lieu avec map ou map + image
.st-header-fiche-lieu {
	margin-bottom: 70px;

	@include tablet-portrait {
		margin-bottom: 50px;
	}

	@include mobile {
		margin-bottom: 30px;
	}

	@include min-tablet-portrait {
		padding-top: 40px;
	}

	.st-visual-container {
		margin-top: 16px;
	}

	.st-top-bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 30px;
		background-color: $c_greydark;
		border-radius: $border-radius $border-radius 0 0;

		@include tablet-small {
			flex-direction: column;
			padding: 20px;
		}
	}

	.st-top-bar__title {
		@include ft($f_txt, 25px, 600, $c_white, 1);
		margin-right: 20px;

		@include tablet-small {
			width: 100%;
			margin-right: 0px;
		}
		@include mobile {
			font-size: 20px;
		}
	}

	.st-top-bar__content {
		text-align: right;
		max-width: 430px;

		@include tablet-small {
			width: 100%;
			max-width: 100%;
			text-align: left;
		}
	}

	.st-frequentation {
		@include ft($f_txt, 18px, 700, $c_white, 1);
		@include letter-spacing(25);

		@include mobile {
			font-size: 14px;
			margin-top: 8px;
		}
	}

	.st-surtitre-cat {
		margin-top: 8px;
	}

	.st-small-text {
		@include ft($f_txt, 12px, 400, $c_txt, 1);
		@include letter-spacing(25);
		font-style: italic;
		margin-top: 7px;
	}

	.st-cover-container {
		display: flex;

		> * {
			flex-grow: 1;
			flex-basis: 0;
			height: 380px;

			@include tablet-portrait {
				height: 350px;
			}

			@include tablet-small {
				flex-basis: auto;
			}
		}

		@include tablet-small {
			flex-direction: column;
		}
	}

	.st-image {
		position: relative;

		@include tablet-portrait {
			flex-grow: 3;
		}
		@include tablet-small {
			height: auto;
		}

		figure {
			height: 100%;
		}

		img {
			border-bottom-left-radius: $border-radius-small;
		}

		& + .st-maps {
			@include min-tablet-small {
				border-radius: 0 0 $border-radius-small 0;
			}
		}
	}

	.st-maps {
		border-radius: 0 0 $border-radius-small $border-radius-small;

		@include tablet-portrait {
			flex-grow: 2;
		}
		@include tablet-small {
			height: 214px;
		}
	}
}