.st-header-edito {
	margin-bottom: 50px;
	padding-top: 40px;

	@include tablet-portrait {
		padding-top: 90px;
	}

	@include mobile {
		padding-top: 80px;
		margin-bottom: 30px;
	}

	// régle spé pour les h1 des headers
	.st-h1 {
		@include mobile {
			font-size: 30px;
		}
	}

	.st-img-wrapper {
		margin-top: 40px;

		@include mobile {
			margin-top: 16px;
		}

		figure {
			@include mobile {
				--aspect-ratio: 320/214;
				@include aspect-ratio(var(--aspect-ratio));
			}

			img {
				border-radius: $border-radius-small;
			}
		}
	}
}