// Couverture dans les fiches actualité
.st-header-fiche-actualite {
	margin-bottom: 34px;
	margin-top: 40px;

	@include mobile {
		margin-bottom: 24px;
		margin-top: 25px;
	}

	.st-heading {
		display: flex;
		flex-wrap: wrap;

		@include mobile {
			flex-direction: column;
		}
	}

	// régle spé pour les h1 des headers
	.st-h1 {
		flex: 1 1 100%;

		@include mobile {
			font-size: 30px;
		}
	}

	.st-surtitre-cat {
		margin-bottom: 8px;

		@include min-mobile {
			margin-right: 10px;
		}

		@include tablet-portrait {
			margin-bottom: 4px;
		}
	}

	.st-date {
		@include ft('', 12px, 400, $c_txt, 1.16);
		@include letter-spacing(25);
		margin-bottom: 8px;

		@include tablet-portrait {
			font-size: 11px;
			margin-bottom: 4px;
		}

		@include mobile {
			order: 3;
			margin-top: 12px;
			margin-bottom: initial;
		}
	}

	.st-image {
		margin-top: 34px;

		@include mobile {
			margin-top: 16px;
		}

		img {
			border-radius: $border-radius-small;
		}
	}
}