.st-pagination {
	display: flex;
	align-items: center;
	margin-top: 60px;
	text-align: center;

	@include mobile {
		margin-top: 20px;
	}

	&:empty {
		display: none;
	}

	.st-container {
		display: flex;
		align-items: center;
		width: 100%;
	}

	.st-pagination-number {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;

		@include mobile {
			margin-right: auto;
		}

		.st-pagination-link {
			@include reset-button;
			--taille: 48px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: var(--taille);
			height: var(--taille);
			@include ft('', 14px, 400, $c_white, 1);
			@include letter-spacing(25);
			border: 1px solid $c_border;
			text-align: center;
			vertical-align: middle;
			border-radius: $border-radius;

			@include mobile {
				--taille: 30px;
				font-size: 12px;
			}

			& + .st-pagination-link {
				margin-left: 10px;
			}

			&.st-is-active {
				font-weight: 500;
				color: $c_main;
				background-color: $c_white;
				border-color: transparent;
			}

			@include can-hover {
				color: $c_main;
				background-color: $c_sub;
				border-color: $c_sub;
			}
		}

		.st-dots {
			margin-left: 26px;
			margin-right: 26px;
			vertical-align: bottom;

			@include mobile {
				margin-left: 10px;
				margin-right: 10px;
			}
		}
	}
}