.st-toolbar-navigation {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: var(--toolbar-height);
	z-index: z-index("barre-navigation");
	background-color: $c_greydark;

	@include min-tablet-portrait {
		display: none;
	}

	.st-wrapper {
		height: 100%;
	}

	.st-toolbar-inner {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.st-has-logo {
		margin-right: auto;
	}

	.st-logo {
		display: flex;
		align-items: center;
		@include create-outline;

		img {
			max-height: 30px;

			@include mobile {
				max-height: 20px;
				width: auto;
			}
		}
	}

	li:not(.st-has-logo) {
		& + li {
			margin-left: 10px;

			@include mobile {
				margin-left: 5px;
			}
		}

		button, a, .select-lang {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 46px;
			height: 46px;
			border-radius: $border-radius;
		}
	}

	.st-has-lang-dropdown {
		.select-lang {
			@include reset-select;
			@include ft('', 14px, 600, $c_white, 1);
			@include letter-spacing(25);
			text-align: center;
			border: 1px solid rgba($c_white, 0.25);
		}
	}

	.st-lien-libre {
		@include create-outline;
		border: 1px solid $c_sub;

		span {
			font-size: 20px;
			color: $c_sub;
		}
	}

	.st-btn-search {
		@include create-outline;
		background-color: $c_white;

		[class^="st-icon-"], [class*=" st-icon-"] {
			font-size: 16px;
			color: $c_greydark;
		}
	}

	.st-btn-menu {
		background-color: $c_sub;
		padding: 0;

		.st-btn-menu__icon {
			display: block;
			width: 16px;
			height: 12px;
			margin-right: initial;

			.st-btn-menu__line {
				display: block;
				width: 100%;
				height: 2px;
				background-color: $c_main;
				@include addTransition();

				& + .st-btn-menu__line {
					margin-top: 3px;
				}
			}
		}
	}
}