<div class="st-bloc st-bloc-infos-complementaires st-wrapper st--has-margin">

  <div class="st-component st-component-type-1">
    <a href="${configuration.urlLink}" class="st-component-container">
      <div class="st-content">
        <h3 class="st-h3 st-title-small" data-lfr-editable-id="title" data-lfr-editable-type="text">Morbi quis est gravida</h3>
        <p data-lfr-editable-id="description" data-lfr-editable-type="text">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Nullam orci lacus, elementum ac orci ut, molestie porttitor lacus. </p>
      </div>
      <span class="st-btn-arrow st--btn-outline st--next">
                  </span>
    </a>
  </div></div>
