<div class="st-bloc st-bloc-citation st-wrapper st--has-margin">
        <div class="st-citation-container">
            <span class="st-icon-quote" aria-hidden="true"></span>
            <blockquote class="st-content">
                <p data-lfr-editable-id="content" data-lfr-editable-type="text">Cras molestie at sapien vitae finibus. Donec pharetra consequat pharetra. Nulla maximus, justo quis
                    molestie mattis, felis elit placerat nibh, lobortis molestie mi turpis et nisl. Sed at sapien porta,
                    imperdiet tortor vitae, interdum augue. Vivamus in condimentum velit. Suspendisse potenti. Nullam in
                    ultrices eros, a varius tortor.</p>
                <p class="role" data-lfr-editable-id="author" data-lfr-editable-type="text">Auteur / source</p>
            </blockquote>
        </div>
</div>