.portlet-boundary {
  // Add override style if needed
  .portlet-header {
    .autofit-col-expand {
      // Pour cacher le header des portlet
      display: none;
    }
  }

  .portlet {
    margin: 0;
  }
}

.portlet-layout.row {
  margin: 0;
}