@import "style";

@mixin st-btn() {
  @include create-outline();
  @include inline-flex-center;
  max-width: 100%;
  @include ft($f_txt, $s_link_small, 600, $c_main, 1);
  @include letter-spacing(25);
  padding: 11px 30px;
  text-align: center;
  color: $c_white;
  background-color: $c_main;
  border: 1px solid $c_sub;
  border-radius: $border-radius;
  @include transition(color, background-color, border-color);

  @include can-hover {
    color: $c_main !important;
    border-color: transparent;
    background-color: $c_white;
  }

  @include mobile {
    padding: 5px 20px;
    min-height: 40px;
    font-size: 14px;
  }
  @include mobile-small {
    padding: 12px 10px;
    min-height: 40px;
  }

  &:focus-visible {
    @include create-outline();
  }

  &[disabled],
  &[aria-disabled="true"] {
    opacity: 0.25;
    pointer-events: none;
  }
}

@import "custom/*.scss";
.portlet-boundary {
  // Add override style if needed
  .portlet-header {
    .autofit-col-expand {
      // Pour cacher le header des portlet
      display: none;
    }
  }

  .portlet {
    margin: 0;
  }
}
.portlet-layout .portlet-header {
  margin-bottom: 0;
}

.row {
  margin: 0;
}

.st-page-wrapper .lfr-layout-structure-item-row {
  overflow: visible !important;
}

.st-text-styles.st-title-small p {
  font-weight: 700;
  color: #fff;
}

.st-item-row.st-arret {
  display: flex;
  gap: 20px;
  align-items: center;
  grid-template-columns: auto 1fr auto !important;
}

.st-bloc-sit-onglets .st-container.st-arret-container {
  padding: 20px 40px 20px;
}

.st-item-row.st-arret:nth-last-child(2) {
  background-image: url("../images/deco/dotted-line.svg") !important;
}

.ancrage-alerte {
  display: flex;
  align-items: center;
  text-decoration: underline;
  font-weight: 600;
  &:before {
    content: '';
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23D5383B' viewBox='0 0 55 51' %3E%3Ccircle cx='28' cy='27' r='20' fill='white' /%3E%3Cpath class='st0' d='M 27.97 3.46 c -12.48 0 -22.6 10.12 -22.6 22.6 c 0 12.48 10.12 22.6 22.6 22.6 s 22.6 -10.12 22.6 -22.6 C 50.57 13.58 40.45 3.46 27.97 3.46 Z M 32.62 40.06 h -9.31 v -9.31 h 9.31 V 40.06 Z M 31.62 28.69 h -7.31 l -1 -15.69 h 9.31 L 31.62 28.69 Z' /%3E%3C/svg%3E");
  }
}

.st-page-wrapper {
  .form-control {
    margin: revert;
    font-size: revert;
    line-height: revert;
    color: revert;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.transport-letters-icon {
  padding: 7px;
  font-weight: bold;
  border-radius: 6px;
}

.st-img-fit-content {
  picture {
    img {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.cadmin.control-menu-container + .st-page-wrapper .st-barre-navigation {
  margin-top: 56px;
}

.seu-wi.seu-wi-chiffres {
  margin-top:20px;
  margin-bottom: 20px;
  .seu-wi-chiffres-list {
    --col-gap: 40px;
    --row-gap: 20px;
    --col-number: 4;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: calc(var(--col-gap)*-1/2);
    margin-right: calc(var(--col-gap)*-1/2);
    margin-top: calc(var(--row-gap)*-1);
    .seu-wi-chiffres-item {
      width: calc(100%/var(--col-number) - var(--col-gap));
      margin-left: calc(var(--col-gap)/2);
      margin-right: calc(var(--col-gap)/2);
      margin-top: var(--row-gap);
      aspect-ratio: 1/1;
      padding: 20px;
      text-align: center;
      background-color: #20272f;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include mobile {
        width: 100%;
        aspect-ratio: 320 / 135;
      }
      .seu-title {
        font-size: 1.875rem;
        font-weight: 600;
        color: #fff;
        line-height: 1;
        max-width: 145px;
      }

      .seu-wi-title {
        margin-top: 8px;
        font-size: 0.75rem;
        font-weight: 400;
        color: #2ad783;
        line-height: 1.2;
        letter-spacing: .025em;
        text-transform: uppercase;
        max-width: 145px;
      }
    }


  }

  .seu-subtitle {
    margin-top: 15px;
    p {
      text-align: right;
    }
  }
}

.seu-wi.seu-wi-quote {
  margin-top:20px;
  margin-bottom: 20px;
  .seu-container {
    @include tablet-portrait {
      flex-direction: column;
      padding: 20px;
    }
    display: flex;
    align-items: center;
    padding: 40px 40px 40px 60px;
    background-color: #20272f;
    border-radius: 5px;
    width: 100%;
    &:before {
      content: "\e938";
      font-family: "icomoon" !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      font-size: 2.5rem;
      color: #2ad783;
      padding-right: 50px;
      @include tablet-portrait {
        margin-bottom: 20px;
        margin-top: -40px;
        padding-right: 0;
      }
    }
    .seu-section-title {
      display: flex;
      flex-direction: column;
      margin: 0;
      font-family: "TTFors",Sans-Serif;
      font-size: 1.125rem;
      font-weight: 300;
      color: #fff;
      line-height: 24px;
      font-style: italic;
      letter-spacing: .025em;
      .seu-title {
        font-family: "TTFors",Sans-Serif;
        font-size: 1.125rem;
        font-weight: 300;
        color: #fff;
        line-height: 24px;
        font-style: italic;
        letter-spacing: .025em;
      }
      .seu-subtitle {
        font-family: "TTFors",Sans-Serif;
        font-size: 0.75rem;
        font-weight: 400;
        color: #b1b9c3;
        line-height: 1;
        letter-spacing: .025em;
        text-transform: uppercase;
        margin-top: 40px;
      }
    }
  }
}

.seu-wi-link-group {
  margin-top:20px;
  margin-bottom: 20px;
  .seu-media-text {
    .seu-media-title {
      flex: 1;
    }
    &:after {
      content: "Accéder à la page";
      font-size: .875rem;
      font-weight: 600;
      color: #2ad783;
      line-height: 1;
      letter-spacing: .025em;
      @include mobile() {
        font-size: 12px;
      }
    }
  }
}

.st-bloc-liens {
  ul.st-liste {
    > div {
      > div:first-child {
        .st-lien-container {
          --link-padding-top: 36px;
          &:before {
            content: none;
          }
        }

      }
      > div:last-child {
        .st-lien-container {
          --link-padding-bottom: 36px;
        }

      }
      .st-lien-container {
        --link-padding-top: 24px;
        --link-padding-bottom: 24px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 40px;
          right: 40px;
          height: 1px;
          background-image: url(../images/deco/dotted-line.svg);
          pointer-events: none;
        }
      }
    }
  }
}

.seu-wi.seu-media.seu-wi-download, .seu-wi-link-group {
  cursor: pointer;
  pointer-events: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  .seu-media-container {
    border: 1px solid rgba(255,255,255,.25);
    border-radius: 5px;
    padding: 30px 40px;
    @include mobile() {
      padding: 16px;
    }
    display: flex;
    width: 100%;
    .seu-media-right {
      display: flex;
      flex: 1;
      align-items: center;
      .seu-media-text {
        display: flex;
        gap: 10px;
        flex: 1;
        align-items: center;
        > p {
          &:before {
            content: "(";
          }
          &:after {
            content: ")";
          }
        }
        @include mobile() {
          flex-direction: column;
          align-items: flex-start;
        }

      }
      p, span {
        margin: 0;
        font-size: 0.875rem;
      }

      .seu-media-title {
        p {
          font-weight: 400;
          color: #fff;
          line-height: 1;
          letter-spacing: .025em;
          transition: color .2s;
          @include mobile() {
            font-size: 12px;
          }
        }
      }
      span.seu-btn-text {
        font-weight: 600;
        color: #2ad783;
        line-height: 1;
        letter-spacing: .025em;
      }
    }
  }
}

.seu-btn-line {
  .seu-btn-square {
    @include create-outline();
    @include inline-flex-center;
    max-width: 100%;
    padding: 16px 60px;
    margin-bottom: 15px;
    @include ft($f_txt, $s_link, 600, $c_main, 1);
    @include letter-spacing(25);
    text-align: center;
    background-color: $c_sub;
    border: 1px solid transparent;
    border-radius: $border-radius;
    @include transition(color, background-color, border-color);

    @include mobile {
      padding: 15px 30px;
      min-height: 40px;
      font-size: $s_link_small;
    }
    @include mobile-small {
      padding: 12px 10px;
      min-height: 40px;
    }

    @include can-hover {
      color: $c_main;
      background-color: $c_white;
    }

    &:focus-visible {
      @include create-outline();
    }
  }
}

.st-bloc-elu {
  .st-bloc-elu__inner {
    .st-resume-fonction {
      display: block;
      @include ft($f_txt, $s_link, 400, $c_grey, 1.16);
      letter-spacing: 0.025em;
      margin-bottom: 5px;
    }
  }
}

.asset-full-content {
  .align-items-center.d-flex.mb-2 {
    * {
      display: none;
    }

  }
}

.st--has-margin-top {
  margin-top: var(--bloc-spacing);
}

.st-overlay :focus{
  outline: $c_sub auto 1px;
}


/* Formulaire de connexion*/
.st-page-wrapper .login-container{
  label.control-label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 0.875rem;
    font-weight: 500;
    color: #2ad783;
    line-height: 1.42;
    cursor: pointer;
  }

  .form-control {
    font-size: 0.875rem;
    font-weight: 400;
    color: #fff;
    line-height: 1.42;
    width: 100%;
    padding: 18px 20px;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    transition: color .2s, border-color .2s;
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: grid;
    place-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(255, 255, 255, .5);
    transform: translateY(-1px);
    cursor: pointer;
    transition: border-color .2s;
  }

  input[type="checkbox"]:before {
    content: "";
    width: 12px;
    height: 12px;
    opacity: 0;
    transform: scale(0.5);
    background-color: #2ad783;
    transition: opacity 150ms, transform 150ms;
  }

  input[type="checkbox"]:checked:before {
    opacity: initial;
    transform: initial;
  }

  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 16px 60px;
    font-family: "TTForsTrial", Sans-Serif;
    font-size: 0.875rem;
    font-weight: 600;
    color: #171c22;
    line-height: 1;
    letter-spacing: .025em;
    text-align: center;
    background-color: #2ad783;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    transition: color .2s, background-color .2s, border-color .2s;
  }

  .navigation {
    padding: 0 1.25rem;
    margin-top: 0;
  }

  .button-holder {
    padding: 0.75rem 1.25rem;
  }
}


body:not(.no-hover) .st-page-wrapper .login-container button{
  &:hover,&:focus {
    color: #171c22;
    background-color: #fff;
  }
}

/* Formulaire de connexion */

//Login/logout button
.st-page-wrapper .st-btn-icon.st-btn-logout {
  margin-left: -1px;
  border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.st-has-btn-compte {
  .st-btn-compte:not(:only-of-type) {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.st-liste {
    .st-lien-container {
        > div:not([style]) {
            flex-grow: 1;
        }
    }
}

.st-page-wrapper {
  .col-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Gestion des header avec ou sans bandeau sticky */
.st-header-with-sticky {
  margin-bottom: 50px;
  padding-top: 40px;

  @include tablet-portrait {
    padding-top: 90px;
  }

  @include mobile {
    padding-top: 80px;
    margin-bottom: 30px;
  }
}

.st-header-without-sticky {
  margin-bottom: 34px;
  margin-top: 40px;

  @include mobile {
    margin-bottom: 24px;
    margin-top: 25px;
  }
}