

// Variables, mixins, breakpoints
// ==========================================================================
@import "abstracts/var";
@import "abstracts/breakpoints";
@import "abstracts/mixins";

// Icomoon
// ==========================================================================
@import "libs/icomoon/styles";

// Styles de bases, reset
//=====================================
@import "base-theme/reset";
@import "base-theme/font-face";
@import "base-theme/auto";
@import "base-theme/text";
@import "base-theme/images";
@import "base-theme/animations";
@import "base-theme/utilities";
@import "base-theme/rgaa";
@import "base-theme/form-styles";

// Styles des éléments structurants des pages
// ==========================================================================
@import "layout/wrappers";
@import "layout/basic-grid";
@import "layout/grid-12";

// Composants communes du site
// ==========================================================================
@import "components/buttons";
@import "components/social-links";
@import "components/footer";

// Styles pour les artboards
// ==========================================================================
@import "pages-artboards/*";

@import "components/partials/barre-navigation.scss";
