// Icomoon
// ==========================================================================
@import "libs/icomoon/icomoon";

// Variables, mixins, breakpoints
// ==========================================================================
@import "abstracts/var";
@import "abstracts/breakpoints";
@import "abstracts/mixins";

// Styles de bases, reset
//=====================================
@import "base-theme/reset";
@import "base-theme/font-face";
@import "base-theme/auto";
@import "base-theme/text";
@import "base-theme/images";
@import "base-theme/animations";
@import "base-theme/utilities";
@import "base-theme/rgaa";

// Styles des librairies js utilisées dans le projet + fichiers pour faire un overriding des styles de ces librairies
// ==========================================================================
@import "libs/splide";
@import "libs/zoombox";
@import "libs/selectric/selectric";
@import "libs/selectric/selectric-custom";
@import "libs/tarteaucitron/tarteaucitron";
@import "libs/tarteaucitron/tarteaucitron_custom";
@import "libs/leaflet/leaflet";
@import "libs/leaflet/leaflet_cluster";
@import "libs/leaflet/leaflet_custom_popup";
@import "libs/matomo-custom";
@import "libs/formidable/grid";
@import "libs/formidable/dropzone";
@import "libs/formidable/theme";
@import "libs/formidable/components";
@import "libs/formidable/progressbar";
@import "libs/daterangepicker_custom";

// Styles des éléments structurants des pages
// ==========================================================================
@import "layout/wrappers";
@import "layout/basic-grid";
@import "layout/grid-12";
@import "layout/structure";
@import "layout/header_variations";

// Composants communes du site
// ==========================================================================
@import "components/breadcrumbs";
@import "components/buttons";
@import "components/image-wysiwyg";
@import "components/overlay";
@import "components/cards";
@import "components/pagination";
@import "components/social-share";
@import "components/facettes";
@import "components/tooltip";
@import "components/metas";
@import "components/accordeon";
@import "components/social-links";
@import "components/show-more";
@import "components/footer";

// Styles pour la page édito
// ==========================================================================
@import "pages/page-welcome";
@import "pages/page-grille";
@import "pages/page-edito";
@import "pages/page-accueil";
@import "pages/page-listing";
@import "pages/page-fiche-lieu";

// Styles pour les artboards
// ==========================================================================
@import "artboards/artboard-boutons";
@import "artboards/artboard-grille";


@import "components/partials/**/*.scss";


