[#assign fileEntryHelper = serviceLocator.findService("eu.strasbourg.utils.api.FileEntryHelperService") /]
[#setting locale = locale /]

[#if configuration.fileSelector.fileEntryId?has_content]
[#assign url = fileEntryHelper.getFileEntryURL(configuration.fileSelector.fileEntryId?number) /]
[#assign title = fileEntryHelper.getFileTitle(configuration.fileSelector.fileEntryId?number, locale) /]
<a href="${url}" class="st-lien"  [#if configuration.openInNewTab] target="_blank" [/#if]>
  <p class="st-title-lien">
    ${title}
  </p>
  [#if configuration.displayStyle == "complete"]
  <div class="st-lien-content">
    <p class="st-type">(${configuration.fileSelector.extension?upper_case} - ${(configuration.fileSelector.size?number/1024)?floor?round?string.number} Ko)</p>
    <p class="st-text">Télécharger</p>
  </div>
  [#else]
  <p class="st-text">
    <span class="st-type">(${configuration.fileSelector.extension?upper_case} - ${(configuration.fileSelector.size?number/1024?round?string.number)} Ko)</span>
    Télécharger
  </p>
  [/#if]
</a>
</li>
[#else]
<li class="st-lien-container">
  <a href="#" class="st-lien">
    <p class="st-title-lien" >
      Veuillez selectionner une fichier...
    </p>
  </a>
  [/#if]
