.pro-bloc-select {
	@include addTopSlope(30px, #EBECEE);
	position: relative;
	padding: 50px 0 60px 0;
	overflow: hidden;
	@include mobile {
		padding: 20px 0 0 0;
	}
	> * {
		position: relative;
	}

}