.pro-bloc-listing-participation {
	.pro-wrapper-sort {
		position: relative;
		z-index: 140;
		padding: 0;
		display: block;
		width: 100%;
		text-align: right;
		color: $c_white;
		@include clearfix();
		@include mobile{
			padding: 10px 0 20px 0;
		}
		form {
			float: left;
			@include clearfix();
			@include tablet_landscape {
				float: none;
			}
			> * {
				&:first-child {
					padding-left: 0;
				}
			}
		}


		.pro-btn-yellow{
			position: relative;
			width: auto;
			padding: 12px 40px;
			display: inline-block;
			&:hover, &:focus{
				background: $c_dark;
				border-color: $c_dark;
			}
			@include mobile{
				float: none;
				display: block;
			}
		}

		.pro-legend {
			@include ft($f_txt, $s_small, 400, $c_white, 1.636em);
			float: right;
			&:after {
				content: "\e90a";
				@include font();
				float: right;
				line-height: 1.8em;
				margin-left: 5px;
			}
			@include tablet_landscape {
				float: none;
				display: inline-block;
			}
		}
	}

	.pro-wrapper-listing-participation {
		position: relative;
		background: #ffffff;
		padding: 20px 0 10px 0;
		@include mobile {
			padding: 15px 0;
		}


		.pro-bloc-card-participation {
			margin: 20px 0;

			&:hover, &:focus {
				> * {
					box-shadow: 0px 0 20px 0px rgba(0,0,0,0.2);
					transform: none;
				}
			}

			.pro-header-participation {
				display: flex;
				padding: 20px;
				margin-bottom: 20px;
				gap: 10px;
				.pro-header-author {
					flex: 1;
				}
				> p {
					@include ft($f_txt, 0.875em, 400, #4c4c4c, 1.429em);
					strong {
						color: $c_txt;
					}
				}
			}

			.pro-content-participation {
				padding: 0 30px 20px 30px;
				display: flex;
				flex-direction: column;
				gap: 5px;
				&:after {
					left: 30px;
					right: 30px;
					width: calc(100% - 60px);
				}

				h3 {
					@include ft($f_hx, 1.875em, 700, $c_txt, 1.15em);
					margin-bottom: 20px;
					height: 68px;
					overflow: hidden;
					@include mobile{
						font-size: 22px;
						line-height: 28px;
						height: auto;
					}
				}

				.pro-time {
					@include ft($f_txt, 0.875em, 400, $c_txt, normal);
				}
			}

			.pro-footer-participation {
				padding: 10px 30px;
			}
		}
	}

}

.pro-bloc-facette-participation {
	position: relative;
	top: -200px;
	background: #20272F;
	padding-right: 20px;
	.pro-affiner {
		padding: 20px 30px;
		overflow: visible;
		@include mobile {
			margin-bottom: 15px;
			padding: 20px 15px 25px;
		}
	}
	form {
		padding: 0 0 0 30px;
	}
}