

.pro-actu {
	padding: 20px 0 50px;
	@include mobile {
		padding: 20px;
	}
	@include mobile_small {
		padding: 20px;
	}

	.pro-time {
		background: none;
	}

	header {
		text-align: center;

		h1 {
			@include ft($f_hx, 3em, 700, $c_txt, 1.267em);

			margin-bottom: 0;
		}
		figure {
			margin: 20px 0;
			img {
				width: 100%;
				height: 100%;
				@include mobile {
					height: 300px;
				}
			}
		}
		.pro-meta {
			position: relative;
			@include prefixLocationIcon();
			span {
				@include ft($f_hx, 1em, 700, $c_txt);
			}
		}
	}

	#breadcrumb {
		margin-bottom: 20px;
	}

	.pro-content {
		position: relative;
		margin-top: 15px;
		@include tablet_portrait {
			padding: 0;
		}
		p {
			@include ft($f_hx);
		}

		a[class^="pro-btn-"] {
			padding: 12px 20px;
		}

		> * {
			&:last-child {
				margin-bottom: 0;
			}
		}

	}

}