.pro-bloc-slider {
	position: relative;
	padding: 20px 0 40px 0;
	z-index: 100;
	overflow: hidden;
	.container > div {
		position: relative;
	}
	> * {
		position: relative;
	}
	.pro-btn {
		position: absolute;
		right: 120px;
		top: 15px;
		background-color: #171C22;
		@include tablet_portrait {
			position: relative;
			top: 0;
			right: 0;
			padding: 7px 25px;
		}
		&.pro-btn-white {
			background-color: $c_white;
			color: #171C22;
		}
	}
	h2 {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
		font-size: 2.500em;
		line-height: 2em;
		@include mobile {
			margin-bottom: 5px;
			font-size: 1.500em;
			line-height: 1.5em;
		}



	}

	.owl-cards {
		&.owl-projet {
			display: none;
			&.active {
				display: block;
			}
		}
		.owl-stage-outer {
			overflow: visible;
			.owl-item {
				width: 435px !important;
				@include tablet_portrait {
					width: 330px !important;
				}
				@include mobile {
					min-width: auto;
					height: 100%;
				}
				@include mobile_small {
					width: 260px !important;
				}
				@include addTransitionCurve();
				&.opacify {
					opacity: 0.4;
					@include addTransitionCurve();
					.bloc-card-projet {
						&:hover {
							&:before {
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								opacity: 0;
								z-index: 10;
								visibility: hidden;
							}
							> a {
								> .img {
									z-index: 20;
									top: 0;
									left: 0;
									right: 0;
									width: 100%;
									margin-bottom: 0;
									figure {
										height: 242px;
										img {
											opacity: 1 !important;
										}
									}
									> span {
										opacity: 0;
										right: 40px;
									}
									&.pro-no-photo {
										width: 358px;
									}
								}
								> .content {
									&:after {
										background: $c_white;
										left: 0;
										right: 0;
									}
								}
							}
							> ul {
								transform: scaleY(0);
								left: 0;
								right: 0;
								width: 100%;
							}
						}
					}
				}
				&.active {
					opacity: 1;
				}
				.item {
					width: 100%;
					height: 100%;
					padding-top: 20px;
					@include tablet_portrait {
						padding-top: 0;
						margin-top: 40px;
					}
				}
			}
		}
		.owl-nav {
			display: block;
			.owl-prev, .owl-next {
				border-color: $c_txt;
				border: none;
				box-shadow: none;
				width: 22px;
				height: 22px;
				transform: none;
				margin-top: -22px;
				@include addTransition();
				span {
					font-size: 20px;
					position: absolute;
					left: 0;
					top: 0;
					line-height: 20px;
					text-align: left;
					@include addTransition();
				}
				&:hover, &:focus {
					span{
						@include addDynamicTextColor();
					}
				}
				&.disabled {
					opacity: 10%;
				}
			}
			.owl-prev {
				top: -43px;
				right: 70px;
				@include tablet_portrait {
					top: -18px;
					right: 74px;
				}
				left: auto;
				span {
					border: 1px solid #D9D9D9;
					background-color: $c_white;
					font-size: 25px;
					padding: 15px;
					@include tablet_portrait {
						padding: 9px;
					}
				}
			}
			.owl-next {
				right: 0;
				top: -43px;
				@include tablet_portrait {
					right: 25px;
					top: -18px;
				}
				span {
					border: 1px solid #D9D9D9;
					background-color: $c_white;
					font-size: 25px;
					padding: 15px;
					@include tablet_portrait {
						padding: 9px;
					}
				}
			}
		}
		.owl-dots {
			position: relative;
			text-align: left;
			z-index: -1;
		}
	}
	&.pro-slider-event:first-child {
		h2 {
			color: $c_white;
		}
	}


	&.pro-slider-event.slider-agenda:first-child {
		h2 {
			color: $c_txt;
		}
	}
	&.pro-slider-event {
		.pro-header-budget {
			position: absolute;
			top: 0;
			padding: 10px;
			.pro-info-top-right {
				position: absolute;
				top: 185px;
				padding-left: 10px;
			}
		}
		padding: 20px 0 60px 0;

		.container > * {
			@include mobile {
				padding: 0;
			}
		}
		.container > .pro-btn {
			@include mobile {
				padding: 12px 35px;
			}
		}
		.owl-cards {
			padding-left: 0;
			&:not(.owl-loaded){
				.item{
					display: none;
					&:first-child{
						display: inline-block;
					}
				}
			}

			.item{
				width: 435px !important;
				@include mobile {
					width: 330px !important;
					height: auto;
				}
				@include mobile_small {
					width: 260px !important;
				}
			}

			.owl-item {
				width: 435px !important;
				@include mobile {
					width: 330px !important;
					height: auto;
				}
				@include mobile_small {
					width: 260px !important;
				}
				.item {
					margin-top: 20px;
					padding: 0;
					width: 100%;
				}

				&.opacify {
					.item {
						pointer-events: none;
						&:hover, &:focus {
							cursor: default;
							> * {
								box-shadow: none;
								transform: none;
							}
							.pro-footer-event {
								.pro-btn-action {
									&:hover {
										background: transparent;
										border-color: $c_dark;
										&:after {
											content: none;
										}
									}
								}
							}
						}
					}
				}

			}
		}

		.owl-dots {
			display: block;
			position: relative;
		}

	}

	&#pro-link-projet {
		@include addTopSlope(30px, #8DC63F);
		h2 {
			color: $c_white;
		}
		padding: 20px 0 60px 0;
		.owl-dot {
			border-color: $c_white !important;
			&.active {
				background-color: $c_white !important;
			}
		}
		.owl-prev, .owl-next {
			span {
				background-color: transparent;
				&:before {
					color: $c_white;
				}
			}
		}
	}
	&#pro-link-participation {
		@include addTopSlope(30px, #EBECEE);
		padding: 20px 0 60px 0;
	}

	&#pro-link-budget-participatif {
		@include addTopSlope(30px, #F37021);
		.owl-dot {
			border-color: $c_white !important;
			&.active {
				background-color: $c_white !important;
			}

		}
		.owl-prev, .owl-next {
			span {
				background-color: transparent;
				&:before {
					color: $c_white;
				}
			}
		}

	}

	&.pro-bloc-select {
		@include addTopSlope(30px, #EBECEE);
		padding: 20px 0 60px 0;
	}

	&.pro-slider-participation {
		padding: 0 0 70px 0;
		margin-top: 20px;
		.pro-listing-count {
			color: black !important;
			font-weight: lighter;
		}

		.pro-listing-strasbourg {
				color: #F37021;
		}

		.pro-listing-ems {
				color: #00AEEF;
		}

		.container > * {
			@include mobile {
				padding: 0;
			}
		}
		.container > .pro-btn {
			@include mobile {
				padding: 12px 35px;
			}
		}
		.owl-cards {
			padding-left: 0;
			&:not(.owl-loaded){
				.item{
					display: none;
					&:first-child{
						display: inline-block;
					}
				}
			}

			.item{
				width: 435px !important;
				@include mobile {
					width: 330px !important;
					height: auto;
				}
				@include mobile_small {
					width: 260px !important;
				}
			}

			.owl-item {
				width: 435px !important;
				@include mobile {
					width: 330px !important;
					height: auto;
				}
				@include mobile_small {
					width: 260px !important;
				}
				.item {
					margin-top: 20px;
					padding: 0;
					width: 100%;
				}

				&.opacify {
					.item {
						&:hover, &:focus {
							cursor: default;
							> * {
								box-shadow: none;
								transform: none;
							}

							h3 {
								cursor: default;
							}
							.pro-footer-event {
								.pro-btn-action {
									&:hover {
										background: transparent;
										border-color: $c_dark;
										&:after {
											content: none;
										}
									}
								}
							}

							.pro-footer-participation {
								.pro-avis {
									> * {
										background: #f5f5f5;
										color: $c_dark;
									}
								}
								.pro-form-style {
									border: 1px solid rgba(0, 0, 0, 0.25);
								}
							}
						}
					}
				}

			}
		}

	}
}