.pro-bloc-listing-participation {
	.pro-wrapper-sort {
		position: relative;
		z-index: 140;
		padding: 0;
		display: block;
		text-align: right;
		color: $c_white;
		@include clearfix();
		@include mobile{
			padding: 10px 0 20px 0;
		}
		form {
			float: left;
			@include clearfix();
			@include tablet_landscape {
				float: none;
			}
			> * {
				&:first-child {
					padding-left: 0;
				}
			}
		}


		.pro-btn-yellow{
			position: relative;
			width: auto;
			padding: 12px 40px;
			display: inline-block;
			&:hover, &:focus{
				background: $c_dark;
				border-color: $c_dark;
			}
			@include mobile{
				float: none;
				display: block;
			}
		}

		.pro-legend {
			@include ft($f_txt, $s_small, 400, $c_white, 1.636em);
			float: right;
			&:after {
				content: "\e90a";
				@include font();
				float: right;
				line-height: 1.8em;
				margin-left: 5px;
			}
			@include tablet_landscape {
				float: none;
				display: inline-block;
			}
		}
	}

	.pro-wrapper-listing-participation {
		position: relative;
		background: #ffffff;
		padding: 20px 0 10px 0;
		@include mobile {
			padding: 15px 0;
		}


		.pro-bloc-card-participation {
			margin: 20px 0;

			&:hover, &:focus {
				> * {
					box-shadow: 0px 0 20px 0px rgba(0,0,0,0.2);
					transform: none;
				}
			}

			.pro-header-participation {
				display: flex;
				padding: 10px 20px;
				margin-bottom: 20px;
				gap: 15px;
				align-items: center;
				.pro-header-author {
					flex-grow: 1;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 5px;
					overflow: hidden;
				}
				> p {
					@include ft($f_txt, 0.875em, 400, #4c4c4c, 1.429em);
					strong {
						color: $c_txt;
					}
				}
			}

			.pro-content-participation {
				padding: 0 30px 20px 30px;
				display: flex;
				flex-direction: column;
				gap: 5px;
				&:after {
					left: 30px;
					right: 30px;
					width: calc(100% - 60px);
				}

				h3 {
					@include ft($f_hx, 1.875em, 700, $c_txt, 1.15em);
					margin-bottom: 20px;
					@include ellipsis(3, 1.25em);
					@include mobile{
						font-size: 22px;
						line-height: 28px;
						min-height: 82.5px;
					}
				}

				.pro-time {
					@include ft($f_txt, 0.875em, 400, $c_txt, normal);
				}
			}

			.pro-footer-participation {
				padding: 0;
				display: flex;
				align-items: center;
				&.pro-participation-deadline {
					padding: 0 25px;
				}
			}
			.pro-footer-petition {
				padding: 0 25px;
				background: $c_dark;
				height: 86px;
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
				border-top: none;
				@include mobile {
					padding: 10px 20px;
				}

				.pro-progress-bar {
					padding: 5px 0;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					transform: translate3d(0, -50%, 0);
					.pro-progress-container {
						position: relative;
						width: 100%;
						height: 6px;
						border-radius: 6px;
						background: #585d63;
						box-shadow: inset 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
						margin-bottom: 8px;
						> div {
							position: absolute;
							left: 0;
							top: -1px;
							bottom: -1px;
							background: $c_white;
							border-radius: 6px;
						}
					}
					p.pro-txt-progress {
						@include ft($f_txt, 0.875em, 400, $c_white, normal);
						text-align: center;
						margin: 0;
					}

					& + .pro-btn-yellow {
						margin-bottom: 15px;
					}
				}

				> p {
					@include ft($f_txt, $s_small, 400, $c_txt, 80px);
					float: left;
					margin-bottom: 0;
					@include mobile {
						float: none;
						line-height: 20px;
					}
				}
			}
		}
	}

}

.pro-bloc-facette-participation {
	position: relative;
	background: #20272F;
	padding-right: 20px;
	.pro-affiner {
		padding: 20px 30px;
		overflow: visible;
		@include mobile {
			margin-bottom: 15px;
			padding: 20px 15px 25px;
		}
	}
	form {
		padding: 0 0 0 30px;
	}
}