.pro-bloc-accordion {
	margin-bottom: 5em;
	position: relative;
	@include clearfix();
	@include addTopSlope(30px, $c_white);

	h2 {
		@include ft($f_hx, 2.813em, 700, $c_dark, normal);
		text-transform: none;
		margin-top: 20px;
		margin-bottom: 30px;
		text-align: right;
		@include mobile {
			font-size: 1.5em;
			margin-bottom: 40px;
		}
	}
.panel-group {
	padding: 0;
	border: solid 1px #c5c6c7;
	margin-bottom: 20px;
	.panel {
		border: none;
		&:not(:last-child) {
			border-bottom: dashed 2px #d3d5d6;
		}
		&:last-child {
			border-bottom: solid 1px #c5c6c7;
		}
		.panel-heading {
			background: none;
			padding: 10px 20px;
			padding: 0;

			&[aria-expanded="true"] {
				h3 {
					background-color: #20272f;
					color: $c_white;
					&:after {
						content: '\23F6';
						color: $c_white;
						border-color: $c_white;
					}
				}
			}
			&[aria-expanded="false"] {
				h3 {
					&:after {
						content: '\23F7';
					}
				}
			}

			h3 {
				@include addTransition();
				position: relative;
				@include ft($f_hx, 1.5em, 700, $c_dark, normal);
				text-transform: uppercase;
				margin: 0;
				display: flex;
				align-items: center;
				@include mobile {
					font-size: 1em;
				}
				span {
					flex: 1;
					position: relative;
					display: inline-block;
					padding: 25px;
					text-decoration: none;
				}
				&:after {
					padding: 5px 11px;
					border: solid 1px #d9d9d9;
					line-height: normal;
					margin-right: 17px;
				}
			}
		}

		.panel-collapse.in {
			position: relative;
			transform: translate3d(0, 0, 0);
		}

		.panel-body {
			position: relative;
			padding: 25px;
			border: none;
			background: none;
			transition-delay: 0.4s;
			transition: all 0.5s ease;


			h4 {
				@include ft($f_hx, 1.125em, 700, $c_dark, normal);
				margin-top: 30px;
			}
			p {
				@include ft($f_hx, 1em, 400, #606060, 1.5em);
				margin-bottom: 10px;
			}

			ul {
				padding: 0;
				margin-bottom: 10px;
				list-style-type: none;
				@include clearfix();
				li {
					@include ft($f_hx, 1em, 400, #606060, 1.5em);
					padding-left: 22px;
					&:before {
						content: "";
						position: absolute;
						left: 0;
						top: 11px;
						width: 13px;
						height: 4px;
						background: #606060;
					}
					a {
						color: $c_txt;
						text-decoration: none;
						@include addTransition();
						&:hover, &:focus {
							color: $c_grey;
						}
					}
				}
			}

			ol {
				padding: 0;
				margin-bottom: 10px;
				list-style-type: decimal;
				@include clearfix();
				li {
					@include ft($f_hx, 1em, 400, #606060, 1.5em);
					margin-left: 15px;
					a {
						color: $c_txt;
						text-decoration: none;
						@include addTransition();
						&:hover, &:focus {
							color: $c_grey;
						}
					}
				}
			}
		}

	}

}


}