.pro-bloc-dashboard {
  position: relative;
  z-index: 10;
  background: url(../images/background/background-dashboard-2x.png);
  background-size: cover;

  .pro-user {
    display: flex;
    justify-items: flex-end;
    align-items: center;
    height: 60px;
    @include clearfix();

    > * {
      float: right;
    }

    > span {
      @include ft($f_txt, 0.875em, 400, $c_white, 16px);
      margin-right: 20px;

      span {
        font-weight: 700;
      }
    }

    a {
      position: relative;
      display: block;
      height: 100%;


      &:after {
        content: "\e93a";
        @include font();
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 20px;
        line-height: 60px;
        color: $c_white;
        opacity: 0;
        @include addTransition();
      }

      &:hover, &:focus {
        &:after {
          opacity: 1;
        }

        figure {
          img {
            opacity: 0.5;
          }
        }

        span {
          opacity: 1;
        }
      }

      .no-hover & {
        &:hover, &:focus {
          span {
            opacity: 0;
          }
        }
      }

      figure {
        position: relative;
        top: 10px;
        border-radius: 50%;
        overflow: hidden;

        img {
          @include addTransition();
        }
      }

      span {
        @include ft($f_txt, 0.688em, 400, rgba($c_white, 0.5), normal);
        position: absolute;
        left: 50%;
        right: 0;
        bottom: -10px;
        width: 100px;
        text-align: center;
        margin-left: -50px;
        opacity: 0;
        @include addTransition();
      }
    }
  }

  .pro-wrapper-dashboard {
    padding: 40px 0 90px 0;

    #pro-onglet-activite {
      display: flex;
      flex-wrap: wrap;

      .col-lg-3 {
        @media (min-width: 992px) {
          flex: 0 0 50%;
          max-width: 50%;
          padding: 15px;
        }
        @media (min-width: 1200px) {
          flex: 0 0 25%;
          max-width: 25%;
        }
      }
    }

    .pro-title-dashboard {
      position: relative;
      display: flex;
      margin-bottom: 60px;
      @include mobile {
        margin-bottom: 10px;
        flex-direction: column;
      }

      h1, h2 {
        @include ft($f_hx, 2.500em, 700, $c_white, 1.15em);
        display: inline-block;
        flex: 1;
        margin: 0;
        padding: 0 30px 0 0;
        z-index: 10;
      }

      h2 {
        margin-bottom: 0;
      }

      .pro-user {
        align-self: flex-end;
      }
    }


    #pro-onglet-account {
      .pro-title-dashboard {
        margin-bottom: 0;
      }

      .pro-btn-back {
        @include ft($f_hx, 0.938em, 700, $c_white, 1.15em);

        margin-top: 25px;
        display: block;
        margin-bottom: 20px;
        @include addTransition();
        @include mobile {
          margin-bottom: 30px;
        }

        &:before {
          content: "\e90e";
          @include font();
          margin-right: 10px;
          color: $c_white;
          position: relative;
          top: -2px;
          left: 0;
          @include addTransition();
        }

        &:hover, &:focus {
          color: $c_main;

          &:before {
            left: -10px;
          }
        }
      }

      form {
        position: relative;
        clear: both;
        @include clearfix();

        .pro-row {
          position: relative;
          margin: 0 -10px;
          @include clearfix();

          .form-group {
            margin-bottom: 15px;
          }

          .form-half {
            float: left;
            width: 50%;
            padding: 0 10px;
            @include mobile {
              width: 100%;
            }
          }

          .form-third {
            float: left;
            width: 33.33%;
            padding: 0 10px;
            @include mobile {
              width: 100%;
            }
          }

          label {
            @include ft($f_txt, 0.875em, 400, $c_white, 1.15em);
            display: block;
            margin-bottom: 6px;

            .required {
              color: #ff0000;
            }
          }

          input {
            @include ft($f_txt, 0.875em, 400, $c_txt, 20px);
            height: 100%;
            padding: 10px 15px;
            border-color: #b2b2b2;
            background: $c_white;

            &.disabled {
              background: #dcdcdc;

              &:hover, &:focus {
                border-color: #b2b2b2;
              }
            }

            &:hover, &:focus {
              border-color: $c_main;
            }
          }

          .form-city {
            width: calc(100% - 105px);
            float: left;
          }

          .form-code {
            width: 100px;
            float: right;
          }
        }

        .pro-form-submit {
          button {
            @include ft($f_hx, 0.938em, 700, $c_dark, 22px);
            background: $c_main;
            border-radius: 4px;
            display: inline-block;
            padding: 12px 40px;
            border: 2px solid $c_main;

            float: right;
            right: 10px;
            position: relative;
            margin-top: 10px;
            @include addTransition();
            @include mobile {
              width: calc(100% - 20px);
              right: 0;
              float: none;
              padding: 12px 20px;
              margin: 10px 10px 0 10px;
            }

            &:hover, &:focus {
              background: none;
              color: $c_main;
            }
          }
        }


        .displayListing {
          position: relative;
          float: none;
          width: 100%;
          padding: 0 10px;

          .form-group {
            position: relative;
            margin: 10px 0 20px 0;

            input {
              display: none;

              &:checked {
                & + label {
                  &:after {
                    opacity: 1;
                    transform: scale(1);
                  }
                }
              }
            }

            label {
              margin: 0;
              line-height: 20px;
              padding: 0 0 0 30px;

              &:hover {
                color: $c_main;
                cursor: pointer;
              }

              &:before {
                content: '';
                position: absolute;
                float: left;
                margin-right: 10px;
                transform: none;
                text-align: left;
                width: 20px;
                height: 20px;
                border: 1px solid #a6a6a6;
                border-radius: 2px;
                background: #fff;
                cursor: pointer;
                left: 0;
                top: 1px;
              }

              &:after {
                content: "\e91a";
                @include font();
                text-shadow: 1px 1px 0 $c_white, 0px -2px 0 $c_white;
                font-size: 16px;
                position: absolute;
                left: 5px;
                top: 1px;
                transform: translateY(-50%);
                transform: translate3d(0, -50%, 0);
                cursor: pointer;
                color: $c_txt;
                transition: all .2s;
                background: none;
                opacity: 0;
                transform: scale(0);
                @include addTransitionCurve();
              }
            }
          }
        }
      }
    }


    .pro-item {
      position: relative;
      display: block;
      overflow: hidden;

      .pro-link-dashboard {
        display: block;
        position: relative;
        text-align: center;

        > .pro-txt {
          @include ft($f_txt, 1em, 400, $c_white, normal);
          text-align: left;
          display: block;
          margin: auto;
          padding: 10px 30px;

          &:after {
            content: "\23F5";
            @include font();
            float: right;
            position: relative;
            top: 2px;
            right: 0;
            font-size: 15px;
            @include addTransition();
          }
        }
      }

      // Colonne Projets
      // ==========================================================================
      &.pro-item-projet {
        background: #e33a62;
        display: flex;
        flex-direction: column;

        &:hover, &:focus {
          &:before {
            border-color: $c_white;
          }

          .pro-item-center {
            .pro-txt {
              &:after {
                right: 20px;
              }
            }
          }
        }

        &:after {
          content: "\e933";
          @include font();
          position: absolute;
          top: 25px;
          right: 25px;
          color: #fff;
          opacity: 0.1;
          font-size: 70px;
        }

        .pro-item-center {
          position: relative;
          text-align: left;
          padding: 10px 30px;
          flex: 1;
          display: flex;
          align-items: center;

          > span {
            @include ft($f_hx, 1.875em, 400, $c_white, 1.0667em);
            display: inline-block;
            @include addTransition();

            &.pro-number {
              font-size: 6.250em;
              font-weight: 700;
              margin-right: 15px;
            }
          }
        }

        .pro-link-dashboard {
          > span.pro-txt {
            font-weight: bold;
            border-top: 1px dashed #c13153;
          }
        }
      }

      // Colonne Evenements
      // ==========================================================================
      &.pro-item-agenda {
        margin-top: 32px;
        background: $c_white;
        display: flex;
        flex-direction: column;

        &:hover, &:focus {
          .pro-link-dashboard {

          }
        }

        .pro-item-center {
          position: relative;
          text-align: left;
          padding: 10px 30px;
          flex: 1;
          display: flex;
          align-items: center;
          @include addTransition();

          &:after {
            content: "\e90d";
            @include font();
            position: absolute;
            top: 25px;
            right: 25px;
            color: #000;
            opacity: 0.1;
            font-size: 70px;
          }

          > span {
            @include ft($f_hx, 1.875em, 400, $c_txt, 1.0667em);
            position: relative;
            z-index: 10;

            display: inline-block;

            &.pro-number {
              font-size: 6.250em;
              font-weight: 700;
              margin-right: 15px;
              text-transform: capitalize;
            }
          }
        }

        .pro-link-dashboard {
          > span.pro-txt {
            border-top: dashed 1px #d9d9d9;
            color: $c_txt;
            font-weight: bold;
          }
        }
      }

      // Colonne Pétitions
      // ==========================================================================
      &.pro-item-petition {
        background: #5a2cc4;
        @include mobile {
          margin-top: 32px;
        }

        .pro-item-center {
          display: flex;
          flex-direction: column;
          padding: 30px;

          &:after {
            content: "\e938";
            @include font();
            position: absolute;
            right: -8px;
            top: 40px;
            color: #fff;
            font-size: 110px;
            opacity: 0.1;
          }

          > span {
            @include ft($f_hx, 1.875em, 400, $c_white, 1.0667em);

            display: inline-block;

            &.pro-number {
              font-size: 6.250em;
              font-weight: 700;
            }

            &.pro-txt {
              text-align: left;
            }
          }
        }

        .pro-link-dashboard {
          border: none;

          > * {
            border-top: dashed 1px #734bcd;
          }
        }
      }

      // Colonne Initiatives
      // ==========================================================================
      &.pro-item-initiative {
        background: $c_white;
        @include tablet_landscape {
          margin-top: 32px;
        }

        .pro-item-center {
          position: relative;
          text-align: center;
          padding: 20px;

          div {
            > span {
              @include ft($f_hx, 1.875em, 400, $c_txt, 1.0667em);
              display: inline-block;

              &.icon-ico-initiative {
                font-size: 3.5em;
                font-weight: 400;
                opacity: 0.1;
              }

              &.pro-txt {
                width: 100%;
                text-align: center;
                margin-top: 5px;
              }
            }
          }
        }

        .pro-bloc-link-dashboard {
          position: relative;
          display: grid;
          grid-template-columns: 1fr 1fr;
          border-top: dashed 1px #d9d9d9;
          @include clearfix();

          > * {
            &:first-child {
              border-right: dashed 1px #d9d9d9;
            }

            position: relative;
            padding: 20px;
            @include addTransition();

            &:after {
              content: "\23F5";
              @include font();
              display: block;
              text-align: center;
              font-size: 24px;
              color: $c_txt;
              @include addTransition();
            }

            &:hover, &:focus {
              background: $c_dark;

              &:after, strong, span {
                color: $c_white;
              }
            }

            strong {
              @include ft($f_hx, 2.500em, 700, $c_txt, 1.0667em);
              display: block;
              text-align: center;
              margin-bottom: 5px;
              @include addTransition();
            }

            span {
              @include ft($f_txt, 1em, 400, #5d5d5d, normal);
              text-align: center;
              display: block;
              margin: auto;
              @include addTransition();
            }
          }
        }
      }

      // Colonne Budget
      // ==========================================================================
      &.pro-item-budget {
        background: #f37021;
        @include tablet_landscape {
          margin-top: 32px;
        }

        .pro-item-center {
          background: $c_white;

          p {
            @include ft($f_txt, 0.750em, 400, $c_txt, normal);
            position: relative;
            text-align: center;
            margin: 0;
            padding: 0 15px;
            letter-spacing: 1px;
          }
        }

        .pro-title-budget {
          display: flex;
          justify-items: center;
          align-items: center;
          padding: 30px;

          .pro-number {
            @include ft($f_hx, 6.250em, 700, $c_white, 1.0667em);
            margin-right: 15px;
          }

          .pro-title {
            @include ft($f_hx, 1.875em, 400, $c_white, 1.0667em);
            display: inline-block;
          }
        }


        .pro-link-dashboard {
          border: none;
          top: 0;

          > * {
            border-top: 1px dashed #cf5f1c;

            &:hover, &:focus {
              &:after {
                right: -10px;
              }
            }
          }
        }

        .pro-info-vote {
          padding: 20px;
          margin: 10px;
          background: #20272f;

          span {
            @include ft($f_txt, 0.875em, 400, $c_white, 1em);
            position: relative;

            &:after {
              content: "\e939";
              @include font();
              font-size: 24px;
              line-height: 16px;
              color: #8dc63f;
              float: right;
            }

            strong {
              font-size: 1.286em;
              font-weight: 700;
            }
          }
        }
      }
    }

  }
}

.pro-bloc-slider {
  position: relative;
  z-index: 50;
}


.pro-wrapper-list-dashboard {
  position: relative;
  z-index: 10;

  .pro-bloc-slider {

    &#pro-link-listing-petition-signe, &#pro-link-listing-petition-depose {
      @include addTopSlope(30px, #5a2cc4);
      background-color: #5a2cc4;
      @include whiteTextSlider();
      @include overridePetitionCard();
  }

  &#pro-link-listing-initiative-aide, &#pro-link-listing-initiative-depose {
    @include addTopSlope(30px, $c_white);
    background-color: $c_white;
    @include darkTextSlider();
    @include overrideAtelierCard();
  }

  &#pro-link-listing-event {
    @include addTopSlope(30px, $c_white);
    background-color: $c_white;
    @include darkTextSlider();
    @include overrideEventCard();
  }

  &#pro-link-listing-projet {
    @include addTopSlope(30px, #e33a62);
    background-color: #e33a62;
    @include whiteTextSlider();

  }

  &#pro-link-listing-projet-soumis, &#pro-link-listing-projet-vote {
    @include addTopSlope(30px, #f37021);
    background-color: #f37021;
    @include whiteTextSlider();
  }


}

}