%organism-family-kiosk{    
    @extend %molecule-home-section;

    h2:before{
        background-image: url( svg-bg-uri($svg-wave, #dddddd) );
    } 

    .error  {
        background-image: url( svg-bg-uri($svg-exclamation, #5c5c5c) );
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 15px 15px;
        background-color: #FFDDDE;
        padding: 15px 20px;
        padding-left: 60px;
		color: #505050;
		font-size: 18px;
        margin-bottom: 20px;
    }

    .info  {
        background-image: url(../images/picto-message-info.png);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 15px 15px;
        background-color: #DDEEFF;
        padding: 15px 20px;
        padding-left: 60px;
		color: #505050;
		font-size: 18px;
	    margin-bottom: 25px;
        margin-top: -20px;
    }

    .warning  {
        background-image: url( svg-bg-uri($svg-exclamation, #5c5c5c) );
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 15px 15px;
        background-color: #FFDDDE;
        padding: 15px 20px;
        padding-left: 60px;
		color: #505050;
		font-size: 18px;
	    margin-bottom: 25px;
	    margin-top: -20px;

        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    .content {
    	font-size: 1.8rem;
    	color: #7e7e7e;
    	margin-bottom: 10px;
    }

    @extend %skin-form-validation;
    .webform-layout-box{
        display: flex;
        justify-content: space-between;
        
        @include RWD(mobile){
            display: block;
        }
    }
    .form-group{
        margin-bottom: 15px;
        width: 100%;

        @include RWD(tablet_only){
            flex: 1;
            & + .form-group{
                margin-left: 30px;
            }
        }
    }
    .form-group.request{

        .form-group{
            margin-bottom: 0;
        }

        &:not(:first-child) {
            margin-top: 30px;
        }
    }
    label{
        @extend %text-form-label;
        .required{
            color: #ff1818;
        }
        margin-bottom: 5px;
    }

    .upper-title{
    	text-transform: uppercase;
    	margin-top: 20px;
    	margin-bottom: 10px;
    }

    strong{
        font-weight: 600;
    }
}
