// Style pour les formulaires
.portlet-forms {

    .ddm__radio label{
        padding-left: 0px;

        &:before{
            content: none;
        }
    }

    .lfr-ddm-form-page-title{
        line-height: normal;
    }

    .form {
        margin-bottom: 80px;
        @include mobile {
            margin-bottom: 40px;
        }

        .ddm-form-basic-info{
            .ddm-form-name {
                display: none;
            }

            .ddm-form-description{
                @include ft($f_hx, 1.4em, 700, $c_dark, 1em);
                letter-spacing: -0.5px;
                margin-bottom: 10px;
                display: inline-block;
                padding: 0;

                &:after{
                    content:"Tous les champs marqués par * sont requis.";
                    @include ft($f_txt, 0.8em, 400, $c_grey, 1.25em);
                    display: block;
                    text-transform: none;
                }
            }
        }
        
        .ddm-form-page{
            padding: 0;

            h3, h4 {
                display: none;
            }

            .row{
                margin-top: 25px;

                label, legend {
                    @include ft($f_hx, 1.4em, 700, $c_dark, 1.1em);
                    position: relative;
                    display: block;
                    margin: 10px 0 5px 0;
                    text-transform: none;

                    .reference-mark{
                        display: inline-block;
        
                        svg{
                            display: none;
                        }
        
                        &:after {
                            content: '*';
                            color: #ff0000;
                            position: relative;
                            margin: 0 2px;
                            top: -1px;
                        }
                    }
                }

                p{
                    position: relative;
                    display: block;
                    margin: 0 0 20px 0;
                    @include ft($f_txt, 1.143em, 400, $c_dark, 1.6em);
                }

                .form-text{
                    font-style: italic;
                }

                .form-control, .dropdown-toggle{
                    box-shadow: none;

                    &:focus, &:hover{
                        border-color: $c_sub;
                    }
                }
                
                .custom-control-label-text {
                    @include ft($f_txt, 1em, 400, $c_dark, 1.571em);
                    margin: 0 40px 10px 0;
                    user-select: none;
                    padding: 0 0 0 30px;
                }

                input[type="checkbox"]{
                    
                    +span{
                        &:before {
                            content: '';
                            position: absolute;
                            float: left;
                            margin-right: 10px;
                            transform: none;
                            text-align: left;
                            width: 20px;
                            height: 20px;
                            border: 1px solid #a6a6a6;
                            border-radius: 2px;
                            background: #fff;
                            cursor: pointer;
                            left: 0;
                            top: 2px;
                            box-shadow: none;
                        }
                    }

                    &:checked+span:after {
                        content: "\e91a";
                        font-family: 'icomoon' !important;
                        font-weight: normal;
                        line-height: 1;
                        text-shadow: 1px 1px 0 #fff, 0px -2px 0 #fff;
                        left: 5px;
                        top: 2px;
                    }
                } 


                input[type="radio"]{
                    position: relative;
                    
                    /* dans les grids */						
                    &:before {
                        content: "";
                        position: absolute;
                        top: -1px;
                        left: -1px;
                        width: 16px;
                        height: 16px;
                        border: 1px solid #adb5bd;
                        border-radius: 50%;
                        background: white;
                    }
                    
                    &:checked:after {
                        content: "";
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: $c_sub;
                    }
                    /* dans les grids */

                    &+span {
                        padding: 7px;

                        .custom-control-label-text{
                            padding-left: 5px;
                        }

                        &:before{
                            top: 3px;
                            border-color: #adb5bd;
                            background-color: transparent;
                            box-shadow: none;
                        }
                    }
                
                    &:checked+span:after {
                        content: " ";
                        position: absolute;
                        top: 6px;
                        left: 3px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50px;
                        background: $c_sub;
                    }
                }

                .results-chosen{
                    justify-content: start;padding: 0.375rem 0.75rem;

                    a{
                        display: none;
                    }

                    &:after {
                        content: "\e930";
                        font-family: 'icomoon' !important;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        display: inline-block;
                        vertical-align: middle;
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        font-size: 20px;
                        margin-top: -10px;
                    }

                    li{
                        padding-left: 0;
                        padding-right: 15px;

                        &:before {
                            content: none;
                        }

                        span{
                            margin: 0;

                            .label-item-expand{
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }
        
        .lfr-ddm-form-pagination-controls{
            text-align: center;

            button {
                @include ft($f_hx, 0.938em, 700, $c_dark, 22px);
                @extend %appearance;
                padding: 14px 20px;
                text-align: center;
                @include addDynamicBackground();
                border-radius: 4px;

                width: 300px;
                margin: 40px auto 0;
                float: none !important;
                @include addTransition();
                @include mobile {
                    width: 100%;
                    margin: 30px auto 10px;
                }
                &:hover, &:focus {
                    background: $c_dark;
                    @include addDynamicTextColor();
                }
            }
        }
    }
}
// Fin du style pour les formulaires

//  Style pour le signalement
.pro-wrapper-registre form#form-signalements {
    margin-bottom: 0;

    button[type="submit"]:hover, button[type="submit"]:focus{
        border: 2px solid #2ad1a8;
    }
}
// Fin du style pour le signalement

// Style pour la pagination
.pro-wrapper-registre .pro-pagination {

    ul li:before{
        content: none;
    }

    .selectric-wrapper {

        .selectric{
            border: none;

            .label{
                font-family: $f_hx;
                font-size: .938em;
                line-height: 1.6em;
                padding: 0;

                &:after{
                    content: '';
                    top: auto;
                    right: 0;
                }
            }
        }

        .selectric-items{    
            top: 110%;
            border: none;
            
            ul{
                font-size: 12px;

                li{                    
                    font-family: $f_hx;
                    font-size: .938em;
                    line-height: 1.6em;
                }
            }
        }
    }
}
// Fin style pour la pagination

// Style pour la sélection d'image et de documents
.pro-bloc-pcs-form {
    .upload-image, .upload-file {
        padding-right: 35px;
        border-radius: 4px;
    }

    .documentSelected{
        width: 100%;
        margin-bottom: 10px;
        position: relative;
    
        .browsePicture{
            padding-top: 0;
    
            .form-group{
                margin-bottom: 0;
            }
        }
    } 
    
    .deleteImage, .deleteFile {
        font-family: 'icomoon' !important; 
        position: absolute;
        margin-top: -28px;
        right: 10px;
        cursor: pointer;
        
        &::before {
            content: "\e91b";
        }
    }

    .help-block + .deleteImage, .help-block + .deleteFile{
        margin-top: calc(-1em - 43px);
    }

    .btn:hover ~ .deleteImage, .btn:focus ~ .deleteImage, .btn:hover ~ .deleteFile, .btn:focus ~ .deleteFile{
        @include addDynamicTextColor();
    }
} 
// Fin style pour la sélection d'images et de documents

// Style pour les alertes de modifications de budget participatifs
[id*=ProjectPopupPortlet] .lfr-alert-container{ 
    position: fixed;
    top: 100px;
} 
// Fin style pour les alertes de modifications de budget participatifs

// Affichage des menus des portlets
.portlet:hover > .portlet-topper{
    width: calc(100% - 35px);
    height: auto;
  }
  .portlet-journal-content.portlet-barebone .portlet .portlet-header{
    z-index: 150;
    transform: translateY(-112%);

    .visible-interaction {
      
      display: inline;
      .lfr-icon-menu{
        background-color: transparent;
        display: inline;
  
        > a{
          height: 32px;
          line-height: 32px;
          width: 32px;
  
          .lexicon-icon{
            height: 32px;
            width: 32px;
            padding: 8px;
          }
        }
      }
    }
  }
// Fin affichage des menus des portlets

.journal-content-article .pro-header-medium .caption p {
    a, a:hover{
        color: #fff;
        text-decoration: underline;
    }

}
// Fin correctifs d'affichage des liens après renouvellement de charte grahique de fin 2020

// Hotfix de SimplebarJS (version 5.3.0) ne permettant plus le scroll plus sous Chrome 89 et Safari
#th-global .pro-modal .modal-dialog {
    pointer-events: inherit;
}

// Correctifs border sur les label (mantis 5606)
#th-global .label {
    border-style: none;
}
// Fin correctifs border sur les label (mantis 5606)

.radio label, .checkbox label {
    padding-left: 20px !important;
}

.radio input[type='radio'], .radio-inline input[type='radio'], .checkbox input[type='checkbox'], .checkbox-inline input[type='checkbox'] {
    margin-left: -20px !important;
}


div[style="padding:5px; background-color:#9ba0ee; border:2px solid #656ab0; -moz-border-radius:9px; -khtml-border-radius:9px; -webkit-border-radius:9px; border-radius:9px;"] {
    width: 100%;
    border-radius: 0 !important;
    border: none !important;
    margin: 20px 0 !important;
    padding : 40px !important;
    background-color: #e8e9e9 !important;
    position: relative;
    div[style="font-size: 2em; float: left; width: 40px; text-align: center; margin-right: 5px; height: 20px; padding:3px;"] {
        display: none;
    }

    p {
        display: flex;
        flex-direction: column;
        gap : 15px;
        br {
            display: none;
        }
        em {
            font-style: normal;
        }
        strong {
            &:before {
                content: '\e707';
                @include font();
                margin-right: 10px;
            }
        }
    }


}

div.reply-city {
    width: 100%;
    margin: 20px 0;
    padding : 40px;
    background-color: #e8e9e9;
    position: relative;
    display: flex;
    flex-direction: column;
    gap : 25px;
    > span {
        @include ft($f_hx, 0.9em, 700, #171c22);
        text-transform: uppercase;
        &:before {
            content: '\e707';
            @include font();
            margin-right: 10px;
            color: #171c22;
        }
    }

    > div {
        display: flex;
        gap : 15px;
        align-items: center;
        span.response {
            padding: 7px;
            background: $c_white;
            border: solid 1px #f6f6f6;
            font-weight: 700;
        }
        span.comment {
            @include ft($f_hx, 0.95em, 400, #171c22);
            &:after {
                content: ' »';
            }
            &:before {
                content: '« ';
            }
        }

    }


}

form {
    .form-control.disable, .form-control[readonly], .form-control[disabled] {
        background-color: #e8e9ea;
    }
}